@font-face {
  font-family: 'Open Sans';
  /*src: url('font/Open_Sans/OpenSans-Bold.ttf');
  src: url('font/Open_Sans/OpenSans-BoldItalic.ttf');
  src: url('font/Open_Sans/OpenSans-ExtraBold.ttf');
  src: url('font/Open_Sans/OpenSans-ExtraBoldItalic.ttf');
  src: url('font/Open_Sans/OpenSans-Italic.ttf');
  src: url('font/Open_Sans/OpenSans-LightItalic.ttf');  
  src: url('font/Open_Sans/OpenSans-Semibold.ttf');
  src: url('font/Open_Sans/OpenSans-SemiboldItalic.ttf');
  src: url('font/Open_Sans/OpenSans-Regular.ttf');  */
  src: url('font/Open_Sans/OpenSans-Light.ttf');
  font-weight: 300;
}
@font-face {
	font-family: 'Open Sans';
	font-weight: 600;
	src: url('font/Open_Sans/OpenSans-ExtraBold.ttf');
}