/*
@media (max-width: 321px)
@media (max-width: 361px) 
@media (max-width: 481px) 
@media (max-width: 641px) 
@media (max-width: 979px) 
@media (min-width: 768px) and (max-width: 979px) 
@media (min-width: 980px) and (max-width: 1024px)
@media (min-width: 1136px)  

@media (min-width: 1200px) 
@media (min-width: 992px) and (max-width: 1199px) 
@media (min-width: 768px) and (max-width: 991px) 
@media (max-width: 767px) 
*/
@media (min-width: 1200px) {
  .layoutfb2 {
    width: 1200px;
    margin: 0 auto;
    background: url('../images/bg-boxed.jpg') no-repeat top center;
    background-attachment: fixed;
  }
  .layoutfb2 .wrapper {
    background: #fff;
  }
  .hide-des {
    display: none;
  }
  .block-offer .products-grid .item .inner .item-image .product-image {
    height: 230px;
    overflow: hidden;
    text-align: center;
  }
  .block-slidebar {
    display: none;
  }
  .products-grid .item .inner .product-info .product-name a {
    width: 200px;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 20px;
  }
}
@media (max-width: 1200px) {
  .products-grid .item .inner .item-image .product-image img {
    width: 100% !important;
  }
  .products-grid .item .inner .product-info {
    margin-bottom: 0;
  }
  .products-grid .item .inner:hover .product-info {
    margin-top: 0;
  }
  .products-grid .item .inner .item-image .product-image::before {
    display: none;
  }
  .products-list .item .inner .item-image .product-image::before {
    display: none;
  }
  .vt_quickview_handler {
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  body.cms-home-04 .wrap-slideshow .tp-bgimg.defaultimg {
    background-size: cover!important;
  }
  .home-04-p4 {
    padding-top: 40px;
  }
  body.cms-home-04 .wrap-slideshow .tp-bullets.round {
    bottom: -40px !important;
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
  }
  body.cms-home-04 .wrap-slideshow .tp-bullets.round .bullet {
    background: none;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: #fff;
  }
  body.cms-home-04 .wrap-slideshow .tp-bullets.round .bullet.selected {
    background: none;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #1bd172;
  }
  .header04 .block-smml-item .advanced-search {
    width: 440px;
  }
  .home-04-p3 a {
    min-width: 193px;
  }
  .header03 .box_header_03 #banner-left .carousel-control.left {
    margin-right: 130px;
  }
  .products-grid .item .inner .item-image .product-image img {
    width: 160px !important;
  }
  .header03 .block-smml-item .inner-cl {
    width: 47%;
  }
  .header03 .block-smml-item .advanced-search {
    width: 50%;
  }
  .header03 .block-smml-item .block-cart {
    top: 30px;
  }
  .home-03-p3 .home-03-right .other-product {
    height: 390px;
  }
  .home-03-p3 .home-03-right .other-product .vt-slider {
    width: 510px;
  }
  .home-03-p3 .home-03-right .other-product .sub-cate {
    width: 200px;
  }
  .cms-home02 .hot-deals .block-hot-deals .dateCountdown01,
  .cms-home02 .hot-deals .block-hot-deals .dateCountdown02,
  .cms-home02 .hot-deals .block-hot-deals .dateCountdown03,
  .cms-home02 .hot-deals .block-hot-deals .dateCountdown04 {
    left: -235px;
  }
  /*==============================================home1===================================*/
  .header01 .phone {
    display: block;
  }
  .header01 .box_header_01 .policy {
    margin-left: -85px;
  }
  .header01 .wrap-block-cl {
    padding-left: 0;
  }
  .header01 .hide-des {
    position: relative;
  }
  .header01 .hide-des #mobile-nav {
    display: block;
    position: absolute;
    top: 43px;
    left: 18px;
  }
  .header01 .hide-des #mobile-nav .btn-sidebar {
    line-height: 31px;
  }
  .header01 .box_header_03 .box-banner a {
    height: auto;
  }
  .wrap01 {
    margin-top: 0;
  }
  .block-cate-gua .tab-item ul li a {
    padding: 4px 10px;
  }
  .block-cate-gua .tab-content .block-categories ul li a:before {
    left: 16px;
  }
  .block-cate-gua .tab-content .block-categories ul li a .text {
    min-width: 160px;
    padding: 6px 15px 6px 40px !important;
  }
  .block-topseller .block-title {
    padding: 8px 0 8px 66px;
  }
  .block-topseller .block-title:before {
    left: 15px;
  }
  .block-topseller .navslider {
    right: 14px;
  }
  .cms-home .wrap-slideshow {
    height: 360px;
  }
  .block-offer {
    height: auto;
  }
  .block-offer .container-slider .products-grid .item {
    margin-bottom: 20px;
  }
  .block-shop-features,
  .block-topseller {
    height: 420px;
  }
  .cart .cart-collaterals #crosssell-products-list .product-details .price-box {
    min-width: 136px;
  }
  #cpanel_btn {
    display: none;
  }
  #settings-box {
    display: none;
  }
  .hidden-item {
    display: none;
  }
  .col2-left-layout .breadcrumbs ul {
    margin-top: 0;
  }
  .col2-left-layout .products-list .item .inner .product-info {
    float: left;
    width: 59%;
  }
  .col2-left-layout .col-left .block-layered-nav #narrow-by-list dd.block-color {
    padding-left: 5px;
  }
  .col2-left-layout .col-left .block-layered-nav #narrow-by-list dd .price .range-wrap {
    width: 180px;
  }
  .col2-left-layout .col-left .block-layered-nav #narrow-by-list dd .price .text-box input {
    width: 45px;
  }
  .col2-left-layout .col-left .block-layered-nav #narrow-by-list dd .price .text-box .go {
    position: absolute;
    right: 0;
  }
  .col2-left-layout .col-left .block-layered-nav #narrow-by-list dd.block-size {
    padding-left: 5px;
  }
  .col2-left-layout .col-left .block-topseller .block-title {
    padding: 8px 0 8px 68px !important;
  }
  .col2-left-layout .col-left .block-special .slider-inner .container-slider .wrap-item .item .product-info {
    width: 85px;
  }
  .col2-left-layout .col-left .block-special .slider-inner .container-slider .wrap-item .item .item-image {
    width: 90px;
  }
  .col2-left-layout .col-left .block-layered-nav #narrow-by-list dd.block-price {
    padding: 0 10px;
  }
  .col2-left-layout .block-topseller .products-grid .item {
    padding: 20px 10px 0;
  }
  /*==============================header======================================*/
  .phone {
    display: none;
  }
  .vt_menu,
  .hide-menu {
    display: none;
  }
  .hide-des {
    position: relative;
  }
  .hide-des #mobile-nav {
    display: block;
    position: absolute;
    top: 127px;
    left: 0px;
    padding: 0;
    width: auto;
    z-index: 999;
  }
  .hide-des #mobile-nav .btn-sidebar {
    line-height: 33px;
  }
  .header02 .box_header_03 .advanced-search {
    width: 85%;
  }
  .box_header_03 .box-banner a {
    height: 190px;
  }
  .header02 .box_header_03 .wrap-block-cl .block.block-currency {
    width: 143px;
  }
  /*==========================end header======================================*/
  .best-selling .bock-title .col-md-9,
  .save-big .bock-title .col-md-9,
  .new-arrivals .bock-title .col-md-9 {
    padding: 0;
  }
  .best-selling .bock-title ul li > a,
  .save-big .bock-title ul li > a,
  .new-arrivals .bock-title ul li > a {
    padding: 4px 22px;
  }
  .best-selling .bock-title ul li > a:after,
  .save-big .bock-title ul li > a:after,
  .new-arrivals .bock-title ul li > a:after {
    left: 12px;
  }
  .block-popular-categories .block-popular .block-title .title {
    margin: 10px 0 0 15px;
  }
  .block-popular-categories .block-popular .block-title .navslider {
    top: 35px;
  }
  .block-banner-03 .box-left::before {
    height: 102%;
  }
  .block-banner-03 .box-right {
    padding: 0;
  }
  .products-grid .item .inner .product-info .product-name .configurable-swatch-list {
    top: 28px;
  }
  .products-grid .item .inner .product-info .product-name a {
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 180px;
    white-space: nowrap;
  }
  .products-list .item {
    width: 100%;
  }
  .price-box .old-price {
    margin-left: 7px;
  }
  .product-view .more-views .inner .navslider a.prev {
    left: 0;
  }
  .product-view .more-views .inner .navslider a.next {
    right: 0;
  }
  .product-view .box-right,
  .product-view .box-tag {
    display: none;
  }
  .footer .footer-top .block {
    height: 210px;
  }
  .footer .footer-middle .block {
    padding: 9px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body.cms-home-04 .wrap-slideshow .tp-bgimg.defaultimg {
    background-size: cover!important;
  }
  .home-04-p4 {
    padding-top: 40px;
  }
  .home-04-p3 a {
    min-width: 186px;
  }
  .products-grid .item .inner .item-image .product-image img {
    width: 120px !important;
  }
  .home-03-p1 .home-03-newarivals .banner-avantage {
    padding: 0 100px;
  }
  .header03 .hide-des #mobile-nav,
  .header04 .hide-des #mobile-nav {
    top: 90px;
  }
  .header03 .shop-menu-h4,
  .header04 .shop-menu-h4 {
    display: none;
  }
  .header03 .box_header_03 #banner-left,
  .header04 .box_header_03 #banner-left {
    height: 330px;
  }
  .header03 .box_header_03 #banner-left .sub-item,
  .header04 .box_header_03 #banner-left .sub-item {
    padding: 10px 20px;
  }
  .header03 .box_header_03 #banner-left .carousel-control.left,
  .header04 .box_header_03 #banner-left .carousel-control.left,
  .header03 .box_header_03 #banner-left .carousel-control.right,
  .header04 .box_header_03 #banner-left .carousel-control.right {
    top: 280px;
  }
  .header03 .block-smml-item,
  .header04 .block-smml-item {
    padding: 25px 15px 25px 30px;
  }
  .header03 .block-smml-item .inner-cl,
  .header04 .block-smml-item .inner-cl {
    width: 100%;
    margin-right: 0;
    margin-top: 10px;
  }
  .header03 .block-smml-item .advanced-search,
  .header04 .block-smml-item .advanced-search {
    width: 100%;
  }
  .header03 .block-smml-item .block-cart,
  .header04 .block-smml-item .block-cart {
    top: 80px;
    right: 20px;
  }
  .home-03-p3 .tags #tags {
    height: 205px;
  }
  .home-03-p3 .home-03-right .other-product {
    height: 390px;
  }
  .home-03-p3 .home-03-right .other-product .vt-slider {
    width: 340px;
  }
  .home-03-p3 .home-03-right .other-product .sub-cate {
    width: 200px;
  }
  .cms-home02 .hot-deals .block-hot-deals .dateCountdown01,
  .cms-home02 .hot-deals .block-hot-deals .dateCountdown02,
  .cms-home02 .hot-deals .block-hot-deals .dateCountdown03,
  .cms-home02 .hot-deals .block-hot-deals .dateCountdown04 {
    left: -185px;
  }
  .cms-home02 .hot-deals .tab-item ul li a {
    padding: 20px 0 20px 106px;
  }
  .cms-home02 .hot-deals .block-hot-deals .container-slider {
    margin: 0 -15px 0 0;
  }
  /*================================home02=======================*/
  .header01 .phone {
    display: block;
  }
  .header01 .box_header_01 .col-sm-6 {
    padding: 0;
  }
  .header01 .box_header_03 .box-banner {
    float: left;
    width: 100%;
  }
  .header01 .box_header_03 .box-banner .b2 {
    display: none;
  }
  .header01 .box_header_03 .box-banner .b1 {
    width: 100%;
    float: left;
  }
  .header01 .box_header_03 .box-banner .b1 a {
    width: auto;
    float: right;
  }
  .header01 .box_header_03 .box-banner .b1 a img {
    width: auto;
  }
  .header01 .box_header_03 .box-banner a {
    height: auto;
  }
  .header01 .box_header_03 .box-cate {
    margin-top: 30px;
  }
  .header01 .box_header_02 .advanced-search {
    float: right;
    margin-right: -69px;
  }
  .header01 .box_header_02 .advanced-search .dropdown-cate {
    padding: 0 15px 2px 10px;
    left: 145px;
  }
  .header01 .box_header_02 .advanced-search .dropdown-cate:before {
    right: 10px;
  }
  .header01 .box_header_02 .advanced-search .dropdown-cate .cat-search {
    width: 80px;
  }
  .header01 .box_header_02 .advanced-search .form-search #search {
    width: 282px;
    padding-left: 90px;
    padding-right: 20px;
  }
  .header01 .box_header_02 .inner-cl {
    margin-right: 35px;
  }
  .header01 .hide-des #mobile-nav {
    z-index: 999;
    display: block;
    position: absolute;
    top: 41px !important;
    left: 16px !important;
  }
  .col2-left-layout .category-products .products-grid .item {
    width: 50%;
    float: left;
  }
  .col2-left-layout .category-products .toolbar .block-right {
    padding: 0;
  }
  .col2-left-layout .block-topseller {
    height: auto;
  }
  .col2-left-layout .block-special .slider-inner .container-slider {
    padding: 0 15px 20px;
  }
  .col2-left-layout .col-left .block-special .slider-inner .container-slider .wrap-item .item .product-info {
    width: 80px;
  }
  .col2-left-layout .block-layered-nav #narrow-by-list dd.block-color {
    padding-left: 10px;
  }
  .col2-left-layout .col-left .block-layered-nav #narrow-by-list dd.block-price {
    padding: 0 5px;
  }
  .col2-left-layout .col-left .block-layered-nav #narrow-by-list dd .price .text-box .go {
    position: absolute;
    right: 5px;
  }
  .col2-left-layout .col-left .block-layered-nav #narrow-by-list dd.block-size {
    padding-left: 10px;
  }
  .col2-left-layout .col-left .block-topseller .block-title {
    padding: 8px 0 8px 72px !important;
  }
  .col2-left-layout .col-left .block-topseller .block-title:before {
    left: 15px;
  }
  .col2-left-layout .col-left .products-grid .item .inner .product-info {
    margin-bottom: 20px;
  }
  .wrap01 {
    margin-top: 10px;
  }
  .block-cate-gua {
    margin-top: 30px;
    height: 414px;
  }
  .block-cate-gua .tab-item ul li a {
    padding: 4px 10px !important;
  }
  .box-features,
  .box-top-seller {
    position: absolute;
    top: 513px;
    left: 259px;
  }
  .box-top-seller {
    left: auto;
    right: -5px;
  }
  .box-top-seller .block-topseller {
    height: auto;
    margin-top: 22px;
  }
  .box-top-seller .block-title {
    padding: 8px 0 8px 70px;
  }
  .box-top-seller .block-title:before {
    left: 15px;
  }
  .box-top-seller .navslider {
    right: 10px;
    top: 18px;
  }
  .block-shop-features {
    height: 414px;
    margin-top: 22px;
  }
  .block-offer {
    height: auto;
  }
  .block-offer .container-slider .products-grid .item {
    margin-bottom: 20px;
  }
  .block-popular .wrap_item .item .inner {
    padding: 0 15px;
  }
  /*==========================header======================================*/
  .phone {
    display: none;
  }
  .block-right-item .toplink .links li {
    padding-left: 34px;
    padding-right: 10px;
  }
  .block-right-item .toplink .links li a::before {
    left: -21px;
  }
  .block-right-item .block-cart .block-title {
    padding-left: 34px;
    padding-right: 10px;
  }
  .block-right-item .block-cart .block-title:before {
    left: 11px;
  }
  .vt_menu,
  .hide-menu {
    display: none;
  }
  .hide-des {
    position: relative;
  }
  .hide-des #mobile-nav {
    display: block;
    position: absolute;
    top: 127px;
    left: 0px;
    padding: 0;
    width: auto;
    z-index: 999;
  }
  .hide-des #mobile-nav .btn-sidebar {
    line-height: 33px;
  }
  .header02 .box_header_03 .advanced-search {
    width: 83%;
  }
  .header02 .box_header_03 .advanced-search .form-search {
    padding-left: 140px;
  }
  .header02 .box_header_03 .advanced-search .dropdown-cate:before {
    right: 15px;
  }
  .header02 .box_header_03 .advanced-search .dropdown-cate .cat-search {
    width: 86px;
  }
  .header02 .box_header_03 .wrap-block-cl .block.block-language {
    width: 117px;
  }
  .header02 .box_header_03 .wrap-block-cl .block.block-language > div img {
    margin-left: 15px;
  }
  .header02 .box_header_03 .wrap-block-cl .block.block-language:after {
    right: 20px;
  }
  .header02 .box_header_03 .wrap-block-cl .block.block-currency {
    -webkit-border-top-right-radius: 12px;
    -moz-border-radius-topright: 12px;
    border-top-right-radius: 12px;
  }
  .header02 .box_header_03 .wrap-block-cl .block.block-currency:after {
    right: 30px;
  }
  .box_header_03 .box-banner a {
    height: 145px;
  }
  /*==========================end header======================================*/
  /*====================================content==============================*/
  .new-arrivals .bock-title,
  .best-selling .bock-title {
    height: auto;
  }
  .new-arrivals .bock-title ul li,
  .best-selling .bock-title ul li {
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .block-banner-03 .box-left h2 {
    margin-top: 0;
  }
  .block-banner-03 .box-left:before {
    height: 115%;
  }
  .block-banner-03 .box-right {
    padding: 0;
  }
  .block-popular-categories .block-popular .block-title .title {
    margin: 10px 0 0 15px;
  }
  .block-popular-categories .block-popular .block-title .navslider {
    top: 40px;
  }
  .products-list .item {
    width: 100%;
  }
  .products-grid .item .inner .product-info .product-name .configurable-swatch-list {
    top: 28px;
  }
  .products-grid .item .inner .product-info .product-name a {
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 180px;
    white-space: nowrap;
  }
  .product-view .more-views .inner .navslider a.prev {
    left: 0;
  }
  .product-view .more-views .inner .navslider a.next {
    right: 0;
  }
  .product-view .box-right,
  .product-view .box-tag {
    display: none;
  }
  /*===================================end content===========================================*/
  /*===================================end footer===========================================*/
  .footer .footer-top .block {
    height: 210px;
    padding: 12px 15px 20px;
  }
  .footer .footer-top .block .block-title h2.p2 {
    font-size: 100%;
  }
  /*===================================end footer===========================================*/
  #settings-box {
    display: none;
  }
  .hidden-item {
    display: none;
  }
  .cart .cart-collaterals #crosssell-products-list .product-image {
    margin: 4px 10px 15px 0;
  }
  .cart .cart-collaterals #crosssell-products-list .product-details .price-box {
    min-width: 0;
  }
  .cart .crosssell .button {
    clear: both;
  }
  .cart .col-del {
    border-right: 1px solid #ccc;
  }
  .my-account .form-list .field {
    width: 100%;
  }
  .my-account .form-list input.input-text {
    width: 100%;
  }
  .my-account .form-list .input-box select {
    height: 32px;
    padding: 6px !important;
    width: 100%;
  }
  #my-orders-table thead tr td,
  #my-orders-table thead tr th {
    padding: 10px 0;
    text-align: center;
    text-transform: capitalize;
  }
  #my-orders-table .data-table tbody td {
    padding: 5px;
  }
  #my-orders-table .link-reorder {
    clear: both;
    display: block;
  }
  #cpanel_btn {
    display: none;
  }
  #vt-responsivemenu .btn.btn-navbar,
  .menu-selectbox {
    margin-left: 0!important;
  }
  #vt_wrapper {
    left: 0;
  }
  #vt_menu {
    display: none;
  }
  .products-grid .item .item-wrap .item-image .vt_quickview_handler {
    display: none;
  }
  .wrap-about .box-content {
    margin-top: 15px;
  }
  .wrap-about .item {
    padding: 0 30px;
  }
  .wrap-about .item br {
    display: none;
  }
  .wrap-about .box-3 .box-img {
    text-align: center;
  }
  .wrap-about .box-3 .box-img img {
    width: 280px;
  }
  .wrap-about .box-4 .item {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .home-04-p4 {
    padding-top: 70px;
  }
  .home-04-p3 a {
    width: 100%;
  }
  body.cms-home-04 .wrap-slideshow .tp-bullets.round {
    bottom: -40px !important;
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
  }
  body.cms-home-04 .wrap-slideshow .tp-bullets.round .bullet {
    background: none;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: #333;
    margin-right: 10px;
  }
  body.cms-home-04 .wrap-slideshow .tp-bullets.round .bullet.selected {
    background: none;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #1bd172;
  }
  .header04 .shop-menu-h4 {
    display: none;
  }
  .home-03-p3 .home-03-right .other-product .navslider {
    right: 0;
    left: auto;
    top: -24px;
  }
  .cms-home-03 .block-popular-categories .block-popular .block-title .navslider {
    left: auto;
    top: -10px;
  }
  .home-03-p3 .home-03-right .other-product .vt-slider {
    width: 100%;
    display: block;
    position: relative;
  }
  .home-03-p3 .home-03-right .other-product .sub-cate {
    width: 100%;
    padding: 20px;
  }
  .home-03-p3 .home-03-right .other-product .sub-cate ul {
    height: auto;
  }
  .home-03-p1 .home-03-newarivals .banner-avantage {
    padding: 0 30px;
  }
  .home-03-p1 .home-03-newarivals .banner-avantage img {
    width: 100%;
  }
  .cms-home-03 .carousel-control.left,
  .cms-home-03 .carousel-control.right {
    top: -70px;
  }
  .home-03-p1 .home-03-newarivals,
  .home-03-p2 .home-03-hotdeals,
  .home-03-p2 .home03-special,
  .home-03-p3 .home-03-right .banner-home3 {
    position: relative;
    margin-top: 30px;
    display: block;
  }
  .home-03-p2 {
    padding-top: 0;
  }
  #banner-left {
    height: 80px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    padding: 1px ;
    border: 1px solid #eaeaea;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  #banner-left .sub-item {
    padding: 15px 20px;
    float: left;
    width: 25%;
  }
  #banner-left .sub-item img {
    width: 100%;
  }
  #banner-left .sub-item img:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
  }
  #banner-left .carousel-control.left {
    top: 15px;
    left: -9px;
  }
  #banner-left .carousel-control.right {
    top: 15px;
    right: -9px;
    margin-right: 0;
  }
  .cms-home02 .hot-deals .block-hot-deals .dateCountdown01 {
    left: 20px;
    top: -346px;
  }
  .cms-home02 .hot-deals .block-hot-deals .container-slider {
    float: none;
    width: auto;
  }
  /*==================================header01==================================*/
  .wrap-slideshow .tp-rightarrow,
  .wrap-slideshow .tp-leftarrow {
    top: 50% !important;
  }
  .wrap01 {
    margin-top: 20px;
  }
  .header01 .policy {
    display: none;
  }
  .header01 .block-wrap-search {
    padding: 0;
  }
  .header01 .block-wrap-search .advanced-search {
    margin-bottom: 20px;
    margin-top: 90px;
  }
  .header01 .box-banner {
    float: left;
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
  }
  .header01 .box-banner > div {
    padding: 0 0 10px 0;
  }
  .header01 .block-wrap-cart {
    width: auto;
    padding: 0;
    margin-top: 4px;
  }
  .header01 .block-wrap-cart .block-cart {
    margin-left: 42px;
  }
  .header01 .box_header_01 > .container {
    position: relative;
  }
  .header01 .box_header_01 > .container .col-xs-12 {
    position: static;
  }
  .header01 .box_header_01 > .container .toplink {
    position: absolute;
    top: 150px;
    left: 0;
    z-index: 99;
  }
  .header01 .box_header_03 > .container .col-xs-12 {
    position: static;
    padding-left: 0;
    padding-right: 0;
  }
  .header01 .box_header_03 .logo {
    position: absolute;
    top: 0;
  }
  .cms-home .box-cate {
    margin-top: 30px;
  }
  .cms-home .block-shop-features {
    height: auto;
  }
  .cms-home .block-hot-deals .block-title .countdown-row {
    right: 10px;
  }
  .cms-home .block-hot-deals .block-title::before {
    left: 10px;
  }
  .cms-home .block-topseller,
  .cms-home .block-offer {
    height: auto;
  }
  .cms-home .block-offer .products-grid .item .inner .product-info {
    margin-bottom: 20px;
  }
  .cms-home .block-popular .title > span {
    line-height: 30px;
  }
  .cms-home .block-popular .title .navslider a::before {
    top: 1px;
  }
  .block-cart .block-content {
    display: none;
  }
  .wrapper {
    padding: 0 15px;
  }
  /* header*/
  .box_header_04,
  .box_header_03 .wrap-menu,
  .phone {
    display: none;
  }
  .block-right-item {
    position: absolute;
    top: 150px;
    left: 15px;
    padding: 0;
    width: auto;
    float: left;
    z-index: 9999;
  }
  .toplink {
    float: left;
    width: 32px;
    height: 32px;
    border: 1px solid #eaeaea;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  .toplink:hover {
    cursor: pointer;
  }
  .toplink .inner .d-hide {
    text-indent: -9999em;
    float: left;
    width: 32px;
    height: 32px;
  }
  .toplink .inner .d-hide:before {
    content: "\f007";
    color: #5a88ca;
    font-family: "FontAwesome";
    position: absolute;
    top: 6px;
    left: 9px;
    text-indent: 0;
  }
  .toplink .inner .links {
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-top: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
    float: left;
    width: 100px;
    padding: 10px;
    background: #fff;
    position: absolute;
    top: 32px;
    left: 0;
  }
  .block-cart {
    float: left;
    width: 32px;
    margin-left: 10px;
    height: 32px;
    border: 1px solid #eaeaea;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  .block-cart:before {
    content: "\f07a";
    color: #5a88ca;
    font-family: "FontAwesome";
    position: absolute;
    top: 6px;
    left: 7px;
    text-indent: 0;
  }
  .block-cart:hover {
    cursor: pointer;
  }
  .block-cart .block-title {
    display: none;
  }
  .block-cart .block-content {
    float: left;
    width: 300px;
    position: absolute;
    top: 32px;
    margin: 0;
    left: -48px;
    z-index: 99;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  }
  .block-cart .block-content .inner {
    background: #fff;
    float: left;
    width: 100%;
    padding: 15px 20px;
  }
  .block-cart .block-content .inner .block-subtitle {
    text-transform: uppercase;
    font-size: 100%;
  }
  .block-cart .block-content .inner .truncated {
    display: none;
  }
  .block-cart .block-content .inner #cart-sidebar li {
    padding: 15px 0 25px 30px;
    border-bottom: 1px solid #eaeaea;
    position: relative;
  }
  .block-cart .block-content .inner #cart-sidebar li .btn-remove {
    position: absolute;
    top: 18px;
    font-size: 14px;
    left: 0;
    width: 15px;
    height: 15px;
    text-indent: -9999em;
  }
  .block-cart .block-content .inner #cart-sidebar li .btn-remove:before {
    content: "\f014";
    font-family: "FontAwesome";
    position: absolute;
    top: 0;
    left: 0;
    text-indent: 0;
  }
  .block-cart .block-content .inner #cart-sidebar li .btn-edit {
    position: absolute;
    top: 42px;
    font-size: 14px;
    left: 0;
    width: 15px;
    height: 15px;
    text-indent: -9999em;
  }
  .block-cart .block-content .inner #cart-sidebar li .btn-edit:before {
    content: "\f040";
    font-family: "FontAwesome";
    position: absolute;
    top: 0;
    left: 0;
    text-indent: 0;
  }
  .block-cart .block-content .inner #cart-sidebar li .product-image {
    float: left;
    margin-right: 10px;
    overflow: hidden;
  }
  .block-cart .block-content .inner #cart-sidebar li .product-image:hover img {
    opacity: 0.8;
    filter: alpha(opacity=80);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }
  .block-cart .block-content .inner #cart-sidebar li .product-name {
    font-size: 100%;
  }
  .block-cart .block-content .inner #cart-sidebar li .product-name a {
    display: inline-block;
    width: 132px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: capitalize;
  }
  .block-cart .block-content .inner #cart-sidebar li .product-details {
    float: left;
  }
  .block-cart .block-content .inner #cart-sidebar li .product-details > strong {
    float: left;
    min-width: 98px;
    border: 1px solid #eaeaea;
  }
  .block-cart .block-content .inner #cart-sidebar li .product-details > strong a {
    min-width: 19px;
    min-height: 28px;
    float: left;
    margin: 0;
  }
  .block-cart .block-content .inner #cart-sidebar li .product-details > strong a.flycart-qty-change-left {
    background: url('../images/minus.png') no-repeat 0 0 #999999;
  }
  .block-cart .block-content .inner #cart-sidebar li .product-details > strong a.flycart-qty-change-right {
    background: url('../images/plus.png') no-repeat 0 0 #999999;
  }
  .block-cart .block-content .inner #cart-sidebar li .product-details > strong a:hover.flycart-qty-change-left,
  .block-cart .block-content .inner #cart-sidebar li .product-details > strong a:hover.flycart-qty-change-right {
    background-color: #5a88ca;
  }
  .block-cart .block-content .inner #cart-sidebar li .product-details > strong input {
    margin: 0;
    border: none;
    height: 28px;
    min-width: 58px;
    border-right: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
  }
  .block-cart .block-content .inner #cart-sidebar li .product-details .price {
    color: #ffb424;
    line-height: 100%;
    width: 100%;
    margin: 0 0 12px;
    display: inline-block;
  }
  .block-cart .block-content .inner .summary {
    float: left;
    width: 100%;
    margin-bottom: 8px;
  }
  .block-cart .block-content .inner .summary p {
    margin: 0;
    width: 100%;
  }
  .block-cart .block-content .inner .summary p .label {
    text-transform: uppercase;
    font-size: 100%;
    font-weight: normal;
    padding: 0;
    margin: 15px 0 0;
    display: inline-block;
    color: #333333;
  }
  .block-cart .block-content .inner .summary p .price {
    float: right;
    font-size: 142.85%;
    margin-top: 6px;
  }
  .block-cart .block-content .inner .actions {
    float: left;
    width: 100%;
    text-align: center;
  }
  .block-cart .block-content .inner .actions .a-inner {
    background: #333333;
  }
  .block-cart .block-content .inner .actions .a-inner a {
    color: #fff;
    text-transform: uppercase;
    font-size: 100%;
    position: relative;
    padding: 10px 28px 10px 37px;
    display: inline-block;
  }
  .block-cart .block-content .inner .actions .a-inner a:hover {
    text-decoration: underline;
  }
  .block-cart .block-content .inner .actions .a-inner a.btn-mycart {
    position: relative;
    z-index: 9;
    background: #5a88ca;
    padding-left: 28px;
    padding-right: 0;
  }
  .block-cart .block-content .inner .actions .a-inner a.btn-mycart:before {
    border-color: #5a88ca rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 40px 40px 0 0;
    content: "";
    height: 0;
    line-height: 0;
    position: absolute;
    right: -40px;
    top: 0;
    width: 0;
  }
  .logo {
    position: relative;
    display: block;
    left: 50%;
    margin: 20px 0 20px -65px;
  }
  .advanced-search {
    float: left;
    width: 100%;
    position: relative;
    margin-bottom: 75px;
  }
  .advanced-search .inner-box {
    padding: 0 0 0 32px ;
  }
  .advanced-search .dropdown-cate {
    position: absolute;
    top: 0;
    left: 0;
  }
  .advanced-search .dropdown-cate:hover {
    cursor: pointer;
  }
  .advanced-search .dropdown-cate .cat-search {
    float: left;
    width: 32px;
    height: 32px;
    text-indent: -9999em;
    -webkit-border-top-left-radius: 17px;
    -moz-border-radius-topleft: 17px;
    border-top-left-radius: 17px;
    -webkit-border-bottom-left-radius: 17px;
    -moz-border-radius-bottomleft: 17px;
    border-bottom-left-radius: 17px;
    border: 1px solid #eaeaea;
    position: relative;
    border-right: none;
  }
  .advanced-search .dropdown-cate .cat-search:before {
    content: "\f107";
    font-family: "FontAwesome";
    position: absolute;
    top: 6px;
    left: 12px;
    text-indent: 0;
  }
  .advanced-search .dropdown-cate .wrap-scrollbar {
    position: absolute;
    top: 32px;
    left: 0;
    width: 230px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-top: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
    background: #fff;
    z-index: 9999;
    padding: 15px 0 15px 15px;
  }
  .advanced-search .dropdown-cate .wrap-scrollbar li.level-3 {
    padding-left: 15px;
    color: #888;
  }
  .advanced-search .dropdown-cate .wrap-scrollbar li.level-4 {
    padding-left: 30px;
    color: #aaa;
  }
  .advanced-search .dropdown-cate .wrap-scrollbar li:hover {
    cursor: pointer;
  }
  .advanced-search #search {
    border-color: #eaeaea;
    width: 100%;
    height: 32px;
    margin: 0;
    padding: 6px 35px 6px 6px;
    -webkit-border-bottom-right-radius: 17px;
    -moz-border-radius-bottomright: 17px;
    border-bottom-right-radius: 17px;
    -webkit-border-top-right-radius: 17px;
    -moz-border-radius-topright: 17px;
    border-top-right-radius: 17px;
  }
  .advanced-search .button {
    position: absolute;
    top: 0;
    right: 3px;
    float: left;
    width: 30px;
    height: 30px;
    padding: 1px;
    background: none;
    margin: 0;
  }
  .advanced-search .button > span {
    display: block;
  }
  .advanced-search .button > span:before {
    content: "";
    width: 28px;
    height: 28px;
    background: #5a88ca;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
  }
  .advanced-search .button > span:after {
    content: "\f002";
    position: absolute;
    top: 6px;
    left: 10px;
    font-family: "Fontawesome";
    color: #fff;
  }
  .advanced-search .button > span > span {
    display: none;
  }
  .wrap-slideshow {
    margin-top: 0px !important;
  }
  .header03 .inner-cl,
  .header04 .inner-cl {
    position: absolute;
    top: 60px;
    left: 15px;
    z-index: 999;
  }
  .header03 .inner-cl .lg-cur,
  .header04 .inner-cl .lg-cur {
    margin-left: 10px;
    margin-right: 10px;
  }
  .header03 .inner-cl .block,
  .header04 .inner-cl .block {
    position: relative;
    float: left;
  }
  .header03 .inner-cl .block:hover,
  .header04 .inner-cl .block:hover {
    cursor: pointer;
  }
  .header03 .inner-cl .block > div,
  .header04 .inner-cl .block > div {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    float: left;
    width: 32px;
    height: 32px;
    border: 1px solid #eaeaea;
    position: relative;
  }
  .header03 .inner-cl .block > div > span img,
  .header04 .inner-cl .block > div > span img {
    margin-top: 10px;
    margin-left: 8px;
  }
  .header03 .inner-cl .block > div > span > span,
  .header04 .inner-cl .block > div > span > span {
    display: none;
  }
  .header03 .inner-cl .block > div.item-cur span,
  .header04 .inner-cl .block > div.item-cur span {
    font-size: 10px;
    float: left;
    margin-top: 8px;
    margin-left: 6px;
  }
  .header03 .inner-cl .block > ul,
  .header04 .inner-cl .block > ul {
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-top: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
    float: left;
    width: 100px;
    padding: 10px;
    background: #fff;
    position: absolute;
    top: 32px;
    left: 0;
  }
  .header03 .inner-cl .block > ul li a img,
  .header04 .inner-cl .block > ul li a img {
    margin-top: 5px;
  }
  .wrap-block-cl {
    position: static;
  }
  .wrap-block-cl .inner-cl {
    position: absolute;
    top: 150px;
    left: 98px;
    z-index: 999;
  }
  .wrap-block-cl .inner-cl .block {
    position: relative;
    float: left;
    margin-right: 10px;
  }
  .wrap-block-cl .inner-cl .block:hover {
    cursor: pointer;
  }
  .wrap-block-cl .inner-cl .block > div {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    float: left;
    width: 32px;
    height: 32px;
    border: 1px solid #eaeaea;
    position: relative;
  }
  .wrap-block-cl .inner-cl .block > div > span img {
    margin-top: 10px;
    margin-left: 8px;
  }
  .wrap-block-cl .inner-cl .block > div > span > span {
    display: none;
  }
  .wrap-block-cl .inner-cl .block > div.item-cur span {
    font-size: 10px;
    float: left;
    margin-top: 8px;
    margin-left: 6px;
  }
  .wrap-block-cl .inner-cl .block > ul {
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-top: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
    float: left;
    width: 100px;
    padding: 10px;
    background: #fff;
    position: absolute;
    top: 32px;
    left: 0;
  }
  .wrap-block-cl .inner-cl .block > ul li a img {
    margin-top: 5px;
  }
  .box-banner {
    margin-top: 15px;
  }
  .hide-des {
    position: relative;
  }
  .hide-des #mobile-nav {
    z-index: 9999;
    position: absolute;
    top: 150px;
    left: 168px;
  }
  .breadcrumbs ul {
    margin-bottom: 20px;
    margin-top: 0;
  }
  .col2-left-layout .breadcrumbs ul {
    margin-top: 20px;
  }
  .col2-left-layout .col-left .block-layered-nav #narrow-by-list dd.block-color,
  .col2-left-layout .col-left .block-layered-nav #narrow-by-list dd.block-size {
    padding-left: 6px;
  }
  .col2-left-layout .col-left .block-topseller {
    height: auto;
  }
  .col2-left-layout .col-left .block-topseller .products-grid .item .inner .product-info {
    margin-bottom: 20px;
  }
  .col2-left-layout .block-banner-category {
    margin-top: 30px;
  }
  /*end header*/
  /* content */
  .best-selling .bock-title {
    height: auto;
  }
  .best-selling .bock-title h3 {
    margin-bottom: 20px;
  }
  .new-arrivals .bock-title {
    height: auto;
  }
  .new-arrivals .bock-title h3 {
    margin-bottom: 20px;
  }
  .save-big .bock-title {
    height: auto;
  }
  .save-big .bock-title h3 {
    margin-bottom: 30px;
  }
  .save-big .save-big-inner {
    margin-bottom: 5px;
  }
  .block-banner-03 .box-left {
    padding: 30px 15px;
  }
  .block-banner-03 .box-left h2 {
    margin-top: 0;
  }
  .block-banner-03 .box-left .block-banner-content {
    margin-bottom: 30px;
  }
  .block-banner-03 .box-right {
    padding: 0;
  }
  .block-popular-categories .inner {
    padding: 0 0 20px !important;
  }
  .block-popular-categories .block-popular .block-title {
    margin-bottom: 20px;
  }
  .block-popular-categories .block-popular .block-title .navslider {
    left: auto;
    top: 18px;
    right: 30px;
  }
  .contact-page {
    padding-bottom: 0;
  }
  .contact-page .col-left {
    float: left;
    width: 100%;
    margin-bottom: 50px;
  }
  .contact-page .col-right {
    float: left;
    width: 100%;
  }
  .contact-page .col-right .panel-heading {
    padding: 10px 0;
  }
  .contact-page .col-right .content {
    padding-left: 0;
  }
  .wrap-about .box-1 .item {
    width: 100%;
    margin-top: 10px;
  }
  .wrap-about .box-3 .panel-group {
    width: 100% !important;
    margin-bottom: 50px;
  }
  .wrap-about .box-3 .box-img {
    width: 100%;
  }
  .wrap-about .box-3 .box-img img {
    width: 100%;
  }
  .wrap-about .box-3 .panel-heading {
    padding: 0;
  }
  .wrap-about .box-4 .box-content {
    float: left;
    margin: 0 -15px;
  }
  .wrap-about .box-4 .item {
    width: 100%;
    margin-top: 30px;
  }
  .product-view .product-img-box .product-image-gallery img {
    height: auto !important;
  }
  .product-view .more-views .inner .navslider a.prev {
    left: 0;
  }
  .product-view .more-views .inner .navslider a.next {
    right: 0;
  }
  .product-view .product-shop .box-right {
    padding: 0;
    margin-top: 10px;
  }
  .product-view .product-shop .box-left label {
    min-width: 50px;
    width: 50px;
  }
  .product-view .product-shop .box-left #product-options-wrapper dt label {
    margin-top: 5px;
  }
  .product-view .product-shop .box-left #product-options-wrapper ul li {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  /* end content*/
  /* left */
  .col1-layout .block-layered-nav #narrow-by-list dt,
  .col1-layout .block-layered-nav #narrow-by-list dd {
    width: 100% !important;
  }
  .col1-layout .block-layered-nav #narrow-by-list dd .price .text-box {
    margin: 20px 0 20px;
  }
  .col1-layout .block-layered-nav #narrow-by-list dd .price {
    padding-left: 18px;
  }
  .col1-layout .block-layered-nav #narrow-by-list dd ol li {
    margin: 0 10px !important;
  }
  /* end left*/
  /* product */
  .catalog-category-view .products-grid .item .inner {
    width: 100%;
  }
  .catalog-category-view .products-grid .item .inner .item-image .product-image {
    text-align: center;
  }
  .products-grid .item .inner .item-image .product-image::before {
    display: none;
  }
  .products-grid .item .inner .item-image .product-image img {
    width: 100%;
  }
  .products-grid .item .inner .product-info {
    margin-bottom: 0;
  }
  .products-grid .item .inner:hover .product-info {
    margin-top: 0;
  }
  .product-view #product-tabs .inner > ul li {
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .tag4,
  .tag8 {
    border-right: 1px solid #eaeaea;
  }
  .tag9 {
    border-top: none !important;
  }
  .tag5 {
    border-right: none !important;
  }
  /* end product */
  /* toolbar */
  .toolbar {
    position: relative;
  }
  .toolbar .block-right {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
  }
  /* end toolbar*/
  /* footer */
  .footer .footer-top .block {
    margin-top: 20px;
    height: auto;
  }
  .footer .footer-top .block.block-store {
    margin-top: 0;
  }
  .footer .footer-middle .block-social .s8 {
    display: none;
  }
  .footer .footer-middle .block-payment {
    float: left;
  }
  .footer .footer-bottom .col-left {
    line-height: 20px;
  }
  .footer .footer-bottom .col-right {
    text-align: left;
  }
  /* end footer*/
  #settings-box {
    display: none;
  }
  .cart-collaterals {
    padding: 0 15px;
  }
  .cart-collaterals .col2-set,
  .cart-collaterals .totals {
    width: 100%;
  }
  .col1-layout .col-main > .page-title {
    padding: 0 15px;
  }
  .cart {
    padding: 0 5px;
  }
  .cart tbody td.last {
    border-right: none;
  }
  .account-create {
    padding: 0 15px;
  }
  .account-login {
    padding: 0 15px;
  }
  .account-login #login-form .col2-set .col-2 {
    width: 100%;
    float: left;
    margin-top: 30px;
  }
  .account-login #login-form .col2-set .col-1 {
    float: left;
    width: 100%;
  }
  #billing-buttons-container {
    padding-right: 15px;
  }
  .block-about-us .block-wel .w-left-content img {
    width: 100%;
  }
  .block-account {
    margin-top: -20px;
  }
  .block-minicartpro {
    margin-top: 0;
    padding-top: 4px;
  }
  .mini-cartpro .block-content {
    width: 315px;
    right: -28px;
    z-index: 999997;
  }
  .checkout-onepage-index .page-title {
    margin-top: -15px;
  }
  .cart #shopping-cart-table tbody td.last,
  .cart #shopping-cart-table thead tr th.col-del {
    border-right: none !important;
  }
  #checkoutSteps #checkout-step-login .col-1,
  #checkoutSteps #checkout-step-login .col-2 {
    width: 100%;
  }
  #checkoutSteps #checkout-step-login .col-2.mobile {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #ccc;
  }
  #checkoutSteps #checkout-step-login .col2-set h4 {
    margin: 5px 0;
  }
  #checkoutSteps #checkout-step-login .control input {
    margin: 0px 5px 0 0 !important;
  }
  #checkoutSteps #checkout-step-login .form-list {
    margin-bottom: 10px;
  }
  #checkoutSteps #checkout-step-login .form-list li {
    margin-bottom: 5px;
  }
  #checkoutSteps #checkout-step-login .show-m {
    display: block;
  }
  #checkoutSteps #checkout-step-billing .input-box select {
    height: 34px;
    padding: 7px !important;
  }
  #checkoutSteps input[type="radio"] {
    margin: 0px 5px 0 0 !important;
  }
  .cart {
    padding: 0 5px;
  }
  .cart h1 {
    line-height: 40px;
  }
  .cart #shopping-cart-table {
    width: 100%;
    margin: 0 auto;
  }
  .cart #shopping-cart-table tbody td {
    padding: 7px 5px;
    border-right: 1px solid #ccc;
  }
  .cart #shopping-cart-table thead tr th {
    padding: 10px 0px;
    text-transform: capitalize;
    border-right: 1px solid #ccc;
  }
  .cart #shopping-cart-table .button {
    width: 100%;
  }
  .cart #shopping-cart-table .button#empty_cart_button {
    margin-bottom: 0;
  }
  .cart .cart-collaterals {
    padding: 0;
  }
  .cart .cart-collaterals .col-1,
  .cart .cart-collaterals .col-2 {
    width: 100%;
  }
  .cart .cart-collaterals #crosssell-products-list .product-details .price-box {
    min-width: 175px;
  }
  #my-orders-table {
    margin-bottom: 10px;
  }
  #my-orders-table thead tr td,
  #my-orders-table thead tr th {
    border-top: none;
    float: left;
    width: 100%;
  }
  #my-orders-table thead tr th {
    text-align: center !important;
  }
  #my-orders-table thead tr {
    width: 102.5% !important;
    float: left;
  }
  #my-orders-table tbody tr {
    float: left;
    width: 103% !important;
  }
  #my-orders-table tbody td {
    float: left;
    width: 100%;
  }
  #my-orders-table tfoot tr {
    float: left;
    width: 103% !important;
  }
  #my-orders-table tfoot td {
    float: left;
    width: 100%;
    border-top: none;
  }
  .sales-order-view .my-account > .page-title h1 {
    width: 100%;
    margin-bottom: 5px;
  }
  .my-wishlist .input-text {
    width: 35px;
  }
  .my-wishlist .button {
    width: auto !important;
  }
  #wishlist-table .price-box p.price-to {
    margin-left: 0 !important;
  }
  #confirmbox {
    margin-left: 4px;
  }
  #confirmbox {
    width: 290px;
    margin-left: 15px;
  }
  .my-wishlist #wishlist-table thead tr td,
  .my-wishlist #wishlist-table thead tr th {
    padding: 10px 6px;
    text-transform: capitalize;
  }
  .my-wishlist #wishlist-table td {
    padding: 8px 3px;
  }
  .my-wishlist .button {
    width: 100%;
    margin-bottom: 5px;
  }
  #checkout-step-review {
    padding: 2px 2px 5px 2px !important;
  }
  #checkout-step-review #checkout-review-table {
    width: auto;
    margin-bottom: 5px;
  }
  #checkout-step-review #checkout-review-table tbody td {
    padding: 4px;
  }
  #checkout-step-review #checkout-review-table thead tr td,
  #checkout-step-review #checkout-review-table thead tr th {
    text-transform: capitalize;
    padding: 10px 3px;
  }
  #my-downloadable-products-table tbody td {
    padding: 4px;
  }
  #checkout-progress-wrapper {
    margin-top: 25px;
  }
  .cart #shopping-cart-table {
    width: 96%;
  }
  #vt_menu {
    display: none;
  }
  #mobile-nav,
  .box-header-mobile-01 {
    display: block;
  }
  #mobile-nav {
    padding: 0;
  }
  .vt_quickview_handler {
    display: none;
  }
}
@media (max-width: 480px) {
  .home-03-p1 .home03-special .products-grid .item {
    padding: 0;
    padding: 0 10px;
  }
  .home-03-p2 .home-03-hotdeals .view-all a {
    color: transparent;
  }
  .home-03-p3 .home-03-right .other-product .nav-tabs {
    margin-top: 0;
    height: auto;
  }
  .home-03-p3 .home-03-right .other-product .nav-tabs > li {
    float: none;
    margin-bottom: -1px;
    border-bottom: 1px solid #ccc;
  }
  .cms-home-03 .products-grid,
  .cms-home-04 .products-grid {
    clear: both;
  }
  .cms-home-03 .nav-tabs,
  .cms-home-04 .nav-tabs {
    height: 50px;
    clear: both;
    float: left;
    width: 100%;
    border-top: 1px solid #eaeaea;
    margin-top: -20px;
    margin-bottom: 20px;
  }
  .cms-home-03 .nav-tabs > li,
  .cms-home-04 .nav-tabs > li {
    float: left;
  }
  .cms-home-03 .nav-tabs > li a,
  .cms-home-04 .nav-tabs > li a {
    padding: 14px 5px 13px 5px;
  }
  #banner-left {
    height: auto;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    padding: 1px ;
    border: 1px solid #eaeaea;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  #banner-left .sub-item {
    padding: 5px;
    float: left;
    width: 25%;
  }
  #banner-left .sub-item img {
    width: 100%;
  }
  #banner-left .sub-item img:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
  }
  #banner-left .carousel-control.left {
    top: -7px;
    left: -9px;
  }
  #banner-left .carousel-control.right {
    top: -7px;
    right: -9px;
    margin-right: 0;
  }
  /* product */
  .catalog-category-view .products-list .item .inner {
    padding: 10px;
  }
  .catalog-category-view .products-list .item .inner .item-image {
    margin-right: 0;
    width: 100%;
  }
  .catalog-category-view .products-list .item .inner .product-info.col2 {
    width: 100%;
    margin-top: 10px;
  }
  .product-view .product-shop .box-tag .inner {
    padding: 30px;
  }
  .tag3,
  .tag7,
  .tag9 {
    border-right: 1px solid #eaeaea;
  }
  .tag9 {
    border-bottom: 1px solid #eaeaea;
    position: relative;
    border-top: none !important;
  }
  .tag9:before {
    content: "";
    width: 100%;
    height: 1px;
    background: #eaeaea;
    position: absolute;
    top: -1px;
    left: 0;
  }
  .tag8 {
    border-top: none !important;
  }
  .tag3 {
    position: relative;
  }
  .tag3:before {
    content: "";
    width: 100%;
    height: 1px;
    background: #eaeaea;
    position: absolute;
    bottom: -1px;
    left: 0;
  }
  .block-hot-deals .block-title {
    float: left;
    width: 100%;
  }
  .block-hot-deals .block-title .defaultCountdown {
    float: left;
    margin-top: 10px;
  }
  .block-hot-deals .block-title .countdown-row {
    position: static;
    margin: 10px 0;
  }
  .block-hot-deals .container-slider {
    float: left;
    width: 100%;
  }
}
@media (max-width: 360px) {
  .toolbar {
    position: relative;
  }
  .toolbar .block-right {
    position: static;
    text-align: left;
    padding: 0;
  }
  .toolbar .block-right .sort-by {
    position: absolute;
    top: 0;
    left: 70px;
  }
  .toolbar .block-right .limiter {
    position: absolute;
    top: 0;
    left: 185px;
  }
  .toolbar .block-right .pager {
    margin: 10px 0 0 0;
  }
  /* product */
  .catalog-category-view .products-grid .item .inner {
    width: 100%;
  }
  .catalog-category-view .products-grid .item .inner .item-image .product-image {
    text-align: center;
  }
  .catalog-category-view .products-grid .item .inner .item-image .product-image img {
    width: 100%;
  }
  /* end product */
  .catalog-category-view .block-compare .block-title strong {
    margin: 0 0 20px !important;
  }
  .tag2,
  .tag3,
  .tag7,
  .tag8 {
    border-right: 1px solid #eaeaea;
  }
  .tag9 {
    border-bottom: 1px solid #eaeaea;
    border-top: none !important;
  }
  .tag8 {
    border-top: none !important;
  }
  .tag2 {
    position: relative;
  }
  .tag2:before {
    content: "";
    width: 100%;
    height: 1px;
    background: #eaeaea;
    position: absolute;
    bottom: -1px;
    left: 0;
  }
}
@media (max-width: 321px) {
  .tag2,
  .tag3,
  .tag4,
  .tag5,
  .tag7,
  .tag8,
  .tag9 {
    border-right: 1px solid #eaeaea;
  }
  .tag9 {
    border-bottom: 1px solid #eaeaea;
    border-top: none !important;
  }
  .tag8 {
    border-top: none !important;
  }
  .tag2,
  .tag4 {
    position: relative;
  }
  .tag2:before,
  .tag4:before {
    content: "";
    width: 100%;
    height: 1px;
    background: #eaeaea;
    position: absolute;
    bottom: -1px;
    left: 0;
  }
}
.block-slidebar {
  background: #312c29;
  float: left;
  width: 230px;
  position: relative;
  padding: 30px 0px;
  position: absolute;
  z-index: 9999;
  top: 0;
  left: -230px;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}
.block-slidebar ul li {
  line-height: 30px;
}
.block-slidebar ul li a {
  color: #ccc;
  padding-left: 32px;
  position: relative;
  float: left;
  display: inline-block;
  width: 100%;
}
.block-slidebar ul li a:before {
  content: "\f111";
  font-family: "FontAwesome";
  font-size: 4px;
  color: #ccc;
  position: absolute;
  top: 0px;
  left: 20px;
}
.block-slidebar ul li.parent ul {
  padding-left: 15px;
  background: #4a423b;
  float: left;
  width: 100%;
}
.block-slidebar ul li.active > a,
.block-slidebar ul li.selected > a {
  color: #5a88ca;
}
.block-slidebar ul li.active > a:before,
.block-slidebar ul li.selected > a:before {
  color: #5a88ca;
}
.block-slidebar ul.nav-menu {
  float: left;
}
.block-slidebar ul.nav-menu > li > a:before {
  content: "\f0da";
  font-size: 14px;
}
.block-slidebar ul.nav-menu > li > ul {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px 0;
}
.block-slidebar .close-menu {
  position: absolute;
  top: 110px;
  right: -40px;
  visibility: hidden;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
  width: 40px;
  height: 40px;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.block-slidebar .close-menu:before {
  content: "\f03b";
  font-family: "FontAwesome";
  font-size: 14px;
  color: #ccc;
  position: absolute;
  top: 10px;
  left: 12px;
}
.block-slidebar .close-menu:hover {
  background: #312c29;
}
.block-slidebar .close-menu span {
  display: none;
}
.show-menu .block-slidebar {
  left: 0;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}
.show-menu .block-slidebar .close-menu {
  visibility: visible;
}
