<?php
/**
 * Vt Inc.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End-user License Agreement
 * that is available through the world-wide-web at this URL:
 * http://wiki.vt.net/wiki/EULA
 * If you are unable to obtain it through the world-wide-web, please
 * send an email to support@vt.com so we can send you a copy immediately.
 *
 * @package     Vt_SocialLogin
 * @copyright   Copyright (c) 2014 Vt Inc. (http://www.vt.com)
 * @license     http://wiki.vt.net/wiki/EULA  End-user License Agreement
 */
?>

<!DOCTYPE HTML>
<html style="height: 100%;">
	<head>
	</head>
	<body style="height: 100%;margin: 0;padding: 0;">


<div style="text-align: center;height: 100%;">
<img src="/skin/frontend/base/default/images/vt/pslogin/page_load.gif" style="top: 50%;position: relative;margin-top: -64px;" />
</div>
<!-- 	https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flab3.tneu.org%2Findex.php&t=BT+Social+Share+Plugin+For+Joomla
 -->
	<!-- <meta name="keywords" content="joomla extensions, joomla extensions demo, bowthemes extensions" />
	<meta name="author" content="Super User" />
	<meta name="description" content="Joomla Extension Online Demo - Bowthemes" />
	<meta name="generator" content="Joomla! - Open Source Content Management" />
	<title>BT Social Share Plugin</title> -->


	<!-- <meta property="og:type" content="website" />
	<meta property="og:title" content="BT Social Share Plugin For Joomla" />
	<meta property="og:url" content="http://extensions.bowthemes.com/bt-social-share-plugin.html" />
	<meta property="og:description" content="BT Social Share plugin adds all major Social Networks into your Joomla articles. Plugin can be published at various locations in content, with 2 options display top or bottom of article. Plugin has backend settings where you can customise it. You can enable/disable each social network individually o" />
	<meta property="og:image" content="http://extensions.bowthemes.com/images/bt-social-sharing-plugin.PNG" />
	<meta property="fb:app_id" content="446576495406303" />
	<meta property="fb:admins" content="100000098730984,100004389064595" /> -->

	</body>
</html>