
/******** Horizontal Menu *********/

ul.nav-horizontal { 
/*
	padding:0 20px; font-size:1.1em; z-index:999; border:none;
	width:918px; margin:0 auto; padding:0 16px; font-size:13px; 
	*/
}

/************** ALL LEVELS  *************/ 
/* Style consistent throughout all nav levels */
ul.nav-horizontal li { list-style:none;  position:relative; text-align:left; }
ul.nav-horizontal li.over { z-index:999; }
ul.nav-horizontal a,
ul.nav-horizontal a:hover { display:block; line-height:1.3em; text-decoration:none; }
ul.nav-horizontal span { display:block; cursor:pointer; white-space:nowrap; padding:3px 15px; }
ul.nav-horizontal li ul span {white-space:normal; }

ul.nav-horizontal li.level0.parent span { padding:3px 15px 3px 13px; }
ul.nav-horizontal li li span.parent { background: url('../images/nav_link_bg.gif') 97% 50% no-repeat; }
ul.nav-horizontal li.level0.parent a.level0 { background: url('../images/nav_link_bg.gif') 92% 50% no-repeat; }

ul.nav-horizontal li img.image { float:left; position:relative; top:5px; left:7px; }


/************ 0 LEVEL  ***************/
ul.nav-horizontal li { float:left; margin:0; padding-bottom:0px; border-bottom:0px solid #A0B3C3; /*background-color:#ecf3f6;*/ }
ul.nav-horizontal li.active a { color:#d96708; }
ul.nav-horizontal a { float:left; padding:5px 12px 6px 8px; color:#333; font-weight:bold; }
ul.nav-horizontal li.over a,
ul.nav-horizontal a:hover { color:#d96708; }

ul.nav-horizontal li.active { margin:0; padding-bottom:0px; border-bottom:0px solid #A0B3C3; background-color:#ecf3f6; /*background:#ecf3f6 url(../images/nav_divider.gif) repeat-x 0 100%;*/ }
ul.nav-horizontal li.over { border-bottom:0px solid #A0B3C3; background-color:#d5e4eb; /*background:#d5e4eb url(../images/nav_divider.gif) repeat-x 0 100%;*/ }
ul.nav-horizontal li.last { /*background:#ecf3f6;*/ border-bottom:none; }

ul.nav-horizontal ul { margin-top:8px; }


/************ 1ST LEVEL ************/
ul.nav-horizontal ul li,
ul.nav-horizontal ul li.active { float:none; margin:0; padding-bottom:0px; border-bottom:1px solid #A0B3C3; background-color:#ecf3f6; }
ul.nav-horizontal ul li.over { border-bottom:1px solid #A0B3C3; background-color:#d5e4eb;  }
ul.nav-horizontal ul li.last { background:#ecf3f6; padding-bottom:0; }

ul.nav-horizontal ul li.last,
ul.nav-horizontal ul li.over.last { border-bottom:0; }
ul.nav-horizontal ul a,
ul.nav-horizontal ul a:hover { float:none; padding:3px; }
ul.nav-horizontal ul li a { font-weight:normal !important; }


/************ 2ND LEVEL ************/
ul.nav-horizontal ul { background-color:#fff; position:absolute; width:15em; top:26px; left:-10000px; border:1px solid #899ba5; }
ul.nav-horizontal .static-block ul{
	left: auto !important;
    position: relative;
    width: 100%;
	border:none !important;
	background:none !important;
} 


ul.nav-horizontal .static-block li:hover{background:none !important}
ul.nav-horizontal .static-block li{background:none !important; border:none !important}
/* Show menu */
ul.nav-horizontal li.over > ul { left:0; }
ul.nav-horizontal li.over > ul li.over > ul { left:100px; }
ul.nav-horizontal li.over ul ul { left:-10000px; }

ul.nav-horizontal li.active,
ul.nav-horizontal li.over,
ul.nav-horizontal li:hover { }

ul.nav-horizontal ul li a { background:#fff; }
ul.nav-horizontal ul li a:hover { background:#d5e4eb; }
ul.nav-horizontal ul li a,
ul.nav-horizontal ul li a:hover { color:#2f2f2f !important; }
ul.nav-horizontal ul span, 
ul.nav-horizontal ul li.last li span { padding:3px 15px 4px 15px;}

/*
ul.nav-horizontal li li.parent a { background: url('../images/i_nav-parent.gif') 100% 100% no-repeat; }
*/

/************ 3RD+ LEVEL ************/
ul.nav-horizontal ul ul { top:5px; }

/* IE FIX Menu Show */
* html ul.nav-horizontal li.over > ul { left:0; top:30px; }
ul.nav-horizontal li.over ul.shown-sub { left:0; }
ul.nav-horizontal li.over li ul.shown-sub { left:100px; }

* html ul.nav-horizontal ul li,
* html ul.nav-horizontal ul a,
* html ul.nav-horizontal ul span { height: 18px; }

* html ul.nav-horizontal ul li.parent { border-bottom: 1px dotted #899ba5; }
* html ul.nav-horizontal ul li.last { border-bottom: 0; }

ul.nav-horizontal li a span.icon { margin-left: 10px; border:0px solid red; }

/*** Fix IE6 **/
* html ul.nav-horizontal li a span.icon { padding-left: 5px; }

/************** VERTICAL MENU  *************/ 
ul.nav-vertical { float:left; width:195px; margin:0; padding:0; font-size:1.05em; z-index:999; width:15em;  } 


/************** ALL LEVELS  *************/ 
/* Style consistent throughout all nav levels */
ul.nav-vertical li { float:left; list-style:none; position:relative; left:0; top:0; text-align:left;  }
ul.nav-vertical li.over { z-index:999; }
ul.nav-vertical a,
ul.nav-vertical a:hover { width:192px; display:block; line-height:1.3em; text-decoration:none; }
ul.nav-vertical span { display:block; cursor:pointer; white-space:nowrap; padding-top: 2px; }
ul.nav-vertical li ul span { white-space:normal; }

ul.nav-vertical span.parent { background: url('../images/i_nav-parent.gif') 97% 50% no-repeat; }

ul.nav-vertical li img.image { float:left; position:relative; top:5px; left:9px; }
ul.nav-vertical li img.image.level0 { float:left; position:relative; top:8px; left:9px; }

/************ 0 LEVEL  ***************/ 
ul.nav-vertical li { float:left; margin:0; padding-bottom:0px; border-bottom:1px solid #d4d4d4;}
ul.nav-vertical li a { float:left; padding:0; color:#006699; font-weight:bold; }
ul.nav-vertical li a span { padding:5px 12px 6px 8px;  }
ul.nav-vertical li a span.level0 { padding:8px 12px 9px 8px;  }
ul.nav-vertical li.over a,
ul.nav-vertical li.active a,
ul.nav-vertical a:hover { color:#d96708; }

ul.nav-vertical li.active,
ul.nav-vertical li.over { border-bottom:1px solid #A0B3C3; background-color:#d5e4eb; }
ul.nav-vertical li.last { background:#ecf3f6; padding-bottom:0; border-bottom:none; }

ul.nav-vertical .static-block ul{
	left: auto !important;
    position: relative;
    width: 100%;
	border:none !important;
	background:none !important;
} 
ul.nav-vertical .static-block li:hover{background:none !important}
ul.nav-vertical .static-block li{background:none !important; border:none !important}
ul.nav-vertical .static-block .fieldset {float:left !important; padding-bottom:20px !important}
ul.nav-vertical .static-block .field, ul.nav-vertical .static-block .wide{width:100% !important}
/************ 1ST LEVEL ************
ul.nav-vertical ul li { float:left; margin:0; padding-bottom:0px; border-bottom:1px dotted #A0B3C3; background-color:#ecf3f6; }
*/
ul.nav-vertical ul a,
ul.nav-vertical ul a:hover { margin:0; width:192px; float:none; padding:0; background:none; }
ul.nav-vertical ul li a { font-weight:normal !important; }

/************ 2ND LEVEL ************/
ul.nav-vertical ul { background-color:#fff; position:absolute; width:192px; top:15px; left:-10000px; border:1px solid #899ba5; }

/* Show menu */
ul.nav-vertical li.over > ul { left:125px; }
ul.nav-vertical li.over > ul li.over > ul { left:100px; }
ul.nav-vertical li.over ul ul { left:-10000px; }

ul.nav-vertical li a { background-color:#FBFAF6; }
ul.nav-vertical li a.active,
ul.nav-vertical li a:hover { background-color:#d4d4d4; }
ul.nav-vertical li a,
ul.nav-vertical li a:hover { color:#2f2f2f !important; }
ul.nav-vertical span, 
ul.nav-vertical li.last li span { padding:3px 15px 4px 15px; }

/************ 3RD+ LEVEL ************
ul.nav-vertical ul ul { top:5px; }
ul.nav-vertical li li li.parent a { background: url('../images/i_nav-parent.gif') 100% 100% no-repeat; }
ul.nav-vertical li li li.parent li a { background-image:none; }

ul.nav-vertical ul ul li a:hover { background:#d5e4eb; }
ul.nav-vertical ul ul li a:hover { color:#2f2f2f !important; }
*/


/* IE FIX Menu Show */
ul.nav-vertical li.over ul.shown-sub { left:125px; }
ul.nav-vertical li.over li ul.shown-sub { left:100px; }

ul.nav-vertical li a span.icon { margin-left: 30px; border:0px solid red; }

/*** Fix IE6 **/
ul.nav-vertical li a span.icon { padding-left: 5px; }


/************** LINK LIST  *************/
div.nav-link-list img { position:relative; top:4px; }

/* Tree Menu */
.vertnav-container {margin-top:10px;}

.treeContainer{padding: 5px;}
.treeContainer p{margin: 2px 0px;}
.treeContainer a, .treeContainer a:visited
{
	margin:0 5px 0 0;
	padding: 2px 0px 2px 5px;
	text-decoration: none;
	color:#000;
	font-size: 1.05em;
}
.treeContainer a{font-weight: bold;}
.treeContainer a:hover{color: #d96708;}
.treeContainer a img { float:left; position:relative; top:3px; left:5px; margin-right:10px}
.activeTreeItem a, .activeTreeItem a:visited{font-weight: bold;}
.activeTreeItem a:hover{}
.treeItem{cursor: pointer !important;padding: 5px 0px 0px 12px;}
.haveContainer {background: transparent url(../images/ico_plus.gif) no-repeat 1px 10px;}
.expanded p.collapsed{background: transparent url(../images/ico_plus.gif) no-repeat 1px 6px !important;}
.itemContainer{padding-left: 10px;}
.expanded .haveContainer, p.expanded{background-image: url(../images/ico_minus.gif);}

/********Custom CSS*********/
.horizontalMenu {
   -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("../images/nav-bg.gif") repeat-x scroll center bottom #7F7F7F;
    border-color: #888888 #6C6C6C #4F4F4F #4F4F4F;
    border-image: none;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 1px;
    font-size: 13px;
}
.horizontalMenu .nav-horizontal > li {
    background: url("../images/nav-border.gif") no-repeat scroll right center transparent;
    position: relative;
    text-align: left;
	padding:2px 0px;
}
.horizontalMenu ul.nav-horizontal a {color:#fff !important}
.horizontalMenu ul.nav-horizontal ul li a, .horizontalMenu ul.nav-horizontal.nav-horizontal ul li a:hover{color:#fff !important}
.horizontalMenu ul.nav-horizontal li.over {background:url(../images/tail-menu-act.gif) left bottom repeat-x #5a5a5a !important;}
.horizontalMenu ul.nav-horizontal ul {border:1px solid #3A3A3A !important;}
.horizontalMenu ul.nav-horizontal ul.level0 { top:29px}
.horizontalMenu ul.nav-horizontal ul li, .horizontalMenu ul.nav-horizontal ul li.active { background-color: #3A3A3A !important; border-bottom:1px solid #515050 !important}
.horizontalMenu ul.nav-horizontal ul li a { background:none !important;}
.horizontalMenu ul.nav-horizontal .static-block ul{ background:none !important; border:none !important}
.horizontalMenu ul.nav-horizontal .static-block ul li{ background:none !important; border:none !important}
.horizontalMenu ul.nav-horizontal ul.static-block {border:1px solid #D4D4D4 !important}
.explodedMenu {background:#111111; height:40px}
.explodedMenu .menu a.parentMenu{color:#999}
.explodedMenu .active{background-color:#fff !important}
.explodedMenu .active a.parentMenu{color:#333 !important}
.explodedMenu .explodedmenu-menu-popup {border:none !important;box-shadow: 5px 12px 12px 1px rgba(0, 0, 0, 0.5);}
.explodedMenu ul.nav-exploded > li.menu { border-left: 1px solid #222222;}
.explodedMenu #explodedmenu {padding:0px !important}
.explodedMenu .menu {padding:10px 20px 10px !important}
.explodedMenu li.active {border-left:1px solid #fff !important}
.explodedMenu li.active .itemMenu a:hover { color: #E26703 !important;}
.explodedMenu .itemSubMenu .itemMenu{padding: 5px 0px;}

