<?php
/**
 * Vt Inc.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End-user License Agreement
 * that is available through the world-wide-web at this URL:
 * http://wiki.vt.net/wiki/EULA
 * If you are unable to obtain it through the world-wide-web, please
 * send an email to support@vt.com so we can send you a copy immediately.
 *
 * @package     Vt_SocialLogin
 * @copyright   Copyright (c) 2014 Vt Inc. (http://www.vt.com)
 * @license     http://wiki.vt.net/wiki/EULA  End-user License Agreement
 */
?>

<?php if(Mage::helper('pslogin')->isFakeMail()) : ?>
	<div class="pslogin-fake-email-message">
		<div class="content">
			<div class="close-message">&#10005;</div>
			<p>
				<?php echo Mage::helper('pslogin')->__('Your account needs to be updated. The email address in your profile is invalid. Please indicate your valid email address by going to the <a href="%s">Account edit page</a>', Mage::getUrl('customer/account/edit')); ?>
			</p>
		</div>
	</div>
<?php endif; ?>