<?php 
$this->setImageAsBackground(true);
$this->getBlock()->addElementOptions('class', 'div', array('magemenu-menu', 'nav-exploded vertical-menu navbar vt-magemenu'));

?>
<div<?php echo $this->getBlock()->getElementOptions('div') ?>>
    <div class="header-nav">
        <div class="block-title">
			<span class="text"><?php echo $this->__('Categories'); ?></span><span class="i_title"><i class="fa fa-bars"></i></span>
		</div>
		<ul class="nav-exploded explodedmenu">
			<?php foreach ($this->getMenuNodes() as $key => $node): ?>
				<?php echo $this->drawExplodedMenuItem($node) ?>
			<?php endforeach ?>
	    </ul>	
    </div>
</div>
<?php if(Mage::getStoreConfig('magemenu/general/use_responsive')):?>
<div class="nav-accordion magemenu-responsive">
    <div class="navbar-inner">
		<a class="responsivebar show-responsive-bar"><?php echo $this->__('Menu')?></a>
		<div class="nav-collapse">
			<ul class="nav nav-tabs  nav-stacked accordion" id="accordion">
				<?php foreach ($this->getMenuNodes() as $key => $node): ?>
					<?php echo $this->drawResponsiveMenuItem($node) ?>
				<?php endforeach ?>
			</ul>
		</div>
    </div>
</div>
<?php endif;?>
<script type="text/javascript">
jQuery(document).ready(function($){
	$('.vertical-menu .explodedmenu').hide();
	$('.cms-home02 .vertical-menu .explodedmenu').show();
	$("body").click(function() {
		$('.vertical-menu .explodedmenu').hide();
	});
	
	$('.vertical-menu .block-title').click(function(e){
		e.stopPropagation();
		$('.vertical-menu .explodedmenu').slideToggle('fast');
	})
})
</script>