<?php 
$this->setImageAsBackground(true);
$this->getBlock()->addElementOptions('class', 'div', array('block', 'magemenu-menu nav-tree navbar vt-magemenu'));

?>
<div<?php echo $this->getBlock()->getElementOptions('div') ?>>
	<div class="header-nav">
        <div class="block-title<?php echo ! $this->getData('display_name') ? ' no-display' : '' ?>">
			<strong><span><?php echo $this->__($this->getData('name')) ?></span></strong>
		</div>

		<div id="tree-magemenu" class="treeContainer">
			<?php foreach ($this->getMenuNodes() as $key => $node): ?>
				<?php echo $this->drawTreeMenuItem($node) ?>
			<?php endforeach ?>
		</div>	
		
    </div>
</div>
<?php if(Mage::getStoreConfig('magemenu/general/use_responsive')):?>
<div class="nav-accordion magemenu-responsive">
    <div class="navbar-inner">
		<a class="responsivebar show-responsive-bar"><?php echo $this->__('Menu')?></a>
		<div class="nav-collapse">
			<ul class="nav nav-tabs  nav-stacked accordion" id="accordion">
				<?php foreach ($this->getMenuNodes() as $key => $node): ?>
					<?php echo $this->drawResponsiveMenuItem($node) ?>
				<?php endforeach ?>
			</ul>
		</div>
    </div>
</div>
<?php endif;?>
<script type="text/javascript">
// <![CDATA[
options = {};
options.treeContainer = "treeContainer";
options.item = "treeItem";
options.container = "itemContainer";
options.containerFlag = "haveContainer";
options.expanded = "expanded";
options.collapsed = "collapsed";
options.active = "activeTreeItem";
options.itemElement = "P";
options.itemLink = "A";
createTreeMenu(options, "tree-magemenu");
// ]]>
</script>

