<?php
//print_r($this->block_slide);
if($this->block_slide){
$uniqued = rand().time();
?>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<div id="vt_slider<?php echo $uniqued;?>" class="block block-banner-01 block_slide">
		<?php if($this->pretext != '') { ?>
			<div class="pre-text"><?php echo $this->pretext; ?></div>
		<?php } ?>
		<?php /*if ($this->title){?>
			<div class="title">
				<?php echo $this->title;?>
			</div>
		<?php } */ ?>
		<div class="wrap_item">
		<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId($this->block_slide)->toHtml();?>
		</div>
		<?php if( $this->posttext != '' ) {  ?>
			<div class="post-text"><?php echo $this->posttext; ?></div>
		<?php } ?>
		<div class="navslider">
			<a class="prev" href="#">Prev</a>
			<a class="next" href="#">Next</a>
		</div>					 
    </div>	
	

	<script type="text/javascript">
	//<![CDATA[
	    jQuery(document).ready(function($) {
	        $('#vt_slider<?php echo $uniqued; ?> div.wrap_item').owlCarousel({
	        	items: <?php echo $this->screen_lg; ?>,
	            itemsCustom: [ 
	            	[0, <?php echo $this->screen_phone; ?>], 
	            	[480, <?php echo $this->screen_xs; ?>], 
	            	[768, <?php echo $this->screen_sm; ?>], 
	            	[992, <?php echo $this->screen_md; ?>], 
	            	[1200, <?php echo $this->screen_lg; ?>] 
	            ],
	            pagination: false,
	            slideSpeed : 800,
	            addClassActive: true,
	            scrollPerPage: false,
	            touchDrag: false,
				afterAction: function (e) {
				    if(this.$owlItems.length > this.options.items){
				        $('#vt_slider<?php echo $uniqued; ?> .navslider').show();
				    }else{
				        $('#vt_slider<?php echo $uniqued; ?> .navslider').hide();
				    }
				}
	        });
			$('#vt_slider<?php echo $uniqued; ?> .navslider .prev').on('click', function(e){
				e.preventDefault();
				$('#vt_slider<?php echo $uniqued; ?> div.wrap_item').trigger('owl.prev');
			});
			$('#vt_slider<?php echo $uniqued; ?> .navslider .next').on('click', function(e){
				e.preventDefault();
				$('#vt_slider<?php echo $uniqued; ?> div.wrap_item').trigger('owl.next');
			});
	    });
	//]]>
	</script>
</div>
<?php } else { echo $this->__('Has no item to show!');}?>
 