<ol>
<?php foreach ($this->getItems() as $_item): ?>
    <li>
        <?php if ($_item->getCount() > 0): ?>
        <a href="<?php echo $this->urlEscape($_item->getUrl()) ?>">
        	<?php echo $_item->getLabel() ?>
        </a>
        <?php else: echo $_item->getLabel() ?>
        <?php endif; ?>
        <?php if ($this->shouldDisplayProductCount()): ?>
        <span>(<?php echo $_item->getCount() ?>)</span>
        <?php endif; ?>
    </li>
<?php endforeach ?>
</ol>
