<div class="header-container header01">
    <div class="header">  
        <div class="box_header_01">
            <div class="container">
                <div class="row">  
					<div class="row">						
						<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('header-phone')->toHtml(); ?>						
						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
							<div class="toplink col_xs">
								<div class="inner">
									<span class="d-hide"><?php echo $this->__("My Account");?></span>
									<?php echo $this->getChildHtml('topLinks'); ?>
								</div>
							</div><!--end toplinks-->    
						</div>
					</div>  
                </div>  
            </div>      
        </div><!--box_header_01--> 
        <div class="box_header_02">
            <div class="container">
                <div class="row">
                    <div class="inner">    
    					<div class="block-wrap-search col-lg-8 col-md-8 col-sm-8 col-xs-12">
    						<?php  echo $this->getChildHtml('searchboxpro'); ?>
    					</div>
    					
                        <div class="wrap-block-cl col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="inner-cl">
                                <?php echo $this->getChildHtml('store_language') ?>      
                                <?php echo $this->getChildHtml('currency') ?>             
                            </div>                      
                        </div>
    					<div class="block-wrap-cart col-lg-2 col-md-2 col-sm-2 col-xs-12">
    						<?php echo $this->getChildHtml('cart_sidebar') ?>
    					</div>
                    </div>
                </div>  
            </div>      
        </div><!--box_header_02-->    
        <div class="box_header_03">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <a class="logo" href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>"><img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" /></a>
                    </div>
                    <div class="plr  col-lg-9 col-md-9 col-sm-9 col-xs-12">
                        <div class="box-banner">
                            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('banner04')->toHtml(); ?>
                        </div>
                    </div>    
                </div>  
            </div>      
        </div><!--box_header_03-->   
        <div class="box_header_04 vt_menu">
            <div class="container">
                <div class="row">
                    <?php echo $this->getChildHtml('magemenu.menu.top'); ?>                    
                </div>  
            </div>      
        </div><!--box_header_04-->   
        <div id="mobile-nav">
            <?php echo $this->getChildHtml('mobiMenu'); ?>
        </div>                 
    </div>
</div>