<div class="header-container header04">
    <div class="header">  
    <div class="header-top">
       <div class="container hide-des">
            <div class="row">
                <div id="mobile-nav">
                    <?php echo $this->getChildHtml('mobiMenu'); ?>
                </div>      
            </div>
        </div> 
        <div class="container">
            <div class="row">  
				<div class="row">						
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
						<a class="logo" href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>"><img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" /></a>
                        <div class="shop-menu-h4"><span>Shop</span></div>
                        <div class="box_header_03 box_header_03_h4" style="display:none">
                            <div class="wrap-menu-home-03">
                            <?php echo $this->getChildHtml('magemenu.menu.bottom'); ?>
                            </div>
                        </div>
                        <script type="text/javascript">
                         // <![CDATA[
                         jQuery(document).ready(function($) {    
                            jQuery('.shop-menu-h4').click(function(){
                                    jQuery('.box_header_03_h4').slideToggle();
                             });
                                   jQuery("body").click(function() {
                                        jQuery('.box_header_03_h4').hide();
                                    });
                                    
                                    jQuery(".shop-menu-h4").click(function(e) {
                                        e.stopPropagation();
                                    });
                                                       

                          });
                            // ]]>
                        </script>
					</div>
					  <div class="block-smml-item col-lg-9 col-md-9 col-sm-9 col-xs-12">
						<div class="inner">
                            <?php  echo $this->getChildHtml('searchboxpro'); ?>
                            <div class="inner-cl">
                            <div class="toplink col_xs">
                                <div class="inner">
                                    <span class="d-hide"><?php echo $this->__("My Account");?></span>
                                    <?php echo $this->getChildHtml('topLinks'); ?>
                                </div>
                            </div><!--end toplinks-->
                            <?php echo $this->getChildHtml('store_language') ?>      
                            <?php echo $this->getChildHtml('currency') ?>
                             <?php echo $this->getChildHtml('cart_sidebar') ?>
                            </div>
                        </div>
					</div>                      
				</div>  
            </div>  
        </div>      
       </div>  
        <div class="box_header_03">
            <div class="container">
                <div class="row">  
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="slide-wrap">
                                <div class="wrap-slideshow">    								
    								<?php echo $this->getChildHtml('slideshow.list'); ?> 
                                </div>
                            </div>
                        </div>
                        </div>    
                    </div>  
                </div>  
            </div>      
        </div><!--box_header_01-->                   
    </div>
</div>