<div class="header-container header02" style="background-color: black;">
    <div class="header">  
       <div class="container hide-des">
            <div class="row">
                <div id="mobile-nav">
                    <?php echo $this->getChildHtml('mobiMenu'); ?>
                </div>      
            </div>
        </div> 
        <div class="container">
            <div class="row">  
				<div class="row">						
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
						<a class="logo" href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>"><img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" /></a>
					</div>
					  <div class="block-right-item col-lg-9 col-md-9 col-sm-9 col-xs-12">
						<div class="inner">
                            <p class="phone">Call us: <span>09 456 7823</span></p>
                            <div class="toplink col_xs">
								<div class="inner">
									<span class="d-hide"><?php echo $this->__("My Account");?></span>
									<?php echo $this->getChildHtml('topLinks'); ?>
								</div>
							</div><!--end toplinks-->    
                            <?php echo $this->getChildHtml('cart_sidebar') ?>
                        </div>
					</div>                      
				</div>  
            </div>  
        </div>      
       
		<div class="box_header_04 vt_menu">
            <div class="container">
                <div class="row">
                    <?php echo $this->getChildHtml('magemenu.menu.top'); ?>
                </div>  
            </div>      
        </div><!--box_header_02-->   
        <div class="box_header_03">
            <div class="container">
                <div class="row">  
                    <div class="row">
                        <!--<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 hide-menu">
                            <div class="wrap-menu">
                            <?php echo $this->getChildHtml('magemenu.menu.bottom'); ?>
                            </div>
                        </div>-->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <?php  echo $this->getChildHtml('searchboxpro'); ?>
                            <div class="slide-wrap">
                                <div class="wrap-slideshow">    								
    								<?php echo $this->getChildHtml('slideshow.list'); ?> 
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 wrap-block-cl">
                            <div class="inner-cl">
                            <?php echo $this->getChildHtml('store_language') ?>      
                            <?php echo $this->getChildHtml('currency') ?>
                            </div>
                            <?php  echo $this->getChildHtml('banner05'); ?>
                        </div>    
                    </div>  
                </div>  
            </div>      
        </div><!--box_header_01-->                   
    </div>
</div>
