@media (min-width: 768px) {
	body.cms-home-03 *{
		font-family:'Open Sans'!important;
		  font-weight: 500 !important;
		a{color:#333;
		}

	}
	.header03{
	#mobile-nav{z-index:9999;}
	margin-bottom:20px;
			.box_header_03{
			.slide-wrap{
			position:relative;
			}
			.magemenu-menu{
					.explodedmenu{
					top:45px;
					padding-top:0;
					display:block!important;
						li.menu{
							>a{
							  padding: 5px 0 6px 20px;
							  img{display:none;}
							}
						}
						li.parentMenu{
							&:after {
							  color: #666;
							  content: "\f105";
							  font-family: FontAwesome;
							  font-size: 15px;
							  float: right;
							  margin-top: -32px;
							  margin-right: 20px;
							  z-index: 9;
							}
							&:hover{
								.explodedmenu-menu-popup {
	  							left: 262px;
								}
							}
						}
						#menu10{
						border-left:5px solid #1f8a70;
						}
						#menu11{
						border-left:5px solid #bedb39;
						}
						#menu25{
						border-left:5px solid #ffe11a;
						}
						#menu26{
						border-left:5px solid @activeColor;
						}
						#menu27{
						border-left:5px solid #5a88ca;
						}
						#menu28{
						border-left:5px solid #1f8a70;
						}
						#menu29{
						border-left:5px solid #bedb39;
						}
						#menu30{
						border-left:5px solid #ffe11a;
						}

					}
				 .header-nav{

				 	 .block-title{
						background:none;
						border-top:5px solid @activeColor;
						height:45px;
						border-top-left-radius: 3px;
						border-top-right-radius: 3px;
						border-bottom: 1px solid @borderColor;
						border-left: 1px solid @borderColor;
						span{
							 font-size: 18px;
			  				text-transform: uppercase;
			  				color:#333;
						}
					}
				 }
			}
			  	#banner-left{
			  		height:380px;.shadow1(); padding:1px ;border: 1px solid @borderColor;
			  		.sub-item{
			  			padding: 15px 20px;
			  			border-bottom:1px solid @borderColor;
			  			img{
			  				&:hover{
			  			  	.opacity(70);
			  			  	}
			  			}
			  		}
			  		.carousel-control.left{
			  		top:328px;margin-right:85px;
			  		}
			  		.carousel-control.right{
			  		top:328px;margin-right:60px;
			  		}
			  	}
			  }
		.block-smml-item{
			  padding: 25px 0;
			  
			.advanced-search{
				float: left; position: relative; .shadow1(); padding:1px ;border: 1px solid @borderColor;width: 660px;  
				.border-radius(3px); 
				.dropdown-cate,.form-search,.button{ float: right; }
				.form-search{ position: relative; padding-left: 170px; padding-right: 22px;	width: 100%;	
					#search{ width: 100%; height: 38px;margin: 0; padding-left: 40px;
						color: #999;  padding-left: 20px; float: left; border:none;
					}				
				}
				.button{ color: #fff; position: absolute; right: 0;  z-index: 9; 
					 padding: 1px;  min-height: 38px; min-width: 38px; background: #fff; margin: 0;border-left: 1px solid @borderColor;  border-radius: 0;
					> span{ display: block;  
						&:after{ content: "\f002"; position: absolute; top: 10px; left: 13px; 
							 font-family: "Fontawesome"; color: @activeColor; 
						}
						>span{ display: none; }
					}
					&:hover{
						> span{
							&:before{ background: @text3; }
						}
					}
				}
				.dropdown-cate{ position: absolute; z-index: 99; left: 0;
					padding: 0 0px 0px 20px; background: #fff; border-right: 1px solid @borderColor;
					&:before{ content: "\f107"; font-family: "FontAwesome"; position: absolute; top: 9px; 
						font-size: 14px; right: 20px; color: @text6;
					}
					.cat-search{ display: block; line-height: 38px; color: @text6; 
						position: relative;
						width: 149px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
						&:hover{
					    	cursor: pointer;
					    }
					}
				}
				.scrollbar {		
					position: absolute;
					width:200px;
					background: #fff;
				}
				
				li{
					&:hover{ color: @activeColor !important; }
				}
				
				.wrap-scrollbar{ 
					position: absolute;
					top: 34px; left: 0;
					min-width: 200px;
					background: #fff;
					.shadow();
					padding: 15px 0 15px 15px;
					display: none;
					li{
						&.level-3{ padding-left: 15px; color: #888; }
						&.level-4{ padding-left: 30px; color: #aaa; }
						&:hover{ cursor: pointer; }
					}
				}
			}
			.inner-cl{ float: right; .shadow1();border: 1px solid @borderColor;padding:1px;width: 290px;.border-radius(3px); margin-right:15px; }
			.toplink{
			width:40px;
			float:left;
			position:relative;
			cursor:pointer;
					.d-hide{
  					display: block;
  					overflow:hidden;
  					height:38px;
  						&:before{ content: "\f007"; width:100%;height:100%;display:block;
							 font-family: "Fontawesome"; color: @activeColor;color: @activeColor;
							  text-align: center;
							  line-height: 38px; 
						}
					}
					ul.links{ 
					position: absolute; left: 0; top: 52px; padding: 10px; background: #fff;
					.shadow();
					.opacity(0); visibility: hidden;  z-index: 999;
					li{ background: @bgf9;
						a{ position: relative; white-space: nowrap; line-height: 30px; color: @text6; font-size: 85.71%;
							padding-left: 12px; display: block;
							img{ margin-right: 8px; margin-top: 10px; }
							.cur_icon{ margin-right: 6px; }
							&:hover{ 
								color: #fff; background: @activeColor; 
							} 
						}
					}
						li{ float: left;width:100%;
						padding-left: 44px;padding-right:10px;
						&:hover{
							background:@activeColor;
							a{
								&:before{
								color:#fff;
								}
							}
						}
						a{
							position: relative; 
							&:before{
								content: ""; font-family: "FontAwesome"; color: @activeColor; position: absolute; top: -2px; left: -29px; 
								font-size: 14px; 
							}
							&.top-link-myaccount{
								&:before{ content: "\f007"; }
							}
							&.top-link-wishlist{
								&:before{ content: "\f08a"; }
							}
							&.top-link-checkout{
								&:before{ content: "\f0a9"; }
							}
							&.top-link-login{
								&:before{ content: "\f084"; }
							}
						}
					}
				}
				&:hover{
					ul.links{ margin-top: 0; top:32px; .opacity(100); visibility: visible; .transition(all 0.3s ease-out 0s); }
					
				}
			}
			.block{ float: left; margin: 0; position: relative; background: #fff;border-left: 1px solid @borderColor;
				&:after{ color: @text6; content: "\f107"; font-family: "FontAwesome"; font-size: 15px; 
				position: absolute; top: 0px;  right: 20px; z-index: 9; }			   
				img{   }			
				span{ display: inline-block; text-transform: capitalize; 
				}
				&:hover{ cursor: pointer;}
				> div{ position: relative;  
					img{  margin-right: 3px;  }
					>span{ color: @text6; }
				}
				> ul{ 
					position: absolute; left: 0; top: 52px; padding: 10px; background: #fff;
					.shadow();
					.opacity(0); visibility: hidden;  z-index: 999;
					li{ background: @bgf9;
						a{ position: relative; white-space: nowrap; line-height: 30px; color: @text6; font-size: 85.71%;
							padding-left: 12px; display: block;
							img{ margin-right: 8px;}
							.cur_icon{ margin-right: 6px; }
							&:hover{ 
								color: #fff; background: @activeColor; 
							} 
						}
					}
				}
				&:hover{
					> ul{ margin-top: 0; top:32px; .opacity(100); visibility: visible; .transition(all 0.3s ease-out 0s); }
					
				}
				&.block-language{ width: 147px;	line-height: 38px; 	
				img{ margin-left: 20px; margin-right: 8px; margin-top: 14px; }
					> ul{	
						a{padding-left:0;}
						img{  margin-right: 8px; margin-top: 8px; }				
						min-width: 132px;			
						left: 15px;		
					}
				}
				&.block-currency{ width: 97px;line-height: 38px; 
					> div{ margin-left: 28px; }
					>ul{
						
						min-width: 114px;
					}
				}
			}
			.block-cart{position: absolute;background:transparent;top:100px;right:30px;border:none;z-index:998;
			&:after{display:none;}	
			.block-title{ height: 50px; position: relative;padding-right:40px;cursor:pointer;line-height: 38px; 
				p{ color: #fff; margin: 0; .size1(); display:none; }	
				a{ 
					color: #666; 
					> span{ font-weight: 400 !important; }
				}		
				&:after{
				  content: "";
				  position: absolute;
				  top: 10px;
				  right:1px;
				  width: 20px;
				  height: 20px;
				  background: url(../images/edo.png) no-repeat;
				}	
				&:before {
					  content: "";
					  width: 28px;
					  height: 28px;
					  background: @activeColor;
					  -webkit-border-radius: 50%;
					  -moz-border-radius: 50%;
					  border-radius: 50%;
					  position: absolute;
					  top: 3px;
					  right:0px;
					  -webkit-transition: all .3s ease-out 0s;
					  -moz-transition: all .3s ease-out 0s;
					  -o-transition: all .3s ease-out 0s;
					  transition: all .3s ease-out 0s;
					}	
			}
			&:hover{
				
				.block-content{
					.opacity(100); margin-top: 0; visibility: visible; .transition(all 0.3s ease-out 0s);
				}
			}
			.block-content{ float: left; width: 300px; position: absolute; top: 50px; margin: 0;  right: 0; 
				z-index: 99; .shadow(); .opacity(0); margin-top: 30px; visibility: hidden; 
				.transition(all 0.3s ease-out 0s);
				.inner{ background: #fff; float: left; width: 100%; padding: 15px 20px; 
					.block-subtitle{
						text-transform: uppercase; font-size: 100%;
					} 
					.truncated{ display: none; }
					#cart-sidebar{
						li{	padding: 15px 0 25px 30px; border-bottom: 1px solid @borderColor; position: relative;
							.btn-remove{ position: absolute; top: 18px; font-size: 14px; left: 0; width: 15px; height: 15px; text-indent: -9999em;
								&:before{ content: "\f014"; font-family: "FontAwesome"; position: absolute; top: 0; left: 0;
								text-indent: 0;
								}
							}
							.btn-edit{	position: absolute; top: 42px; font-size: 14px; left: 0; width: 15px; height: 15px; text-indent: -9999em;
								&:before{ content: "\f040"; font-family: "FontAwesome"; position: absolute; top: 0; left: 0;
								text-indent: 0;
								}
							}
							.product-image{ float: left; margin-right: 10px; overflow: hidden;
								&:hover{
									img{ .opacity(80); .scale(1.2); .transition(all 0.3s ease-out 0s); }
								}
							}
							.product-name{ font-size: 100%; 
								a{ display: inline-block; width: 132px; overflow: hidden;
								text-overflow: ellipsis; white-space: nowrap; text-transform: capitalize; }
							}
							.product-details{ float: left;
								> strong{ float: left; min-width: 98px; border: 1px solid @borderColor;
									a{ float: left; min-width: 19px; min-height: 28px; float: left; margin: 0; 
										&.flycart-qty-change-left{
											background: url('@{base-url}minus.png') no-repeat 0 0 #999;
										}
										&.flycart-qty-change-right{
											background: url('@{base-url}plus.png') no-repeat 0 0 #999;
										}
										&:hover{
											&.flycart-qty-change-left,
											&.flycart-qty-change-right{
												background-color: @activeColor;
											}
										}
									}
									input{ margin: 0; border: none; height: 28px; min-width: 58px;
										border-right: 1px solid @borderColor;
										border-left: 1px solid @borderColor;
										line-height:28px;
									}
								}
								.price{ color: @textff;
									 line-height: 100%; width: 100%; margin: 0 0 12px; display: inline-block;
								}
							}
						}
					}
					.summary{ float: left; width: 100%; margin-bottom: 8px;
						p{ margin: 0; width: 100%; 
							.label{ text-transform: uppercase; font-size: 100%; font-weight: normal;
								padding: 0; margin: 15px 0 0; display: inline-block; color: @text3;
							}
							.price{ float: right; font-size: 142.85%; margin-top: 6px; }						}
					}
					.actions{ float: left; width: 100%; text-align: center;
						.a-inner{  
							a{ color: #fff; text-transform: uppercase; font-size: 100%; position: relative;
								padding: 10px 22px 10px 37px; display: inline-block; 
								background: @text3;
								&:hover{ text-decoration: underline; } 
								&.btn-mycart{ position: relative; z-index: 9; background: @activeColor;
									padding-left: 22px; padding-right: 0;margin-right: -8px;
									&:before{ 
										border-color: @activeColor rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
									    border-style: solid;
									    border-width: 40px 40px 0 0;
									    content: "";
									    height: 0;
									    line-height: 0;
									    position: absolute;
									    right: -40px;
									    top: 0;
									    width: 0;
									}
								}
							}
						}
					}
				}
			}
			}/*------------------------end block cart--------------------------*/
		}
		.box_header_04{
			background:#fff;
			border:none;
			margin-bottom: 20px;
			.container{
				border: 1px solid @borderColor;
				border-radius:3px;
				background:url('../images/bgr-vt-menu-h3.png') repeat;
				.explodedmenu{
					>li {
					  padding: 0;
					  a{
					  border-left:1px solid transparent;
					  border-right:1px solid transparent;
					  }
					  &:hover{
					  >a{
					  	background:#fff;
					  	border-left:1px solid @borderColor;
					  	border-right:1px solid @borderColor;
					  	&:before {
						  content: "";
						  position: absolute;
						  top: -2px;
						  left: 0;
						  width: 100%;
						  height:5px;
						  background: @activeColor;
						  z-index: -1;
						  -webkit-border-radius:3px;
						  -moz-border-radius: 3px;
						  border-radius:3px;
						}
						span{color:#666;}

					  }					  }
					}
					li.menu{
					>a{padding:14px 20px;border-radius:0px;margin-left: -3px;}
					}
				}
			}
		}
	}
}
.cms-home-03
{
.defaultCountdownh3{
  padding:17px 0;
  border-top: 1px solid #eaeaea;
  margin-top: 7px;
  width:190px;
  &:before{
  content:'';
  display:block;
  float:left;
  width:33px;
  height:33px;
  margin-left:10px;
  background:url('../images/h3-deals.png') no-repeat;
  -webkit-animation: mymove infinite; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.3s; /* Chrome, Safari, Opera */
    animation: mymove infinite;
    animation-duration:5s;
	-webkit-animation-timing-function: linear;
	margin-right: 10px;
  	margin-top: -6px;
  }

  /* Chrome, Safari, Opera */
	@-webkit-keyframes mymove {
	     from {.rotate(0deg);}
		to {.rotate(360deg);}
	}

	@keyframes mymove {
	      from {.rotate(0deg);}
		to {.rotate(360deg);}
	}
}
.block-banner-03 {
  margin-top: 30px;
}
.block-popular-categories .block-popular .block-title .navslider {
  position: absolute;
  top: 18px;
  left: 30px;
}

	.page-title{display:none;}
	.products-grid{
	  padding: 0 10px;
	  .owl-wrapper-outer{
	  clear:both;
	  }
		 .item{
		 padding: 0 10px;
		 	.inner{
		 		.item-image {
		 		}
		 		.product-info{
		 			margin-bottom:0;
		 		}
		 		&:hover{
		 			.product-info{
		 			margin-top:0;
		 			}
		 		}
		 	}
		 }
	}
	.nav-tabs{
	height:50px;
		>li {
		  float: right;
		  margin-bottom: -1px;
		  a{
		  display:block!important;
		  padding: 14px 15px;
		  }
		  &:hover{
		  	a{
				 color: @activeColor;
				  cursor: pointer;
				  background-color: #fff;
				  border: 1px solid transparent;
				  border-bottom-color: @activeColor;
				}
		  }
		}
		li.active{
			a{
				 color: @activeColor;
				  cursor: default;
				  background-color: #fff;
				  border: 1px solid transparent;
				  border-bottom-color: @activeColor;
			}
		}
	}
	.navslider{ 
		a{
			float: left; width: 20px; height: 20px; border: 1px solid @borderColor;
			text-indent: -9999em;  background: #fff; .border-radius(50%);position:relative; margin-top:16px;
			&:before{ content: ""; text-indent: 0; color: @text3; font-family: "FontAwesome"; font-size: 14px; position: absolute; top: -1px; }
			&:hover{
				background: @activeColor; border-color: @activeColor;
				&:before{ color: #fff; }
			}
			&.prev{
				margin-right:5px;
				&:before{ content: "\f104"; left: 6px; }
			}
			&.next{
				&:before{ content: "\f105"; left: 7px; }
			}
		}
	}
	.carousel-control.left{
		text-shadow: none;.opacity(100);
		   width: 20px; height: 20px; border: 1px solid @borderColor;
			text-indent: -9999em;  background: #fff; .border-radius(50%);position:absolute; margin-top:16px; top: -70px; margin-right:45px;  float: none!important;left: auto;right:0;
			&:before{ content: "\f104"; text-indent: 0; color: @text3; font-family: "FontAwesome"; font-size: 14px; position: absolute;color:#333;  left: 8px; top: -1px; }
			&:hover{
				background: @activeColor; border-color: @activeColor;
				&:before{ color: #fff; }
			}
	}
	.carousel-control.right{
			text-shadow: none;.opacity(100);
			width: 20px; height: 20px; border: 1px solid @borderColor;
			text-indent: -9999em;  background: #fff; .border-radius(50%);position:absolute; margin-top:16px; top: -70px; margin-right:20px;
			&:before{ content: "\f105"; text-indent: 0; color: @text3; font-family: "FontAwesome"; font-size: 14px; position: absolute;color:#333;left: 8px; top: -1px;}
			&:hover{
				background: @activeColor; border-color: @activeColor;
				&:before{ color: #fff; }
			}
	}
}
.home-03-p1{
	.navslider{
		  position: absolute;
		  top: 0px;
		  left: 182px;
		  height: 50px;
		  border-right: 1px solid #eaeaea;
		  width: 90px;
		  padding:0 20px;
		}
	.home-03-newarivals,.home03-special{
		.shadow1();border: 1px solid @borderColor;.border-radius(3px);
		.title{
			float:left;
			border-top:5px solid @activeColor;
			padding: 10px 10px 10px 20px;
			border-top-left-radius: 3px;
			margin-left:-1px;
			margin-top:-1px;
			border-right: 1px solid @borderColor;
			border-bottom: 1px solid @borderColor;
			margin-bottom:20px;
			span{
				 font-size: 18px;
  				text-transform: uppercase;
  				color:#333;
			}
		}
		.banner-avantage{
			  border-top: 1px solid #eaeaea;
			  padding: 0px 246px;
  			  margin-top: 15px;
  			  img{
  			  	&:hover{
  			  	.opacity(70);
  			  	}
  			  }
		}
	}
	.home03-special{
		.title{
			float:none;
			border-right:none;
			border-top-right-radius: 3px;
		}
		.navslider{
			left:auto;
			right:15px;
			border:none;
		}
		.products-grid{
	 	 padding:0;
		 .item{
		 padding:0;
		 	.inner{
		 		.item-image {
		 		 padding: 0 20px;
		 		img{width:100%;}
		 		}
		 		.product-info{
		 			padding:0 ;
		 			margin-bottom:0;
		 			padding-top:14px;
		 			.product-name,.price-box,.rating{padding: 0 20px;}
		 			.item-btn {
					  margin-top: 20px;
					  border-top: 1px solid #eaeaea;
				    padding: 10px 20px;
					height: 50px;
					}
		 		}
		 			
			 	}
			 }
		}

	}
}
.home-03-p2{
  padding-top: 30px;
  clear: both;
	.navslider{
		  position: absolute;
		  top: 0px;
		  left: 150px;
		  height: 50px;
		  border-right: 1px solid #eaeaea;
		  width: 90px;
		  padding:0 20px;
		}
	.home03-special,.home-03-hotdeals{
		.shadow1();border: 1px solid @borderColor;.border-radius(3px);
		.title{
			float:left;
			border-top:5px solid @activeColor;
			padding: 10px 10px 10px 20px;
			border-top-left-radius: 3px;
			margin-left:-1px;
			margin-top:-1px;
			border-right: 1px solid @borderColor;
			border-bottom: 1px solid @borderColor;
			margin-bottom:20px;
			span{
				 font-size: 18px;
  				text-transform: uppercase;
  				color:#333;
			}
		}
		.view-all{
			  height: 50px;
			  border-bottom: 1px solid #eaeaea;
			  line-height: 50px;
			  padding-right: 20px;
			  a{float:right;}
		}
	}
	.home03-special{
		.title{
			float:none;
			border-right:none;
			border-top-right-radius: 3px;
		}
		.navslider{
			left:210px;
			border:none;
		}
		.item{
			img{
			padding:0 20px;
			width:100%;

			}
			.name{
			width: 100%;
			  display: block;
			  padding: 10px 20px;
  			text-transform: uppercase;
			}
			.big-bottom{border-top: 1px solid @borderColor;padding:10px 20px;}
			.shop-now{ 
				width:145px;
				position: relative;  border: 1px solid @borderColor;  
				padding: 1px;  min-height: 34px; background: #fff;  line-height: 30px;
				padding-left: 40px; padding-right: 20px; margin: 0; 
				color: @text6;	.border-radius(17px); 
				&:hover{ color: @activeColor; .transition(); cursor: pointer;
					.border-radius(0px); 
					>a{
						&:before{ .border-radius(0px); .transition();  }
					}
				}
				> a{ display: block;text-transform:uppercase;  .transition(); 
					&:before{ content: ""; width: 28px; height: 28px; background: @activeColor; .border-radius(50%); 
					position: absolute; top: 2px; left: 2px; .transition(); 
					}
					&:after{ content: "\f105"; position: absolute; top: 1px; left: 13px;
						width: 20px; height: 20px;font-family: "FontAwesome";color:#fff;
					}										
				}
			}
		}
	}
}
.home-03-p3{
  padding-top: 30px;
  clear: both;
	.navslider{
		  position: absolute;
		  top: 0px;
		  left: 0px;
		  height: 50px;
		  width: 90px;
		  padding:0 20px;
		}
	.top-review,.tags{
	position:relative;
		.shadow1();border: 1px solid @borderColor;.border-radius(3px);
		.title{
			border-top:5px solid @activeColor;
			padding: 10px 10px 10px 20px;
			border-top-left-radius: 3px;
			border-top-right-radius: 3px;
			margin-left:-1px;
			margin-top:-1px;
			border-bottom: 1px solid @borderColor;
			span{
				 font-size: 18px;
  				text-transform: uppercase;
  				color:#333;
			}
		}
		.navslider{
		left:auto;
		right:0;
		border:none;
		}
		.count{
		width: 20px;
		  height: 20px;
		  background-color: #cccccc;
		  display: block;
		  text-align: center;
		  border-radius: 100%;
		  color: #fff;
		  float: left;
		  margin-right: 5px;
		  line-height: 20px;
		}
		.count.active{
			background-color:@activeColor;	
		}
		.panel-group {
			  margin-bottom: 0px;
			  .panel{
				border:none;
				box-shadow: 0 1px 2px transparent;
				border-radius:0;
			}
	    }
		.products-grid{
		padding:0;
			.item{
			float:none;
			padding:0;
					
				}
				.inner{
					width:100%;
					  border-bottom: 1px solid #eaeaea;
 					 padding: 10px 20px;
 					 &:hover{
					.count{
						background-color:@activeColor;	
					}
				}
				.rating .ratings{
				clear:both;margin-left:25px;margin-bottom:10px;
					.rating-links{
					display:none;
					}
				}
				.price-box {
				  margin-bottom: 5px;
				  padding-left: 25px;
				  margin-top: 5px;
				}
				.item-image{
					img{width:100%;}
					.vt_quickview_handler{top:60%;}
				}
			}
			
			
		}

	}
	.tags{
		margin-top: 30px;
		#tags{
		padding:20px;
		height: 150px;
		.carousel-control.left,.carousel-control.right{
		top:-50px;
		}
			.item{
				a{
				.shadow1();border: 1px solid @borderColor;.border-radius(3px);
				  padding: 5px 10px;
				  margin-left: 0px;
				  display: block;
				  float: left;
				  margin-top: 2px;
				  &:hover{
				  color:@activeColor;
				  }
				}
			}
			
		}
	}
	.home-03-right{
		.banner-home3{
		margin-left:-5px;margin-right:-5px;
		margin-bottom: 30px;
			a{
			padding:0px 5px;
				img{width:100%;
					&:hover{
	  			  	.opacity(70);
	  			  	}
				}
			}
			.img-01{ 
				width:100%;display:block;
				margin-bottom:10px;
			}
				.img-02,.img-03,.img-04{
				width: 33.33%;display:block;	
				float:left;margin-bottom:30px;
			}
		}
		.other-product{
		clear:both;
		display: flex;
		position:relative;
		.shadow1();border: 1px solid @borderColor;.border-radius(3px);
			.sub-cate{
			 width: 222px;
			  float: left;
			  padding: 20px 0 20px 20px;
			  ul{
			  height:295px;
			  background-color:@activeColor;
			  padding:20px 0;
			  	li{
			  	float:none;
			  	  padding: 5px 20px;
			  		a{color:#fff;}
			  		&:hover{
			  			background-color:#fff;
			  			a{color:#333;}
			  		}
			  	}
			  }
			}
			.vt-slider{
			padding:20px 0;
			width:645px;
			float:right;
			}
			.navslider{
			right:0;
			left:auto;
			}
			.nav-tabs{
			height:50px;
		>li {
		  float: left;
		  margin-bottom: -1px;
		  a{
		  display:block!important;
		  padding: 12px 15px;
		  font-size:18px;
		  text-transform:uppercase;
		  border-radius:0;
		  color: #333;
		  border:none;
		  border-right:1px solid @borderColor;
		  margin-right:0;
		  }
		  &:hover{
		  	a{
		  			margin-top:-1px;
				 color: #333;
				  cursor: pointer;
				  background-color: #fff;
				  border:none;
				  border-bottom-color:transparent;
				  border-top:5px solid @activeColor;
				  border-right:1px solid @borderColor;
				  padding-top:8px;
				}
		  }
		}
		li.active{
			a{		
				margin-top:-1px;
				  color: #333;
				  cursor: pointer;
				  background-color: #fff;
				  border:none;
				  border-bottom-color: transparent;
				  border-top:5px solid @activeColor;
				  border-right:1px solid @borderColor;
				  padding-top:7px;
				  border-top-left-radius:3px;
			}
		}
	}
		}
	}
}