@media (min-width: 768px) {
	.header02{
		.box_header_03{
			margin-top: 20px;
			.advanced-search{
				float: right; position: relative; .shadow1(); 	width: 100%;  .border-radius(17px); 
				.dropdown-cate,.form-search,.button{ float: right; }
				.form-search{ position: relative; padding-left: 170px; padding-right: 22px;	width: 100%;	
					#search{ width: 100%; height: 34px; border: 1px solid @borderColor; margin: 0; padding-left: 40px;
						color: #999;  padding-left: 20px; float: left; border-bottom: none;	
					}				
				}
				.button{ color: #fff; position: absolute; right: 0;  z-index: 9; border: 1px solid @borderColor;  border-left: none;
					 padding: 1px;  min-height: 34px; min-width: 34px; background: #fff; margin: 0;
					.border-bottom-right-radius(17px); .border-top-right-radius(17px);
					border-right: none; border-bottom: none;
					> span{ display: block;  
						&:before{ content: ""; width: 28px; height: 28px; background: @activeColor; .border-radius(50%); 
						position: absolute; top: 2px; left: 3px;
						}
						&:after{ content: "\f002"; position: absolute; top: 6px; left: 11px; 
							 font-family: "Fontawesome"; color: #fff; 
						}
						>span{ display: none; }
					}
					&:hover{
						> span{
							&:before{ background: @text3; }
						}
					}
				}
				.dropdown-cate{ position: absolute; z-index: 99; left: 0;
					padding: 0 0px 1px 20px; background: #fff; border: 1px solid @borderColor; border-bottom: none;
					.border-top-left-radius(17px); 
					.border-bottom-left-radius(17px); 
					&:before{ content: "\f107"; font-family: "FontAwesome"; position: absolute; top: 7px; 
						font-size: 14px; right: 20px; color: @text6;
					}
					.cat-search{ display: block; line-height: 32px; color: @text6; 
						position: relative;
						width: 149px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
						&:hover{
					    	cursor: pointer;
					    }
					}
				}
				.scrollbar {		
					position: absolute;
					width:200px;
					background: #fff;
				}
				
				li{
					&:hover{ color: @activeColor !important; }
				}
				
				.wrap-scrollbar{ 
					position: absolute;
					top: 34px; left: 0;
					min-width: 200px;
					background: #fff;
					.shadow();
					padding: 15px 0 15px 15px;
					display: none;
					li{
						&.level-3{ padding-left: 15px; color: #888; }
						&.level-4{ padding-left: 30px; color: #aaa; }
						&:hover{ cursor: pointer; }
					}
				}
			}
			.wrap-block-cl{

				.inner-cl{ float: right; .shadow1(); width: 100%;  .border-radius(17px);  }
				.block{ float: left; margin: 0; position: relative; 
					border: 1px solid @borderColor; background: #fff; border-bottom: none;
					&:after{ color: @text6; content: "\f107"; font-family: "FontAwesome"; font-size: 15px; 
					position: absolute; top: 6px;  right: 36px; z-index: 9; }			   
					img{   }			
					span{ display: inline-block; text-transform: capitalize; 
					}
					&:hover{ cursor: pointer;}
					> div{ line-height: 32px; position: relative;  
						img{ margin-top: 11px; margin-right: 3px; margin-left: 36px;   }
						>span{ color: @text6; }
					}
					> ul{ 
						position: absolute; left: 0; top: 52px; padding: 10px; background: #fff;
						.shadow();
						.opacity(0); visibility: hidden;  z-index: 999;
						li{ background: @bgf9;
							a{ position: relative; white-space: nowrap; line-height: 30px; color: @text6; font-size: 85.71%;
								padding-left: 12px; display: block;
								img{ margin-right: 8px; margin-top: 10px; }
								.cur_icon{ margin-right: 6px; }
								&:hover{ 
									color: #fff; background: @activeColor; 
								} 
							}
						}
					}
					&:hover{
						> ul{ margin-top: 0; top:32px; .opacity(100); visibility: visible; .transition(all 0.3s ease-out 0s); }
						
					}
					&.block-language{ width: 160px;
						.border-top-left-radius(17px); 
						.border-bottom-left-radius(17px); 		
						> ul{					
							min-width: 132px;			
							left: 15px;		
						}
					}
					&.block-currency{	border-left: none; width: 110px; border-right: none;
						.border-top-right-radius(17px); 
						.border-bottom-right-radius(17px); 	
						> div{ margin-left: 28px; }
						>ul{
							
							min-width: 114px;
						}
					}
				}

			}
		}
	}
	.logo{ float: left; margin-top: 23px; }
	.block-right-item{ text-align: right;
		> .inner{ display: inline-block; height: 52px; text-align: left; margin: 30px 0 22px; 
			border: 1px solid @borderColor; .border-radius(5px); .shadow1();
		}
		.phone{ float: left;  height: 50px; border-right: 1px solid @borderColor; margin: 0; position: relative;
			padding: 7px 20px 0 44px;  .size1(); width: 150px; 
			span{ 
				float: left; width: 100%; font-weight: 600 !important; color: @text6;
			}
			&:before{ content: "\f232"; font-family: "FontAwesome"; color: @activeColor; position: absolute; top: 12px; left: 16px; 
				font-size: 16px; 
			}
		}
		.toplink{ float: left;
			.d-hide{ display: none; }
			.links{
				li{ float: left;  height: 50px; border-right: 1px solid @borderColor;
					padding-left: 44px; padding-right: 20px; padding-top: 15px;  .size1();
					&:hover{
						background: #fff;
					}
					a{
						position: relative; 
						&:before{
							content: ""; font-family: "FontAwesome"; color: @activeColor; position: absolute; top: -2px; left: -29px; 
							font-size: 14px; 
						}
						&.top-link-myaccount{
							&:before{ content: "\f007"; }
						}
						&.top-link-wishlist{
							&:before{ content: "\f08a"; }
						}
						&.top-link-checkout{
							&:before{ content: "\f0a9"; }
						}
						&.top-link-login{
							&:before{ content: "\f084"; }
						}
					}
				}
			}
		}
		.block-cart{ float: left; position: relative;			
			.block-title{  text-align: left; padding-left: 44px; padding-right: 50px; padding-top: 7px;
				background: @activeColor; height: 50px; position: relative;
				p{ color: #fff; margin: 0; .size1();  }	
				a{ 
					color: #fff; 
					> span{ font-weight: 600 !important; }
				}		
				&:before{ content: "\f07a"; font-family: "FontAwesome"; color: #fff; position: absolute; top: 15px; left: 16px; 
					font-size: 15px;  
				}		
				.border-top-right-radius(5px);
				.border-bottom-right-radius(5px);
			}
			&:hover{
				
				.block-content{
					.opacity(100); margin-top: 0; visibility: visible; .transition(all 0.3s ease-out 0s);
				}
			}
			.block-content{ float: left; width: 300px; position: absolute; top: 50px; margin: 0;  right: 0; 
				z-index: 99; .shadow(); .opacity(0); margin-top: 30px; visibility: hidden; 
				.transition(all 0.3s ease-out 0s);
				.inner{ background: #fff; float: left; width: 100%; padding: 15px 20px; 
					.block-subtitle{
						text-transform: uppercase; font-size: 100%;
					} 
					.truncated{ display: none; }
					#cart-sidebar{
						li{	padding: 15px 0 25px 30px; border-bottom: 1px solid @borderColor; position: relative;
							.btn-remove{ position: absolute; top: 18px; font-size: 14px; left: 0; width: 15px; height: 15px; text-indent: -9999em;
								&:before{ content: "\f014"; font-family: "FontAwesome"; position: absolute; top: 0; left: 0;
								text-indent: 0;
								}
							}
							.btn-edit{	position: absolute; top: 42px; font-size: 14px; left: 0; width: 15px; height: 15px; text-indent: -9999em;
								&:before{ content: "\f040"; font-family: "FontAwesome"; position: absolute; top: 0; left: 0;
								text-indent: 0;
								}
							}
							.product-image{ float: left; margin-right: 10px; overflow: hidden;
								&:hover{
									img{ .opacity(80); .scale(1.2); .transition(all 0.3s ease-out 0s); }
								}
							}
							.product-name{ font-size: 100%; 
								a{ display: inline-block; width: 132px; overflow: hidden;
								text-overflow: ellipsis; white-space: nowrap; text-transform: capitalize; }
							}
							.product-details{ float: left;
								> strong{ float: left; min-width: 98px; border: 1px solid @borderColor;
									a{ float: left; min-width: 19px; min-height: 28px; float: left; margin: 0; 
										&.flycart-qty-change-left{
											background: url('@{base-url}minus.png') no-repeat 0 0 #999;
										}
										&.flycart-qty-change-right{
											background: url('@{base-url}plus.png') no-repeat 0 0 #999;
										}
										&:hover{
											&.flycart-qty-change-left,
											&.flycart-qty-change-right{
												background-color: @activeColor;
											}
										}
									}
									input{ margin: 0; border: none; height: 28px; min-width: 58px;
										border-right: 1px solid @borderColor;
										border-left: 1px solid @borderColor;
									}
								}
								.price{ color: @textff;
									 line-height: 100%; width: 100%; margin: 0 0 12px; display: inline-block;
								}
							}
						}
					}
					.summary{ float: left; width: 100%; margin-bottom: 8px;
						p{ margin: 0; width: 100%; 
							.label{ text-transform: uppercase; font-size: 100%; font-weight: normal;
								padding: 0; margin: 15px 0 0; display: inline-block; color: @text3;
							}
							.price{ float: right; font-size: 142.85%; margin-top: 6px; }						}
					}
					.actions{ float: left; width: 100%; text-align: center;
						.a-inner{ 
							a{ color: #fff; text-transform: uppercase; font-size: 100%; position: relative;
								padding: 10px 22px 10px 37px; display: inline-block;  background: @text3;
								&:hover{ text-decoration: underline; } 
								&.btn-mycart{ position: relative; z-index: 9; background: @activeColor;
									padding-left: 16px; padding-right: 0;margin-right:-8px;
									&:before{ 
										border-color: @activeColor rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
									    border-style: solid;
									    border-width: 40px 40px 0 0;
									    content: "";
									    height: 0;
									    line-height: 0;
									    position: absolute;
									    right: -40px;
									    top: 0;
									    width: 0;
									}
								}
							}
						}
					}
				}
			}
		}/*------------------------end block cart--------------------------*/
	}
}
.header02{
.box-banner{
	float: left; width: 100%; 
	a{
		float: left; width: 100%; position: relative; .border-radius(5px);
		img{ width: 100%; .border-radius(5px); }						
		.effect();
		.shadow1();
		border-top: 1px solid @borderColor;
		border-left: 1px solid @borderColor;
		&.first{ margin-bottom: 13px; margin-top: 5px; }
	}
}
}
.block-banner-01{ position: relative; 
	
	.shadow1(); .border-radius(5px); float: left; width: 100%; padding: 10px; margin-top: 30px;
	border-top: 1px solid @borderColor; border-left: 1px solid @borderColor;
	.item{
		float: left; padding: 0 10px; width: 100%;
		a{
			float: left; width: 100%;
			.effect();
			img{ width: 100%; }
		}
	}
	.navslider{ 
		a{
			float: left; width: 20px; height: 20px; border: 1px solid @borderColor; position: absolute; 
			text-indent: -9999em;  background: #fff; .border-radius(50%); top: 50%; margin-top: -10px;
			&:before{ content: ""; text-indent: 0; color: @text3; font-family: "FontAwesome"; font-size: 14px; position: absolute; top: -1px; }
			&:hover{
				background: @activeColor; border-color: @activeColor; cursor: pointer;
				&:before{ color: #fff; }
			}
			&.prev{
				left: -10px;
				&:before{ content: "\f104"; left: 6px; }
			}
			&.next{
				right: -10px;
				&:before{ content: "\f105"; left: 7px; }
			}
		}
	}
}
.tab-item(){
	.bock-title{ float: left; width: 100%; height: 60px; padding: 18px 0; background: @bgf9;
		 .border-top-left-radius(5px);  .border-top-right-radius(5px);
		 border-bottom: 1px solid @borderColor;
		h3{ float: left; margin: 0 0 0 5px; font-weight: 600 !important; 
			text-transform: uppercase; color: @text3; .size3(); line-height: 100%;
		}
		
	}
}
.inner(){
	> .inner{
		float: left; .shadow1(); .border-radius(5px); width: 100%;
		border-top: 1px solid @borderColor; border-left: 1px solid @borderColor;
	}
}	
.navslider(){
	.navslider{
		a{
			float: left; width: 20px; height: 20px; border: 1px solid @borderColor; position: absolute; 
			text-indent: -9999em;  background: #fff; .border-radius(50%); top: 50%; margin-top: -10px;
			&:before{ content: ""; text-indent: 0; color: @text3; font-family: "FontAwesome"; font-size: 14px; position: absolute; top: -1px; }
			&:hover{
				background: @activeColor; border-color: @activeColor; cursor: pointer;
				&:before{ color: #fff; }
			}
			&.prev{
				left: -10px;
				&:before{ content: "\f104"; left: 6px; }
			}
			&.next{
				right: -10px;
				&:before{ content: "\f105"; left: 7px; }
			}
		}
	}
}
.bock-title-ul{
	.bock-title{		
		ul{ float: right;
			li{ float: left; margin-left: 1px; 
				> a{
					float: left; position: relative; z-index: 1; display: block !important;	
					padding: 4px 25px;	
					.border-radius(17px);		
					 color: @text3; text-transform: uppercase; font-weight: 500 !important;
					&:after{ content: ""; width: 4px; height: 4px; background: @activeColor; .border-radius(50%); 
						position: absolute; top: 13px; left:  15px; 
					}
					&:hover{
						background: @activeColor;
						color: #fff;
						&:before{ 
							content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; 
							background: @activeColor; z-index: -1; .border-radius(17px);
						}	
						&:after{ background: #fff;  }
					}		
				}
				&.active{
					> a{
						background: @activeColor;
						color: #fff;
						&:before{ 
							content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; 
							background: @activeColor; z-index: -1; .border-radius(17px);
						}	
						&:after{ background: #fff;  }
					}
				}
			}
		}
	}
}
.best-selling{margin-top: 30px; 
	.inner();
	.tab-item();
	.bock-title-ul();

	.tab-content{ float: left; width: 100%; position: relative;
		.vt-slider{ 
			.slider-inner{ padding: 10px 10px 20px 10px; 
				.container-slider{ 
					.item{ margin-top: 10px; float: left; }
					.navslider();
				}
			}
		}
	}
}

.hot-deals{ margin-top: 30px;
	.tab-item{ margin-top: -4px;
		h2{ font-weight: 600!important; .size3(); color: @text3; text-transform: uppercase; margin: 0; }
		ul{ float: left; position: relative; margin-top: 82px;
			&:before{ content: ""; width: 1px; height: 92%; background: @borderColor; float: left; 
			position: absolute; top: 10px; left: 80px; }
			li{
				&.active{
					a{ .transition(all 0.3s ease-out 0s);
						&:before{ border-color: @activeColor; background: @activeColor; .transition(all 0.3s ease-out 0s); }
						.img{
							&.img1{ display: block; }
							&.img2{ display: none; }
						}
						span{ color: @text3; .transition(all 0.3s ease-out 0s); }
					}
				}
				a{
					padding:26px 0 26px 106px; float: left; position: relative; display: block !important;
					&:before{
						content: ""; position: absolute; width: 16px; height: 16px; .border-radius(50%); 
						border: 1px solid @borderColor; top: 28px; left: 72px; background: #fff;
						.transition(all 0.3s ease-out 0s);
					}
					span{ text-transform: uppercase; color: @text9; font-weight: 500 !important; 
						.transition(all 0.3s ease-out 0s);
					}
					.img{ position: absolute; top: 13px; left: 10px; 
						&.size1{ width: 37px; height: 43px;   }
						&.size2{ width: 35px; height: 41px;  left: 12px;}
						&.size3{ width: 33px; height: 39px;  left: 14px;  }
						&.size4{ width: 31px; height: 37px;  left: 16px; }
						&.img1{ display: none; }
					}
					&:hover{
						&:before{ border-color: @activeColor; background: @activeColor; }
						span{ color: @text3 }
						.img{ .transition(all 0.3s ease-out 0s);
							&.img1{ display: block; }
							&.img2{ display: none; }
						}
					}
				}				
			}
		}
	}
	.block-hot-deals { border: none; .box-shadow(none); .border-radius(0); margin: 40px 0 0 0;
		.navslider {
			a.prev{ left: 5px; }
			a.next{ right: 5px; }
		}
		.dateCountdown01,.dateCountdown02,.dateCountdown03,.dateCountdown04{  left: -285px; top: 40px; position: absolute; 
			.time_circles{
				canvas{ z-index: 10; position: relative; }
				> div{ float: left; position: absolute; top: 12px !important;
					&:before{ content: ""; width: 48px; height: 48px; background: #f34235; position: absolute;
					top: -11px; left: 1px; .border-radius(50%);
					}
					&.textDiv_Hours,&.textDiv_Minutes{
						&:before{ .opacity(60); }
					}
					> span{ width: 100%; line-height: 100%; float: left; text-align: center; position: relative; }
					.number{ float: 12px; color: #fff; font-weight: 600 !important; }
					.text{ font-size: 12px; color: #fff; }
				}
			}
		}
		.container-slider { padding: 0; margin: 0 -15px; overflow: hidden;
			.products-grid {
				.item{ 
					.wrap-new-sale{ left: 26px; top: 11px; }
					margin: 0px 15px; padding: 10px 10px 20px 10px;
					border-top: 1px solid @borderColor;
					border-left: 1px solid @borderColor;
					.border-radius(5px); .shadow1();
					margin-bottom: 10px;
					.inner{
						overflow: hidden;
					}
				}
			}
		}
	}
}
.save-big{ margin-top: 30px; 
	.tab-item();
	.inner();	
	.save-big-inner{ margin-top: -4px; float: right;
		ul{	float: right;
			li{
				float: left;
				a{ text-transform: uppercase; color: @text3; font-weight: 500 !important;
					img{ margin-top: -27px; }
					&:hover{ color:@activeColor; }
				}
				&.item1{
					a{ line-height: 16px; float: left;}
				}
				&.item3{ margin-left: 8px; margin-right: 15px;
					a{ .size3; float: left; margin-top: -7px; position: relative;
						span{ font-weight: 600 !important;}
						&:before{ content: "\f0da"; font-family: "FontAwesome"; position: absolute; bottom: -12px; 
						color: @text6; font-size: 14px;  margin-left: -5px;
						left: 50%; }
					 }
				}
			}
		}
	}
	.tab-content{ float: left; width: 100%; position: relative;
		.vt-slider{
			.slider-inner{ padding: 10px 10px 20px 10px; 
				.container-slider{ 
					.navslider();
					.item{ margin-top: 10px; float: left;
						.inner{
							padding-bottom: 40px; position: relative; margin-bottom: -5px;
							.wrap-countdown{
								position: absolute; left: 10px; bottom: 0px; padding-top: 9px; padding-bottom: 1px;
								background: #fff; float: left; width: 100%; 
								.style_icon{ float: left; width: 30px; height: 30px; background: @activeColor;
									.border-top-left-radius(4px);
									.border-bottom-left-radius(4px);
									position: relative;
									&:before{
										content: "\f017"; font-family: "FontAwesome"; color: #fff;
										position: absolute;
										top: 5px;
										left: 9px;
									}
									&:after{
										content: "";
										position: absolute;
										float: left;
										width: 0; height: 0;
										top: 10px;
										right: -5px;
										border-top: 5px solid transparent;
										//border-right: 5px solid @activeColor;
										border-bottom: 5px solid transparent;
										border-left: 6px solid @activeColor;
									}
								}
								.is-countdown{ float: left; width: 156px; height: 30px; margin-left: 3px; padding-left: 10px; border: 1px solid @borderColor;
									.border-top-right-radius(4px);
									.border-bottom-right-radius(4px);
									span{ float: left; font-size: 12px; color: @text6; line-height: 28px; 
										&.countdown-period,&.countdown-amount{ margin-left: 2px; }
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
.new-arrivals{ margin-top: 30px; 
	.tab-item();
	.inner();	
	.bock-title-ul();
	.tab-content{ float: left; width: 100%; position: relative;
		.vt-slider{
			.slider-inner{ padding: 10px 10px 20px 10px;
				.container-slider{  
					.item{ margin-top: 10px; float: left; }
					.navslider();
				}
			}
		}
	}
}
.h2-title(){
	h2{
		position: relative; z-index: 9; font-size: 100%;
		span{ line-height: 100%; text-transform: uppercase; margin: 0; width: 100%;
			&.item1{ .size2(); font-style: italic; }
			&.item2{ .size3(); font-weight: 600!important; color: @text3; }
		}
	}
}

.block-banner-03{  margin-top: 20px;	
	
	.inner{
		border-top: 1px solid @borderColor; border-left: 1px solid @borderColor;
		.border-radius(5px); .shadow1();
		float: left; width: 100%;
	}
	.i1,.i2{
		.block-banner-content{
			h2{
				span{
					&.item1{ font-size: 14px; }
					&.item2{ font-size: 14px;  font-weight: 600 !important; color: @text3; }
				}
			}
		}
	}
	.block-banner-content{
		.h2-title();
		.button-style();
		> p{ margin: 25px 0 0; }
		.button{ margin-top: 20px; }
	}
	.item-img{
		float: left; 
		img{ width: 100%; }
		&.img1,&.img2{
			float: right; 
		}
	}
	.box-left{
		position: relative; padding: 60px 15px 60px 30px;
		h2{ margin-top: 50px; width: 150px; }
		&:before{ content: ""; width: 1px; position: absolute; top: 0; right:  0; height: 100%; background: @borderColor; }
	}
	.box-right{ padding: 0;
		h2{ width: 100px;}
		> div{ padding: 0; }
		.item{ float: left; width: 100%; 
			padding: 10px 30px 35px 30px; position: relative; z-index: 2;
			&.i1{ border-bottom: 1px solid @borderColor; 
				.img1{ position: absolute; right: 20px; top: 30px; }
			}
			&.i2{
				.item-img{
					&:before{ display: none; }
				}
				.img2{ position: absolute; right: 20px; top: 30px; }
			}
		}
	}
}
.block-popular-categories{
	> h2{ color: @text3;
		margin: 30px 0 20px; line-height: 100%; text-transform: uppercase; font-weight: 600 !important; .size3();
	}
	.block-popular{ float: left; width: 100%; margin-bottom: 12px; position: relative;
		.inner{ float: left; width: 100%;  padding: 18px 0; position: relative;
			border-left: none;
			.shadow1(); .border-radius(5px); width: 100%;
			border-top: 1px solid @borderColor; 
			
		}
		&:before{ .border-top-left-radius(5px); .border-bottom-left-radius(5px); z-index: 9;
			content: ""; width: 5px; height: 100%; background: #5dc7cb; position: absolute; top: 0; left: 0;
		}
		.item{ float: left; padding: 0 20px; width: auto;
			a{ float: left; width: 63px; height: 56px; 
				.effect();
				img{ width: 100%; }
				&:before{
					background: rgba(93, 199, 203, 1); 
				}
				&:hover{
					&:after{
						content: "\f105"; font-family: "FontAwesome"; color: #fff; position: absolute; top: 30%; left: 47%;
					}
				}
			}
		}
		
		.block-title{ position: relative;
			.title{
				text-transform: uppercase; font-weight: 500 !important;
				float: left; margin: 5px 0 0 15px;
				&:before{ display: none; }
			}
			.navslider{ position: absolute; top: 36px; left: 30px;
				a{
					float: left; width: 20px; height: 20px; border: 1px solid @borderColor; position: relative; .border-radius(50%);
					text-indent: -9999em; background: #fff; margin-right: 1px;
					&:before{ content: ""; text-indent: 0; color: @text3; font-family: "FontAwesome"; font-size: 14px; position: absolute; top: -1px; }
					&:hover{
						background: @activeColor; border-color: @activeColor;
						&:before{ color: #fff; }
					}
					&.prev{
						&:before{ content: "\f104"; left: 6px; }
					}
					&.next{
						&:before{ content: "\f105"; left: 7px; }
					}
				}
			}
		}
		&.box1{
			.block-title{
				.title{
					 color: #5dc7cb;
				}
			}
			&:before{ .border-top-left-radius(5px); .border-bottom-left-radius(5px); z-index: 9;
				content: ""; width: 5px; height: 100%; background: #5dc7cb; position: absolute; top: 0; left: 0;
			}
			.navslider{
				a{
					&:hover{
						background: #5dc7cb; border-color: #5dc7cb;
					}
				}
			}
		}
		&.box2{
			.block-title{
				.title{
					 color: #ef4896;
				}
			}
			&:before{ .border-top-left-radius(5px); .border-bottom-left-radius(5px); z-index: 9;
				content: ""; width: 5px; height: 100%; background: #ef4896; position: absolute; top: 0; left: 0;
			}
			.item{
				a{
					&:before{
						background: rgba(239, 72, 150, 1); 
					}
					&:hover{
						&:after{
							content: "\f105"; font-family: "FontAwesome"; color: #fff; position: absolute; top: 30%; left: 47%;
						}
					}
				}
			}
			.navslider{
				a{
					&:hover{
						background: #ef4896; border-color: #ef4896;
					}
				}
			}
		}
		&.box3{
			.block-title{
				.title{
					 color: #63bd0b;
				}
			}
			&:before{ .border-top-left-radius(5px); .border-bottom-left-radius(5px); z-index: 9;
				content: ""; width: 5px; height: 100%; background: #63bd0b; position: absolute; top: 0; left: 0;
			}
			.navslider{
				a{
					&:hover{
						background: #63bd0b; border-color: #63bd0b;
					}
				}
			}
			.item{
				a{
					&:before{
						background: rgba(99, 189, 11, 1); 
					}
					&:hover{
						&:after{
							content: "\f105"; font-family: "FontAwesome"; color: #fff; position: absolute; top: 30%; left: 47%;
						}
					}
				}
			}
		}
	}
}
