@media (min-width: 768px) {
	
	body.cms-home-04 *{
		font-family:'Open Sans'!important;
		  font-weight: 500 !important;
		a{color:#333;

		}

	}
	body.cms-home-04{
		  background:#eeeeee!important;
		  .wrap-slideshow{
		  .tp-bgimg.defaultimg{
		  background-size:100%!important;
		  }
		 		 .tp-bullets.round{
		 		 bottom:-40px!important;
		 		 .opacity(100)!important;
		 		 	.bullet{
		 		 	background:none;
		 		 	width:14px;
		 		 	height:14px;
		 		 	border-radius:100%;
		 		 	background-color:#fff;
		 		 	margin-right:10px;
		 		 	}
		 		 	.bullet.selected{
		 		 	background:none;
		 		 	width:15px;
		 		 	height:15px;
		 		 	border-radius:100%;
		 		 	background-color:@activeColor;
		 		 	}
		 		 }
		  }
	}
	.header04{
	#mobile-nav{z-index:9999;}
	margin-bottom:20px;
	.header-top{
	  background: #fff;
 	 margin-bottom: 13px;
 	 box-shadow: 0px 1px 5px #999;
	}
	.logo {
	  float: left;
	  margin-top: 15px;
	}
		.shop-menu-h4{
		width:28px;
		background:url(../images/bgr-shop-menu.png) no-repeat;
		  margin-top: 25px;
		  float: left;
		  line-height: 50px;
		  margin-left:15px;
		  cursor:pointer;
		}
		.box_header_03_h4{
		  display: block;
		  position: absolute;
		  top: 66px;
		  width: 265px;
		  z-index: 99999;
		  background-color: rgb(255, 255, 255);
		}
			.box_header_03{
			.slide-wrap{
			position:relative;
			}
			.magemenu-menu{
					.explodedmenu{
					top:45px;
					padding-top:0;
					display:block!important;
						li.menu{
							>a{
							  padding: 5px 0 6px 20px;
							  img{display:none;}
							}
						}
						li.parentMenu{
							&:after {
							  color: #666;
							  content: "\f105";
							  font-family: FontAwesome;
							  font-size: 15px;
							  float: right;
							  margin-top: -32px;
							  margin-right: 20px;
							  z-index: 9;
							}
							&:hover{
								.explodedmenu-menu-popup {
	  							left: 262px;
								}
							}
						}
						#menu10{
						border-left:5px solid #1f8a70;
						}
						#menu11{
						border-left:5px solid #bedb39;
						}
						#menu25{
						border-left:5px solid #ffe11a;
						}
						#menu26{
						border-left:5px solid @activeColor;
						}
						#menu27{
						border-left:5px solid #5a88ca;
						}
						#menu28{
						border-left:5px solid #1f8a70;
						}
						#menu29{
						border-left:5px solid #bedb39;
						}
						#menu30{
						border-left:5px solid #ffe11a;
						}

					}
				 .header-nav{

				 	 .block-title{
						background:none;
						border-top:5px solid @activeColor;
						height:45px;
						border-top-left-radius: 3px;
						border-top-right-radius: 3px;
						border-bottom: 1px solid @borderColor;
						border-left: 1px solid @borderColor;
						span{
							 font-size: 18px;
			  				text-transform: uppercase;
			  				color:#333;
						}
					}
				 }
			}
			  	#banner-left{
			  		height:380px;.shadow1(); padding:1px ;border: 1px solid @borderColor;
			  		.sub-item{
			  			padding: 15px 20px;
			  			border-bottom:1px solid @borderColor;
			  			img{
			  				&:hover{
			  			  	.opacity(70);
			  			  	}
			  			}
			  		}
			  		.carousel-control.left{
			  		top:328px;margin-right:85px;
			  		}
			  		.carousel-control.right{
			  		top:328px;margin-right:60px;
			  		}
			  	}
			  }
		.block-smml-item{
			  padding: 15px 0;
			  
			.advanced-search{
				float: left; position: relative; .shadow1(); padding:1px ;border: 1px solid @borderColor;width: 550px;  
				.border-radius(3px); 
				.dropdown-cate,.form-search,.button{ float: right; }
				.form-search{ position: relative; padding-left: 170px; padding-right: 22px;	width: 100%;	
					#search{ width: 100%; height: 38px;margin: 0; padding-left: 40px;
						color: #999;  padding-left: 20px; float: left; border:none;
					}				
				}
				.button{ color: #fff; position: absolute; right: 0;  z-index: 9; 
					 padding: 1px;  min-height: 38px; min-width: 38px; background: #fff; margin: 0;border-left: 1px solid @borderColor;  border-radius: 0;
					> span{ display: block;  
						&:after{ content: "\f002"; position: absolute; top: 10px; left: 13px; 
							 font-family: "Fontawesome"; color: @activeColor; 
						}
						>span{ display: none; }
					}
					&:hover{
						> span{
							&:before{ background: @text3; }
						}
					}
				}
				.dropdown-cate{ position: absolute; z-index: 99; left: 0;
					padding: 0 0px 0px 20px; background: #fff; border-right: 1px solid @borderColor;
					&:before{ content: "\f107"; font-family: "FontAwesome"; position: absolute; top: 9px; 
						font-size: 14px; right: 20px; color: @text6;
					}
					.cat-search{ display: block; line-height: 38px; color: @text6; 
						position: relative;
						width: 149px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
						&:hover{
					    	cursor: pointer;
					    }
					}
				}
				.scrollbar {		
					position: absolute;
					width:200px;
					background: #fff;
				}
				
				li{
					&:hover{ color: @activeColor !important; }
				}
				
				.wrap-scrollbar{ 
					position: absolute;
					top: 34px; left: 0;
					min-width: 200px;
					background: #fff;
					.shadow();
					padding: 15px 0 15px 15px;
					display: none;
					li{
						&.level-3{ padding-left: 15px; color: #888; }
						&.level-4{ padding-left: 30px; color: #aaa; }
						&:hover{ cursor: pointer; }
					}
				}
			}
			.inner-cl{ float: right; .shadow1();border: 1px solid @borderColor;padding:1px;width: 290px;.border-radius(3px); margin-right:15px; }
			.toplink{
			width:40px;
			float:left;
			position:relative;
			cursor:pointer;
					.d-hide{
  					display: block;
  					overflow:hidden;
  					height:38px;
  						&:before{ content: "\f007"; width:100%;height:100%;display:block;
							 font-family: "Fontawesome"; color: @activeColor;color: @activeColor;
							  text-align: center;
							  line-height: 38px; 
						}
					}
					ul.links{ 
					position: absolute; left: 0; top: 52px; padding: 10px; background: #fff;
					.shadow();
					.opacity(0); visibility: hidden;  z-index: 999;
					li{ background: @bgf9;
						a{ position: relative; white-space: nowrap; line-height: 30px; color: @text6; font-size: 85.71%;
							padding-left: 12px; display: block;
							img{ margin-right: 8px; margin-top: 10px; }
							.cur_icon{ margin-right: 6px; }
							&:hover{ 
								color: #fff; background: @activeColor; 
							} 
						}
					}
						li{ float: left;width:100%;
						padding-left: 44px;padding-right:10px;
						&:hover{
							background:@activeColor;
							a{
								&:before{
								color:#fff;
								}
							}
						}
						a{
							position: relative; 
							&:before{
								content: ""; font-family: "FontAwesome"; color: @activeColor; position: absolute; top: -2px; left: -29px; 
								font-size: 14px; 
							}
							&.top-link-myaccount{
								&:before{ content: "\f007"; }
							}
							&.top-link-wishlist{
								&:before{ content: "\f08a"; }
							}
							&.top-link-checkout{
								&:before{ content: "\f0a9"; }
							}
							&.top-link-login{
								&:before{ content: "\f084"; }
							}
						}
					}
				}
				&:hover{
					ul.links{ margin-top: 0; top:32px; .opacity(100); visibility: visible; .transition(all 0.3s ease-out 0s); }
					
				}
			}
			.block{ float: left; margin: 0; position: relative; background: #fff;border-left: 1px solid @borderColor;
				&:after{ color: @text6; content: "\f107"; font-family: "FontAwesome"; font-size: 15px; 
				position: absolute; top: 0px;  right: 10px; z-index: 9; }			   
				img{   }			
				span{ display: inline-block; text-transform: capitalize; 
				}
				&:hover{ cursor: pointer;}
				> div{ position: relative;  
					img{ margin-top: 15px; margin-right: 3px;   }
					>span{ color: @text6; }
				}
				> ul{ 
					position: absolute; left: 0; top: 52px; padding: 10px; background: #fff;
					.shadow();
					.opacity(0); visibility: hidden;  z-index: 999;
					li{ background: @bgf9;
						a{ position: relative; white-space: nowrap; line-height: 30px; color: @text6; font-size: 85.71%;
							padding-left: 12px; display: block;
							img{ margin-right: 8px; }
							.cur_icon{ margin-right: 6px; }
							&:hover{ 
								color: #fff; background: @activeColor; 
							} 
						}
					}
				}
				&:hover{
					> ul{ margin-top: 0; top:32px; .opacity(100); visibility: visible; .transition(all 0.3s ease-out 0s); }
					
				}
				&.block-language{ width: 76px;	line-height: 38px;
				img{ margin-left: 20px; margin-right: 8px; margin-top: 14px; }
				.lg-cur span span{display:none;}
					> ul{	
						a{padding-left:0;}
						img{ margin-right: 8px; margin-top: 8px; }				
						min-width: 132px;			
						left: 15px;		
						
					}
				}
				&.block-currency{ width: 76px;line-height: 38px;
				border-right: 1px solid @borderColor;
					> div{ margin-left: 20px; }
					>ul{
						
						min-width: 114px;
					}
				}
			}
			.block-cart{position: absolute;background:transparent;top:18px;right:2px;border:none;z-index:998;
			&:after{display:none;}	
			.block-title{ height: 50px; position: relative;padding-right:40px;cursor:pointer;line-height: 38px;
				p{ color: #fff; margin: 0; .size1(); display:none; }	
				a{ 
					color: #666; 
					> span{ font-weight: 400 !important; }
				}		
				&:after{
				  content: "";
				  position: absolute;
				  top: 10px;
				  right:1px;
				  width: 20px;
				  height: 20px;
				  background: url(../images/edo.png) no-repeat;
				}	
				&:before {
					  content: "";
					  width: 28px;
					  height: 28px;
					  background: @activeColor;
					  -webkit-border-radius: 50%;
					  -moz-border-radius: 50%;
					  border-radius: 50%;
					  position: absolute;
					  top: 3px;
					  right:0px;
					  -webkit-transition: all .3s ease-out 0s;
					  -moz-transition: all .3s ease-out 0s;
					  -o-transition: all .3s ease-out 0s;
					  transition: all .3s ease-out 0s;
					}	
			}
			&:hover{
				
				.block-content{
					.opacity(100); margin-top: 0; visibility: visible; .transition(all 0.3s ease-out 0s);
				}
			}
			.block-content{ float: left; width: 300px; position: absolute; top: 50px; margin: 0;  right: 0; 
				z-index: 99; .shadow(); .opacity(0); margin-top: 30px; visibility: hidden; 
				.transition(all 0.3s ease-out 0s);
				.inner{ background: #fff; float: left; width: 100%; padding: 15px 20px; 
					.block-subtitle{
						text-transform: uppercase; font-size: 100%;
					} 
					.truncated{ display: none; }
					#cart-sidebar{
						li{	padding: 15px 0 25px 30px; border-bottom: 1px solid @borderColor; position: relative;
							.btn-remove{ position: absolute; top: 18px; font-size: 14px; left: 0; width: 15px; height: 15px; text-indent: -9999em;
								&:before{ content: "\f014"; font-family: "FontAwesome"; position: absolute; top: 0; left: 0;
								text-indent: 0;
								}
							}
							.btn-edit{	position: absolute; top: 42px; font-size: 14px; left: 0; width: 15px; height: 15px; text-indent: -9999em;
								&:before{ content: "\f040"; font-family: "FontAwesome"; position: absolute; top: 0; left: 0;
								text-indent: 0;
								}
							}
							.product-image{ float: left; margin-right: 10px; overflow: hidden;
								&:hover{
									img{ .opacity(80); .scale(1.2); .transition(all 0.3s ease-out 0s); }
								}
							}
							.product-name{ font-size: 100%; 
								a{ display: inline-block; width: 132px; overflow: hidden;
								text-overflow: ellipsis; white-space: nowrap; text-transform: capitalize; }
							}
							.product-details{ float: left;
								> strong{ float: left; min-width: 98px; border: 1px solid @borderColor;
									a{ float: left; min-width: 19px; min-height: 28px; float: left; margin: 0; 
										&.flycart-qty-change-left{
											background: url('@{base-url}minus.png') no-repeat 0 0 #999;
										}
										&.flycart-qty-change-right{
											background: url('@{base-url}plus.png') no-repeat 0 0 #999;
										}
										&:hover{
											&.flycart-qty-change-left,
											&.flycart-qty-change-right{
												background-color: @activeColor;
											}
										}
									}
									input{ margin: 0; border: none; height: 28px; min-width: 58px;
										border-right: 1px solid @borderColor;
										border-left: 1px solid @borderColor;
									}
								}
								.price{ color: @textff;
									 line-height: 100%; width: 100%; margin: 0 0 12px; display: inline-block;
								}
							}
						}
					}
					.summary{ float: left; width: 100%; margin-bottom: 8px;
						p{ margin: 0; width: 100%; 
							.label{ text-transform: uppercase; font-size: 100%; font-weight: normal;
								padding: 0; margin: 15px 0 0; display: inline-block; color: @text3;
							}
							.price{ float: right; font-size: 142.85%; margin-top: 6px; }						}
					}
					.actions{ float: left; width: 100%; text-align: center;
						.a-inner{ 
							a{ color: #fff; text-transform: uppercase; font-size: 100%; position: relative;
								padding: 10px 28px 10px 37px; display: inline-block;  background: @text3;
								&:hover{ text-decoration: underline; } 
								&.btn-mycart{ position: relative; z-index: 9; background: @activeColor;
									padding-left: 22px; padding-right: 0;margin-right: -8px;
									&:before{ 
										border-color: @activeColor rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
									    border-style: solid;
									    border-width: 40px 40px 0 0;
									    content: "";
									    height: 0;
									    line-height: 0;
									    position: absolute;
									    right: -40px;
									    top: 0;
									    width: 0;
									}
								}
							}
						}
					}
				}
			}
			}/*------------------------end block cart--------------------------*/
		}
		.box_header_04{
			background:#fff;
			border:none;
			margin-bottom: 20px;
			.container{
				border: 1px solid @borderColor;
				border-radius:3px;
				background:url('../images/bgr-vt-menu-h3.png') repeat;
				.explodedmenu{
					>li {
					  padding: 0;
					  a{
					  border-left:1px solid transparent;
					  border-right:1px solid transparent;
					  }
					  &:hover{
					  >a{
					  	background:#fff;
					  	border-left:1px solid @borderColor;
					  	border-right:1px solid @borderColor;
					  	&:before {
						  content: "";
						  position: absolute;
						  top: -2px;
						  left: 0;
						  width: 100%;
						  height:5px;
						  background: @activeColor;
						  z-index: -1;
						  -webkit-border-radius:3px;
						  -moz-border-radius: 3px;
						  border-radius:3px;
						}
						span{color:#666;}

					  }					  }
					}
					li.menu{
					>a{padding:14px 20px;border-radius:0px;margin-left: -3px;}
					}
				}
			}
		}
	}
}
.cms-home-04
{
 .products-grid .item .inner .product-info .item-btn{margin-bottom:20px;}
.block-popular-categories .block-popular{background-color:#fff;}
.defaultCountdownh3{
  padding:17px 0;
  border-top: 1px solid #eaeaea;
  margin-top: 7px;
  width:210px;
  &:before{
  content:'';
  display:block;
  float:left;
  width:33px;
  height:33px;
  margin-left:10px;
  background:url('../images/h3-deals.png') no-repeat;
  -webkit-animation: mymove infinite; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.3s; /* Chrome, Safari, Opera */
    animation: mymove infinite;
    animation-duration:5s;
	-webkit-animation-timing-function: linear;
	margin-right: 10px;
  	margin-top: -6px;
  }

  /* Chrome, Safari, Opera */
	@-webkit-keyframes mymove {
	     from {.rotate(0deg);}
		to {.rotate(360deg);}
	}

	@keyframes mymove {
	      from {.rotate(0deg);}
		to {.rotate(360deg);}
	}
}
.block-banner-03 {
  margin-top: 30px;
}
.block-popular-categories .block-popular .block-title .navslider {
  position: absolute;
  top: 18px;
  left: 30px;
}

	.page-title{display:none;}
	.products-grid{
	  padding: 0 10px;
	  .owl-wrapper-outer{
	  clear:both;
	  }
		 .item{
		 padding: 0 10px;
		 	.inner{
		 		.item-image {
		 		}
		 		.product-info{
		 			margin-bottom:0;
		 		}
		 		&:hover{
		 			.product-info{
		 			margin-top:0;
		 			}
		 		}
		 	}
		 }
	}
	.nav-tabs{
	height:50px;
		>li {
		  float: right;
		  margin-bottom: -1px;
		  a{
		  display:block!important;
		  padding: 14px 15px;
		  }
		  &:hover{
		  	a{
				 color: @activeColor;
				  cursor: pointer;
				  background-color: #fff;
				  border: 1px solid transparent;
				  border-bottom-color: @activeColor;
				}
		  }
		}
		li.active{
			a{
				 color: @activeColor;
				  cursor: default;
				  background-color: #fff;
				  border: 1px solid transparent;
				  border-bottom-color: @activeColor;
			}
		}
	}
	.navslider{ 
		a{
			float: left; width: 20px; height: 20px; border: 1px solid @borderColor;
			text-indent: -9999em;  background: #fff; .border-radius(50%);position:relative; margin-top:16px;
			&:before{ content: ""; text-indent: 0; color: @text3; font-family: "FontAwesome"; font-size: 14px; position: absolute; top: -1px; }
			&:hover{
				background: @activeColor; border-color: @activeColor;
				&:before{ color: #fff; }
			}
			&.prev{
				margin-right:5px;
				&:before{ content: "\f104"; left: 6px; }
			}
			&.next{
				&:before{ content: "\f105"; left: 7px; }
			}
		}
	}
	.carousel-control.left{
		text-shadow: none;.opacity(100);
		   width: 20px; height: 20px; border: 1px solid @borderColor;
			text-indent: -9999em;  background: #fff; .border-radius(50%);position:absolute; margin-top:16px; top: -70px; margin-right:45px;  float: none!important;left: auto;right:0;
			&:before{ content: "\f104"; text-indent: 0; color: @text3; font-family: "FontAwesome"; font-size: 14px; position: absolute;color:#333;  left: 8px; top: -1px; }
			&:hover{
				background: @activeColor; border-color: @activeColor;
				&:before{ color: #fff; }
			}
	}
	.carousel-control.right{
			text-shadow: none;.opacity(100);
			width: 20px; height: 20px; border: 1px solid @borderColor;
			text-indent: -9999em;  background: #fff; .border-radius(50%);position:absolute; margin-top:16px; top: -70px; margin-right:20px;
			&:before{ content: "\f105"; text-indent: 0; color: @text3; font-family: "FontAwesome"; font-size: 14px; position: absolute;color:#333;left: 8px; top: -1px;}
			&:hover{
				background: @activeColor; border-color: @activeColor;
				&:before{ color: #fff; }
			}
	}
}
.home-04-p1{
padding-top: 30px;
  clear: both;
	.navslider{
		  position: absolute;
		  top: 0px;
		  left: 182px;
		  height: 50px;
		  border-right: 1px solid #eaeaea;
		  width: 90px;
		  padding:0 20px;
		}
	.home-03-newarivals{
		.shadow1();border: 1px solid @borderColor;.border-radius(3px);
		border-top:2px solid @activeColor;background-color:#fff;
		.title{
			float:left;
			padding: 15px 10px 10px 20px;
			border-top-left-radius: 3px;
			margin-left:-1px;
			margin-top:-1px;
			border-right: 1px solid @borderColor;
			border-bottom: 1px solid @borderColor;
			margin-bottom:20px;
			span{
				 font-size: 18px;
  				text-transform: uppercase;
  				color:#333;
			}
		}
	}
}
.home-04-p2{
  padding-top: 30px;
  clear: both;
	.navslider{
		  position: absolute;
		  top: 0px;
		  left: 150px;
		  height: 50px;
		  border-right: 1px solid #eaeaea;
		  width: 90px;
		  padding:0 20px;
		}
	.home-03-hotdeals{
		.shadow1();border: 1px solid @borderColor;.border-radius(3px);
		border-top:2px solid @activeColor;background-color:#fff;
		.title{
			float:left;
			padding: 15px 10px 10px 20px;
			border-top-left-radius: 3px;
			margin-left:-1px;
			margin-top:-1px;
			border-right: 1px solid @borderColor;
			border-bottom: 1px solid @borderColor;
			margin-bottom:20px;
			span{
				 font-size: 18px;
  				text-transform: uppercase;
  				color:#333;
			}
		}
		.view-all{
			  height: 50px;
			  border-bottom: 1px solid #eaeaea;
			  line-height: 50px;
			  padding-right: 20px;
			  a{float:right;}
		}
	}
	
}
.home-04-p3{ clear:both;padding-top: 30px;
.box-brand{
	.border-radius(3px);
}
	a{ float: left; margin: 0 1px 1px 0; position: relative; overflow: hidden; background: #fff;
		&:before{
			.before(); 
			z-index: 9;
			.opacity(0);
		}
		min-height: 80px;
		min-width: 194px;
		img{ position: absolute; top: 20px; left: 50px; .transition(all 0.3s ease-out 0s); }
		&:hover{ 
			&:before{ .opacity(100); } 
			img{
				left: -15px; .transition(all 0.3s ease-out 0s);
			}
		}
	}	
}
.home-04-p4{
	padding-top: 50px;
	.block-cate-h4{
		.item{
		padding-left:15px;
		padding-right:15px;
		  .inner{
		  padding:20px;
		  background:#fff;
		  .shadow1();border: 1px solid @borderColor;.border-radius(3px);
		  border-top:2px solid @activeColor;
		  .parent-categories{
		      margin-bottom: 20px;
		      padding:0 20px;
			  padding-bottom: 10px;
			  border-bottom: 1px solid #eaeaea;
			  margin-left: -20px;
			  margin-right: -20px;
			  margin-top:-10px;
			  a{text-transform:uppercase;
			  	font-size:18px;
			  }
		  }
		  .wrap-img{
		  position:relative;
		  overflow:hidden;
		   img{width:100%;}
		  	.sub-categories{
		  	  position: absolute;
			  bottom: 0px;
			  background-color: rgba(27,209,114,0.9);
			  width: 90%;
			  margin-left: 10px;
			  padding: 15px 0;
			  margin-bottom:-100%;
			  .transition(all 0.3s ease-out 0s);
			  li{
			  line-height:30px;
			  padding:0 15px;
			  a{color:#fff;}
				  &:hover{
				  	  background-color: rgba(255,255,255,0.2);
				  }
			  }
		  	}
		  	&:hover{
		  			.sub-categories{margin-bottom:0;
		  			.transition(all 0.3s ease-out 0s)
		  			}
		  	}
		  }
		  	
		  }
		}
		.navslider {
		  position: relative;
		  z-index:9;
		  a{
		  	position:absolute;
		  	 margin-top: 150px;
		  }
		  a.next{
		  right:5px;
		  }
		  a.prev{
		  left:5px;
		  }
		}
	}
}
