
.effect-bn(){
	display: inline-block; overflow: hidden; position: relative;
	img{ .transition(); }
	&:hover{
		img{ .scale(1.2);  z-index: 1; }
		&:before{ .opacity(100); }
	}
	&:before{ content: ""; width: 100%; height: 100%; z-index: 2;
		.rgbaColorIn(@activeColor,70%); .opacity(0);
		background: @result; position: absolute; top: 0; left: 0;										
	}
}

.box_header_04{
	.navbar{ min-height: 0; margin-bottom: 0; }
	.explodedmenu{ float: left; width: 100%; position: relative;	

		>li{ padding: 9px 0;
			&:hover{
				> a{				
					.transition(all 0.5s ease-out 0s);
					background: @activeColor;
					&:before{ 
						content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; 
						background: @activeColor; z-index: -1; .border-radius(17px);
					}
					z-index: 1;
					span{ color: #fff; }
				}
			}
			&.parentMenu{
				> a{
					&:after{ content: "\f0d8"; position: absolute; left: 50%; bottom: -28px; 
					 font-family: "FontAwesome"; color: #fff; z-index: 9; .opacity(0); .transition();
					}
				}
				&:hover{
					> a{
						&:after{ content: "\f0d8"; position: absolute; left: 50%; bottom: -8px; 
						 font-family: "FontAwesome"; color: #fff; z-index: 9; .opacity(100); .transition();
						}
					}
				}
			}
		}
		
		li{
			&.menu{ float: left; position: relative;
				&.lblnew,&.lblhot,&.lblsale{
					> a{ position: relative;
						> img{
							position: absolute; top: -15px; left: 50%; margin-left: -15px;
						}
					}
				}
				> a{ margin-right: 1px;
					float: left; position: relative;
					padding: 4px 20px 4px;			
					.border-radius(17px);		
					 color: @text3; text-transform: uppercase;
					 span{  font-weight: 500 !important; }
					&:hover{
						color: @activeColor;
					}			
				}
				
				&.act{
					> a{ color: #fff; .border-radius(17px);
						background: @activeColor;
					}					
				}				
				&.parentMenu{
					&.menu03{
						.explodedmenu-menu-popup{ left: -200px; width: 890px; padding: 5px 0 5px 5px; margin-top: -5px; overflow: hidden; }
						.block-mega03{
							.inner-cms-block{
								h3{ line-height: 30px;  margin: 0; font-size: 100%; text-transform: uppercase; 
									a{ color: @text3;  font-weight: 500!important; 
										&:hover{ color: @activeColor; } 
									}
								}
								ul{										
									li{
										background: @bgf9;
										a{
											padding: 5px 0 5px 32px; display: block; position: relative; color: @text6;
											&:before{ content: "\f105"; position: absolute; left: 20px; top: 5px; 
											 font-family: "FontAwesome";
											}
											&:hover{ background: @activeColor; 
												color: #fff;
												&:before{ 
													content: "\f105"; position: absolute; left: 20px; top: 5px; 
											 		font-family: "FontAwesome";
												}
											}
										}
									}
								}
								.block{
									padding: 0 20px; 
									&.block1{ padding-left: 15px;
										a{ margin-top: 10px; display: block; .effect(); img{ width: 100%; } }
									}
									&.block3{
										a{ margin-top: 10px; display: block; .effect(); img{ width: 100%; } }
									}
									&.block2{ border-right: 1px solid @borderColor; padding-left: 15px; }
									&.block4{ padding: 0 15px; }
								}
							}
						}		
					}
					&.menu02{
						.explodedmenu-menu-popup{ left: -50px; width: 890px; padding: 5px 0 5px 5px; margin-top: -5px; overflow: hidden; }
						.block-mega02{
							.inner-cms-block{
								h3{ line-height: 30px;  margin: 0; font-size: 100%; text-transform: uppercase; 
									a{ color: @text3;  font-weight: 500!important; &:hover{ color: @activeColor; } }
								}
								ul{										
									li{
										background: @bgf9;
										a{
											padding: 5px 0 5px 32px; display: block; position: relative; color: @text6;
											&:before{ content: "\f105"; position: absolute; left: 20px; top: 5px; 
											 font-family: "FontAwesome";
											}
											&:hover{ background: @activeColor; 
												color: #fff;
												&:before{ 
													content: "\f105"; position: absolute; left: 20px; top: 5px; 
											 		font-family: "FontAwesome";
												}
											}
										}
									}
								}
								.block1{ border-right: 1px solid @borderColor; padding: 0 20px 0 15px; 
									a{ display: block; .effect(); img{ width: 100%; } }
								}
								.block2{ width: 27%; padding: 0 20px; 
									h3{ padding-left: 20px; }
								}
								.block3{ width: 26%; 
									p{ color: @text6; }
									.button-style();
									/*.button{
										position: relative; right: 0;  z-index: 9991; border: 1px solid @borderColor;  
										padding: 1px;  min-height: 34px; background: #fff; margin: 0; float: left; line-height: 30px;
										padding-left: 50px; padding-right: 20px; margin-top: 20px; color: @text6;
										.border-radius(17px); 
										&:hover{ color: @activeColor; }
										> span{ display: block;  
											&:before{ content: ""; width: 28px; height: 28px; background: @activeColor; .border-radius(50%); 
											position: absolute; top: 2px; left: 2px;
											}
											&:after{ content: "\f105"; position: absolute; top: 1px; left: 14px; 
												 font-family: "Fontawesome"; color: #fff; 
											}											
										}
									}*/
								}
								.block4{ width: 22%; 
									.block-banner2{
										text-align: center; 
										a{
											display: block; margin-bottom: 10px;
											.effect();
											img{ width: 100%; }
										}
									}
								}
							}
						}
					}
					&.menu01{
						.explodedmenu-menu-popup{ 
							left: -50px; width: 985px; padding: 5px 0 5px 5px; margin-top: -5px; overflow: hidden; 
							.block-mega01{
								.inner-cms-block{ 
									.block{ border-right: 1px solid @borderColor;
										&.last{ border: none; }
										&.col-lg-2{ width: 22.5%; }
										&.col-lg-3{ width: 32%; }
										h3{ line-height: 30px; padding-left: 20px; margin: 0; font-size: 100%; text-transform: uppercase; 
											a{ color: @text3; font-weight: 500!important;
											 &:hover{ color: @activeColor; } }
										}
										ul{										
											li{
												background: @bgf9;
												a{
													padding: 5px 0 5px 32px; display: block; position: relative; color: @text6;
													&:before{ content: "\f105"; position: absolute; left: 20px; top: 5px; 
													 font-family: "FontAwesome";
													}
													&:hover{ background: @activeColor; 
														color: #fff;
														&:before{ 
															content: "\f105"; position: absolute; left: 20px; top: 5px; 
													 		font-family: "FontAwesome";
														}
													}
												}
											}
										}
										.block-banner{
											a{ float: left; margin: 10px 17px; width: 100px; height: 100px; .shadow(); .transition(); position: relative;
												.border-radius(50%); text-indent: -9999em; 
												&:before{ color: @activeColor; text-indent: 0; font-size: 30px; 
													left: 50%; top: 50%; margin-left: -9px; margin-top: -18px;
												}
												&:hover{
													&:before{ color: #fff; }
												}
												&.item1{
													&:before{ 
														content: "\f22c"; position: absolute;
												 		font-family: "FontAwesome"; 
													}
												}
												&.item2{
													&:before{ 
														content: "\f227"; position: absolute;
												 		font-family: "FontAwesome";
												 		margin-left: -16px; margin-top: -20px;
													}
												}
												&.item3{
													&:before{ 
														content: "\f22a"; position: absolute; 
												 		font-family: "FontAwesome"; 
												 		margin-left: -9px; margin-top: -22px;
													}
												}
												&.item4{
													&:before{ 
														content: "\f222"; position: absolute; 
												 		font-family: "FontAwesome";
												 		margin-left: -16px; margin-top: -20px;
													}
												}
												&:hover{ background: @activeColor; .transition(); }
											}
										}
									}
								}
							}						
						}
					}
					
					.explodedmenu-menu-popup{
						position: absolute; top: 58px; z-index: 991; .opacity(0); visibility: hidden; .transition();
						.inner-cms-block{
							.shadow(); background: #fff; .border-radius(5px); padding: 25px 15px; 
						}
						.exploded-menu-block{ background: #fff;
							ul{ .shadow(); min-width: 200px; padding: 15px 10px;
								li{  position: relative; background: @bgf9;
									a{
										padding: 5px 0 5px 32px; display: block; position: relative; color: @text6;
										&:before{ content: "\f105"; position: absolute; left: 20px; top: 5px; 
										 font-family: "FontAwesome";
										}
										&:hover{ background: @activeColor; 
											color: #fff;
											&:before{ 
												content: "\f105"; position: absolute; left: 20px; top: 5px; 
										 		font-family: "FontAwesome";
											}
										}
									}
									ul{
										position: absolute; top: 0; left: 230px; background: #fff;
										.opacity(0); visibility: hidden; .transition(); z-index: 9;
									}
									&:hover{
										> ul{
											.opacity(100); visibility: visible; left: 180px;
											.transition();
										}
									}
								}
							}							
						}						
					}
					&:hover{
						.explodedmenu-menu-popup{ top: 38px; .opacity(100); visibility: visible; .transition();}
					}
				}
			}
		}	
	}
}

.cms-home02 .box_header_03 .explodedmenu{ display: block !important; }
.box_header_03{
	.wrap-menu{ float: left; width: 100%; position: relative; }
	.navbar{ min-height: 0; margin-bottom: 0; }
	.magemenu-menu{float: left; width: 100%; 
		.header-nav{
			.block-title{ float: left; width: 100%; height: 34px; .border-top-right-radius(5px); 
				.border-top-left-radius(5px); .shadow1();
				 background: @activeColor;
				.text{ float: left; line-height: 100%; font-weight: 500 !important; text-transform: uppercase; color: #fff;  
					margin: 10px 0 0 20px; 
				}
				.i_title{ float: right; width: 30px; height: 30px; .border-radius(50%); 
					margin: 3px 1px 0 0; 
					.fa{ font-family: "FontAwesome" !important; margin: 7px 0 0 8px; color: #fff; }
				}
				&:hover{ cursor: pointer; }
			}
		}
	}
	.explodedmenu{ float: left; width: 100%; .shadow1(); display: none; border-left: 1px solid @borderColor;
		position: absolute; top: 34px; left: 0; padding-top: 8px; z-index: 90; background: #fff; 
		.border-bottom-right-radius(5px); 
		.border-bottom-left-radius(5px); 
		>li{ float: left; width: 100%; 		}
		
		li{
			&.menu{ float: left; position: static;
				
				> a{ 
					float: left; position: relative;
					padding: 10px 0 10px 10px; width: 100%;			
					color: @text6; text-transform: capitalize;
					border-bottom: 1px solid @borderColor;
					img{ float: left; margin-right: 10px; }
					span { line-height: 30px; font-weight: 500 !important; }
					&:hover{
						color: @activeColor;
					}			
				}
				
				&.act{
					> a{ color: @activeColor; 	}					
				}				
				&.parentMenu{
					> a{
						position: relative;
						/*
						&:before{ content: "\f105"; font-family: "FontAwesome"; position: absolute; top: 15px; right: 0; }
						*/
					}
					&.menu05{
						
						.block-mega05{
							.inner-cms-block{ padding: 30px; float: left; background: @bgf9; width: 74%;		
								.block{
									padding: 0 20px; 
									&.block1{ width: 201px; height: 350px; border: 1px solid @borderColor; padding: 0;
										a{ display: block; .effect(); img{ width: 100%; } }
									}
									&.block2{ float: left; padding: 0; width: 294px; margin-left: 50px;
										a.title{
											float: left; margin: 17px 0 20px 0;
										}
										p{ float: left; width: 100%; margin: 0; }
										.button{
											position: relative; right: 0;  z-index: 9991; border: 1px solid @borderColor;  margin-top: 20px;
											padding: 1px;  min-height: 34px; background: #fff; margin: 0; float: left; line-height: 30px;
											padding-left: 50px; padding-right: 20px; margin-top: 20px; color: @text6;
											.border-radius(17px); 
											&:hover{ color:#ef4896; }
											> span{ display: block;  
												&:before{ content: ""; width: 28px; height: 28px; background: #ef4896; .border-radius(50%); 
												position: absolute; top: 2px; left: 2px;
												}
												&:after{ content: "\f105"; position: absolute; top: 1px; left: 14px; 
													 font-family: "Fontawesome"; color: #fff; 
												}											
											}
										}
									}
									&.block3{ padding: 0; width: 236px; margin-left: 20px;
										h3{ line-height: 30px;  margin: 0; font-size: 100%; text-transform: uppercase; 
											background: #ef4896;
											a{ color: #fff; font-weight: 600 !important; padding-left: 20px;  }
										}
										ul{ float: left; border-left: 1px solid @borderColor; padding: 20px 0 90px;
											li{ float: left; width: 100%; position: relative; height: 30px;
												a{ float: left; padding-left: 45px; line-height: 30px; position: relative;
													min-width: 175px;
													&:before{ content: "\f178"; font-family: "FontAwesome"; font-size: 14px; color: #ef4896; 
													position: absolute; top: 0px; left: 20px; z-index: 9;  }
												}
												span{ float: right; color: @text9; line-height: 30px; margin-right: 20px; }
												&:hover{													
													a{	
														color: #fff; background: #ef4896;
														&:before{ color: #fff; }
														&:after{ content: "";  position: absolute; top: 0px; right: -14px; 
														   width: 0;
														   height: 0;
														   border-left: 15px solid #ef4896;
														   border-top: 15px solid transparent;
														   border-bottom: 15px solid transparent;
														}
													}
													span{ color: #ef4896; }
													&:after{ content: "";  position: absolute; top: 30px; left: -11px; 							
														width: 0; 
														height: 0; 
														border-top: 10px solid #000; 
														border-left: 10px solid transparent; 
													}	
													&:before{ content: ""; width: 11px; height: 30px; position: absolute; top: 0px; left: -11px; 
														background: #ef4896;
													}
												}
											}
										}
									}								
									
								}
							}
						}		
					}
					&.menu04{
						
						.block-mega04{
							.inner-cms-block{
								padding: 30px; background: @bgf9; width: 940px;
								//.shadow1(); border-top: 1px solid @borderColor; border-left: 1px solid @borderColor;
								//.border-radius(5px);
								.block1{ padding: 0; margin-right: 29px; width: 200px;
									h3{ height: 30px; background: #fe64a9; margin: 0; float: left; width: 100%; text-align: center;
										font-size: 100%; 
										span{ line-height: 100%; font-weight: 600 !important; color: #fff; display: inline-block; line-height: 30px; }
									}
									p{ line-height: 26px; margin-top: 10px; float: left; }
								}
								.block2{ width: 650px; padding: 0;
									.item{
										float: left; width: 210px; margin-right: 10px;
										a{ float: left; width: 100%;
												
											&.pro-image{
												margin-bottom: 15px;
												.effect();
												img{ width: 100%; }
											}				
											&.pro-name{ color: @text3; margin-bottom: 5px; margin-left: 10px; 
												&:hover{ color: @activeColor; }
											}
														
										}
										.price-box{ float: left; width: 100%;  margin-left: 10px; 
											
										}
										&.last{ margin-right: 0; }
									}
								}
							}
						}
					}
					&.menu06{
						.explodedmenu-menu-popup{ 							
							.block-mega06{
								.inner-cms-block{ padding: 30px; width: 76.5%;
									.block{
										width: 200px; padding: 0; float: left;
										margin-right: 10px;
										h3{ float: left; width: 100%; background: @activeColor; font-size: 100%; margin: 0;
											height: 30px;
											a{ float: left; color: #fff; font-weight: 600 !important; text-transform: uppercase; 
												line-height: 30px; padding-left: 20px;
											}
										}
										.content{
											border: 1px solid @borderColor;
											 background: #fff; float: left;
											.wrap-img{
												float: left; width: 100%; padding: 25px 20px 5px;
												a{ display: inline-block; text-align: center;
													.effect(); img{ width: 100%; }
												}
											}
											ul{ float: left; margin-bottom: 15px;
												li{ float: left; width: 100%; position: relative; height: 30px;
													a{ float: left; padding-left: 45px; line-height: 30px; position: relative;
														min-width: 150px;
														&:before{ content: "\f178"; font-family: "FontAwesome"; font-size: 14px; color: @activeColor; 
														position: absolute; top: 0px; left: 20px; z-index: 9;  }
													}
													&:hover{
														
														a{	
															color: #fff; background: @activeColor;
															&:before{ color: #fff; }
															&:after{ content: "";  position: absolute; top: 0px; right: -14px; 
															   width: 0;
															   height: 0;
															   border-left: 15px solid @activeColor;
															   border-top: 15px solid transparent;
															   border-bottom: 15px solid transparent;
															}
														}
														&:after{ content: "";  position: absolute; top: 30px; left: -11px; 							
															width: 0; 
															height: 0; 
															border-top: 10px solid #000; 
															border-left: 10px solid transparent; 
														}	
														&:before{ content: ""; width: 11px; height: 30px; position: absolute; top: 0px; left: -11px; 
															background: @activeColor;
														}
													}
												}
											}
										}
										&.block4{ margin-right: 0; 
											.content{
												background: none;
												border: none;
												border-left: 1px solid @borderColor;
												ul{
													margin-top: 14px;
												}
											}

										}
									}
								}
							}						
						}
					}
					.explodedmenu-menu-popup{
						position: absolute; top: 0px; left: 400px; z-index: 999; .opacity(0); visibility: hidden; .transition();
						.inner-cms-block{
							.shadow1(); background: @bgf9; .border-radius(5px); padding: 25px 15px; 
							 border-top: 1px solid @borderColor; border-left: 1px solid @borderColor;
						}
						.exploded-menu-block{ background: #fff;
							ul{ .shadow(); min-width: 200px; padding: 15px 10px;
								li{  position: relative; background: @bgf9;
									a{
										padding: 5px 0 5px 32px; display: block; position: relative; color: @text6;
										&:before{ content: "\f105"; position: absolute; left: 20px; top: 5px; 
										 font-family: "FontAwesome";
										}
										&:hover{ background: @activeColor; 
											color: #fff;
											&:before{ 
												content: "\f105"; position: absolute; left: 20px; top: 5px; 
										 		font-family: "FontAwesome";
											}
										}
									}
									ul{
										position: absolute; top: 0; left: 230px; background: #fff;
										.opacity(0); visibility: hidden; .transition(); z-index: 9;
									}
									&:hover{
										> ul{
											.opacity(100); visibility: visible; left: 180px;
											.transition();
										}
									}
								}
							}							
						}						
					}
					&:hover{
						.explodedmenu-menu-popup{ left: 167px; .opacity(100); visibility: visible; .transition();}
					}
				}
			}
		}	
	}
}