.fancybox-skin{ background: #fff; }
//.zoomContainer{ z-index: 9999; }
.quickview-main {
	.row{ margin: 0; }
	.product-view .more-views .inner{ width: 200px; }
	.product-view .product-img-box{ margin-bottom: 5px; }
}
.product-view{
	.product-img-box{
		.wrap-new-sale{ top: 0; left: 0; }
		> .inner{ padding: 10px;
			.shadow1(); .border-radius(5px); border-top: 1px solid @borderColor; border-left: 1px solid @borderColor;
		}
		.product-image-gallery img{
			width: 100%; height: auto;
		}
		.product-image-gallery .gallery-image {
		  display: none;
		}
		.product-image-gallery .gallery-image.visible {
		  display: block;
		}
		.product-image-gallery .gallery-image.visible.hidden {
		  visibility: hidden;
		}
		.product-image-zoom{ position: relative; }
	}
	.popup-btn{ text-align: center; padding: 16px 0;
		#popup-image{ color: @text9; text-transform: capitalize; &:hover{ color: @activeColor; } }
	}
	.more-views{  width: 100%; text-align: center; position: relative;  margin-bottom: -4px; 
		.inner{ 
			display: inline-block; /*width: 327px;*/ float: none; margin-bottom: -4px; padding: 0; position: static;
			ul{
				li{
					a{ display: inline-block; border: 1px solid transparent;
						&:hover{ border: 1px solid @activeColor; cursor: pointer; }
					}
				}
			}
			.navslider{ 
				a{
					float: left; width: 20px; height: 20px; border: 1px solid @borderColor; position: absolute; 
					text-indent: -9999em;  background: #fff; .border-radius(50%); top: 50%; margin-top: -10px;
					&:before{ content: ""; text-indent: 0; color: @text3; font-family: "FontAwesome"; font-size: 14px; position: absolute; top: -1px; }
					&:hover{
						background: @activeColor; border-color: @activeColor; cursor: pointer;
						&:before{ color: #fff; }
					}
					&.prev{
						left: 30px;
						&:before{ content: "\f104"; left: 6px; }
					}
					&.next{
						right: 30px;
						&:before{ content: "\f105"; left: 7px; }
					}
				}
			}
		}
	}/* --------------------end more view--------------------------- */
	.product-shop{
		.box-left{ padding: 0 15px 0 0; 
			h1{ margin: 0; color: @text3; .size4(); text-transform: capitalize; line-height: 100%; }
			.product-name{ margin-top: 17px; }
			.availability{ display: none; }
			.price-box{ display: block; overflow: hidden; margin-top: 16px;
				float: left; width: 100%; 
				.price{ font-weight: normal !important; color: #ffb424; }
				.old-price{
					.price{ color: @text9; }
				}
			}
			.ratings{ margin-top: 6px;
				.rating-links{ display: none; }
			}
			.short-description{ margin: 26px 0 23px 0; padding-bottom: 19px; border-bottom: 1px solid @borderColor; 
				float: left; width: 100%; 
			}
			.product-addto{ float: left; width: 100%; }
			#product-options-wrapper{ display: block; overflow: hidden;
				dt{
					label{ float: left; min-width: 60px; text-align: left; color: @text3; font-weight: 500 !important; }
				}
				.group-item{ 
				
					float: left; width: 100%; margin-top: 15px;
					.option-color{
						.input-box{
							li{ float: left; width: 40px; height: 20px; margin-right: 10px; border: 1px solid #eaeaea; position: relative;
								padding: 1px;
								input{ .opacity(0); }
								&:first-child{
									.label{
										label{ .opacity(100); }
									}
								}
								.label{ > *{ .opacity(0); } 
									position: absolute; top: 0; left: 0; .border-radius(0); padding: 0;
									float: left; width: 100%; height: 100%; border: 1px solid #fff;
								}
								&:hover,&.actived{  cursor: pointer;
									&:before{
										content: ""; width: 10px; height: 10px; position: absolute; top: -7px; left: 15px;
										background: url('@{base-url}edo.png') no-repeat -196px -73px;
									}
								}
							}
							
						}
					}
					.option-size{
						.input-box{
							li{ float: left; width: 40px; height: 20px; margin-right: 10px; border: 1px solid #eaeaea; position: relative;
								.price-notice{ .opacity(0); display: none; }
								input{ .opacity(0); }
								.label{
									label{ margin: 0; float: left; width: 100%; line-height: 17px; }
									position: absolute; top: 0; left: 0; .border-radius(0); padding: 0; margin: 0;
									float: left; width: 100%; height: 100%; text-align: center; color: @text6;
								}
								&:hover,&.actived{ border-color: @activeColor; cursor: pointer; }
							}
						}
					}
				}
				
			}
			.product-options-bottom{ margin-top: 12px;
				.price-box{ display: none; }
				
				
			} 

			/*--------------------------product-options-bottom---------------------*/	
			.add-to-links{ margin-left: 52px; }
			label{ color: @text3; float: left; width: 60px; font-weight: 500 !important; }
				#qty{ width: 20%; float: left;  text-align: center; height: 30px; margin: 0; border-color: @borderColor !important; }
				.quantity-controls{ float: left; position: relative; width: 36px; height: 30px; border: 1px solid @borderColor; text-indent: -9999em;
					&:before{ content: ""; position: absolute; top: 14px; left: 12px; text-indent: 0; z-index: 2; }
					&:hover{ cursor: pointer; background: @bgf9; }
					&.quantity-minus{ border-right: none;
						&:before{ width: 11px; height: 1px; background: #ccc; }
						&:hover{
							&:after{ content: "\f068"; z-index: 1; text-indent: 0; font-family: "FontAwesome"; position: absolute; top: 5px; left: 12px; color: @text6; }
						}
					}
					&.quantity-plus{ border-left: none;
						&:before{ content: '+'; font-size: 23px; color: #ccc; top: -2px; left: 11px; }
						&:hover{ 
							&:after{ content: '\f067'; font-family: "FontAwesome"; position: absolute; top: 5px; left: 12px; z-index: 1; text-indent: 0; }
						}
					}
				}
				.btn-cart,.btn-update,.btn-pro-config{ 
					float: left; position: relative;  border: 1px solid @borderColor;  
					padding: 1px;  min-height: 34px; background: #fff;  line-height: 30px;
					padding-left: 40px; padding-right: 20px; margin: -2px 0 0 10px; 
					color: @text6;	.border-radius(17px); 
					&:hover{ color: @activeColor; .transition(); 
						.border-radius(0px); 
						>span{
							&:before{ .border-radius(0px); .transition();  }
						}
					}
					> span{ display: block;  .transition(); 
						&:before{ content: ""; width: 28px; height: 28px; background: @activeColor; .border-radius(50%); 
						position: absolute; top: 2px; left: 2px; .transition(); 
						}
						&:after{ content: ""; position: absolute; top: 9px; left: 9px;
							width: 20px; height: 20px; background: url('@{base-url}edo.png') no-repeat 0 0;
						}										
					}
				}
				.add-to-links{ float: left; margin-bottom: -40px; margin-top: 15px;
					li{ float: left; 
						a{ text-indent: -9999em; 
							&:before,&:after{ text-indent: 0; }
						}
					}
					.link-wishlist{
						float: left; width: 40px; height: 100%; position: relative;
						&:after{ content: ""; position: absolute; top: 8px; left: 10px; 
							width: 22px; height: 22px; background: url('@{base-url}edo.png') no-repeat -81px -62px;
						}	
						&:hover{
							&:after{ background: url('@{base-url}edo.png') no-repeat -108px -62px; }
						}
					}
					.link-compare{
						float: left; width: 40px; height: 100%; position: relative;
						&:after{ content: ""; position: absolute; top: 7px; left: 10px; 
							width: 22px; height: 22px; background: url('@{base-url}edo.png') no-repeat -137px -62px;
						}
						&:hover{
							&:after{ background: url('@{base-url}edo.png') no-repeat -166px -61px; }
						}
					}
				} /*---------------------------add-to-links-----------------------------*/
			
			.email-friend,.print{ float: left; margin-top: 15px; width: 40px; height: 40px;  text-indent: -9999em; position: relative; z-index: 9;
				&:before{ content: "\f0e0"; text-indent: 0;  font-family: "FontAwesome"; color: #e5e5e5; position: absolute; top: 6px; left: 12px; }
				&:hover{
					&:before{ color: @text6; }
				}
			}
			.email-friend{
				margin-left: 132px;
			}
			.print{ 
				&:before{ content: "\f02f"; font-family: "FontAwesome"; color: #e5e5e5; } 
			}
			.or{ display: none; }
			.add-to-box{ float: left; width: 100%; }
			
		}/* ------------------end box left-------------------------*/
		.box-tag{ margin-top: 30px;
			padding: 0; .shadow1(); .border-radius(5px); border-top: 1px solid @borderColor; border-left: 1px solid @borderColor;
			.inner{
				background: @bgf9; padding: 29px; float: left; .border-radius(5px);
				.img-last{ display: none; }
				a{ float: left; padding: 9px 18px 9px 10px; text-transform: capitalize; color: @text6; background: #fff; border-top: 1px solid @borderColor;
					border-left: 1px solid @borderColor;
					img{ margin-right: 10px; float: left; }
					span{ float: left;}
					&.tag6,&.tag7,&.tag8,&.tag9{ border-bottom: 1px solid @borderColor; }
					&.tag5,&.tag9{ border-right: 1px solid @borderColor; position: relative;
						&:before{ content: ""; width: 100%; height: 1px; background: @borderColor; position: absolute; bottom: -1px; left: 0;}
					}
					&:hover{ background: @activeColor;  border-color: @activeColor; color: #fff; 
						img.img-first{ display: none; }
						img.img-last{ display: block; float: left; }
						&:before{ background: @activeColor; bottom: 0; } 
					}
				}
			}
		}
		.box-right{ padding-right: 0; 
			.block-topseller{ margin-top: 0; height: auto;
				.products-grid .item { padding-bottom: 20px; 
					.inner{ overflow: hidden; 
						.item-image {
							img{ width: 100%; }
						}
					}
				}
			}
		}

	}/* --------------------end product-shop--------------------------- */

	#product-tabs{ float: left; width: 100%; padding: 0 15px;
		.inner{ float: left; width: 100%;
			min-height: 250px; .shadow1(); .border-radius(5px); border-top: 1px solid @borderColor; border-left: 1px solid @borderColor;
			margin-top: 30px;

			
				> ul{ 
					padding: 17px 20px; background: @bgf9; float: left; width: 100%; 
					border-bottom: 1px solid @borderColor; .border-top-left-radius(5px);.border-top-right-radius(5px); 
					li{
						float: left; margin-right: 4px;
						
						a{ 
							float: left; position: relative; 
							padding: 4px 17px;			
							.border-radius(17px);
							-moz-box-shadow: 0 -1px 2px #d9d9d9;
							-webkit-box-shadow: 0 -1px 2px #d9d9d9;
							box-shadow: 0 -1px 2px #d9d9d9;						
							background: url('@{base-url}bg-tab.png') repeat-x 0 -1px; 		
							color:@text3; font-weight: 500 !important; text-transform: uppercase;
							&:hover{						
								position: relative;
								color: #fff;							
								background: @activeColor;	
								-moz-box-shadow: none;
								-webkit-box-shadow: none;
								box-shadow: none;					
							}
						}
						&.actived{
							a{
								position: relative;
								color: #fff;							
								background: @activeColor;	
							}
						}
					}
				}
			.inner-tab{ 
				padding: 30px; float: left; width: 100%;
				h2{ margin: 0 0 10px; font-size: 128.57%; font-weight: 500 !important; }
				.box-tags{
					label{ float: left; margin-right: 10px; }
					.input-box{ float: left; }
					.button{ margin: 0 0 0 5px; float: left;
						padding: 0 15px; line-height: 32px;  .border-radius(5px);
						&:hover{ background: @activeColor; }
					}
				}
				#customer-reviews{
					.pager{ float: left; width: 100%; border-bottom: 3px double @borderColor;
						 border-top: 3px double @borderColor;
						p,label{ margin: 0; }
						.amount{ float: left; line-height: 40px; }
						.limiter{ float: right; line-height: 40px;  }
					}
					#product-review-table{
						td{ text-align: center;
							.radio{ display: inline; margin: 0; }
						}
					}
					.form-list{ margin-top: 20px; }
					.buttons-set,.form-list{ width: 50%; }
					.button{ margin: 0 0 0 5px;
						padding: 0 15px; line-height: 32px; .border-radius(5px);
						&:hover{ background: @activeColor; }
					}
					dt{
						a{ font-weight: 600 !important; }
					}
					h2{
						font-weight: 600 !important; 
					}
				}
			}
		}
	}
	#upsell_pro,#related_product{ float: left; width: 100%; padding: 0 15px; margin-top: 30px;
		.item{ padding: 0 10px; 
			.wrap-new-sale{
				top: 0;
			}
		}
		> .inner{  float: left; width: 100%;
			.shadow1(); .border-radius(5px); border-top: 1px solid @borderColor; border-left: 1px solid @borderColor;
			.block-title{ .size3();  padding-left: 20px; float: left; width: 100%; color: @text3; text-transform: uppercase;
				background: @bgf9;  line-height: 50px; position: relative; border-bottom: 1px solid @borderColor;
				span{  font-weight: 600 !important; }
				.navslider{ position: absolute; top: 16px; right: 20px;
					a{
						float: left; width: 20px; height: 20px; border: 1px solid @borderColor; position: relative; .border-radius(50%);
						text-indent: -9999em; background: #fff;
						&:before{ content: ""; text-indent: 0; color: @text3; font-family: "FontAwesome"; font-size: 14px; position: absolute; top: -16px; }
						&:hover{
							background: @activeColor; border-color: @activeColor;
							&:before{ color: #fff; }
						}
						&.prev{ margin-right: 1px;
							&:before{ content: "\f104"; left: 6px; }
						}
						&.next{
							&:before{ content: "\f105"; left: 7px; }
						}
					}
				}
			}
			.container-slider{ float: left; width:  100%; padding: 20px 10px; }
		}
	}
	/* General Swatch Styling */
	.swatch-link,
	.swatch-label {
	  display: block;
	  border-radius: 3px;
	  font-size: 14px;
	  text-align: center;
	  color: #636363;
	  text-decoration: none;
	  box-sizing: content-box;
	}

	.swatch-link {
	  border: 1px solid #cccccc;
	  margin: 0 0 3px;
	}
	.swatch-link img {
	  border-radius: 2px;
	}
	.swatch-link:hover {
	  cursor: pointer;
	  text-decoration: none;
	}
	.swatch-link .x {
	  display: none;
	  text-indent: -999em;
	  position: absolute;
	  left: 0;
	  right: 0;
	  top: 0;
	  bottom: 0;
	  background: url(../images/bg_x.png) center no-repeat transparent;
	  z-index: 10;
	}
	.swatch-link.has-image .swatch-label {
	  position: relative;
	}
	.swatch-link.has-image img {
	  position: absolute;
	  top: 0;
	  left: 0;
	}

	.swatch-label {
	  border: 1px solid #fff;
	  margin: 0;
	  white-space: nowrap;
	  background: #f4f4f4;
	}

	.configurable-swatch-list {
	  margin-left: -3px;
	  zoom: 1;
	  clear: both;
	  -webkit-transform: translateZ(0px);
	}
	.configurable-swatch-list li {
	  float: left;
	  zoom: 1;
	  margin: 0 0 0 3px;
	}
	.products-grid .configurable-swatch-list li {
	  display: inline-block;
	  float: none;
	  margin: 0;
	  vertical-align: top;
	}
	.configurable-swatch-list .not-available .x {
	  display: block;
	}
	.configurable-swatch-list .not-available .swatch-link {
	  border-color: #ededed;
	  position: relative;
	}
	.configurable-swatch-list .not-available .swatch-link.has-image img {
	  opacity: 0.4;
	  filter: alpha(opacity=40);
	}
	.configurable-swatch-list .not-available .swatch-label {
	  color: #aaa;
	  background: #fff;
	}
	.configurable-swatch-list .wide-swatch .swatch-label {
	  padding: 0 6px;
	}
	.configurable-swatch-list .not-available a:focus {
	  outline: 0;
	}


	.currently .swatch-current {
	  position: relative;
	}
	.currently .swatch-current .btn-remove {
	  margin-top: -10px;
	  position: absolute;
	  right: 0;
	  top: 50%;
	}
	.currently .swatch-current span {
	  display: block;
	  float: left;
	}
	.currently .swatch-link {
	  display: inline-block;
	  margin: 0 0 0 3px;
	}
	.currently .swatch-link:hover {
	  border-color: #cccccc;
	  cursor: default;
	}

	/* Other Swatch States */
	.configurable-swatch-list .hover .swatch-link,
	.configurable-swatch-list .selected .swatch-link,
	.swatch-link:hover {
	  border-color: #3399cc;
	}

	.configurable-swatch-box {
	  background: none !important;
	}
	.configurable-swatch-box select.swatch-select {
	  display: none;
	}
	.configurable-swatch-box .validation-advice {
	  margin: 0 0 5px;
	  background: #df280a;
	  padding: 2px 5px !important;
	  font-weight: bold;
	  color: #fff !important;
	  float: left;
	  display: block;
	  border-radius: 3px;
	}
}
/* ============================================ *
 * Configurable Swatches
 * ============================================ */
/* Clears */
.clearfix:after,
.configurable-swatch-list:after,
.product-view .product-options .swatch-attr:after {
  content: '';
  display: table;
  clear: both;
}
.product-view .product-shop .box-left .swatch-attr{ margin-top: 10px; 
	> label{ width: 160px; }
}

