.products-list{	float: left; width: 100%;
	.item{ float: left; margin-bottom: 30px;
		.wrap-new-sale{ left: 0; top: 0;}
		.inner{ padding: 8px; .shadow1(); .border-radius(5px); float: left; width: 100%;
			border-top: 1px solid @borderColor;
			border-left: 1px solid @borderColor;
			.item-image{ float: left;  position: relative; margin-right: 30px;
				.product-image{ float: left; position: relative; float: left; width: 100%;
					&:before{ content: ""; width: 100%; height: 100%; position: absolute; top: 0; left: 0;
					background: rgba(0, 0, 0, 0.2); .opacity(0); .scale(0);  .transition();
					}
					img{ width: 100%; }
				}
				.vt_quickview_handler{  .opacity(0); .scale(0);  .transition(); position: absolute; top: 50%; left: 50%;
					&:before{ content: ""; width: 26px; height: 18px; position: absolute; top: 13px; left: 8px;
					background: url('@{base-url}edo.png') no-repeat -45px -67px; text-indent: 0;
					}
					margin-left: -21px; margin-top: -21px; text-indent: -9999em;
					background: @activeColor; width: 42px; height: 42px; .border-radius(50%);
				}
				&:hover{
					.product-image{
						&:before{  .opacity(100); .scale(1);  .transition(); }
					}
					.vt_quickview_handler{  .opacity(100); .scale(1);  .transition(); }
				}
			}
			.product-info{ float: left; width: 65%;
				&.col2{ width: 47.36%; }
				
				.product-name{ line-height: 100%; float: left; width: 100%; margin: 15px 0 8px 0; position: relative;
					a{ display: inline-block; line-height: 100%; color: @text3; 
						&:hover{ color: @activeColor; }
					}
					.configurable-swatch-list{ float: left; position: absolute; top: 0; right: 10px;
						li{ float: left; margin-left: 5px; }
					}
				}
				.price-box{ line-height: 100%; margin-bottom: 7px;
					float: left; width: 100%;
				}
				.desc{
					float: left; width: 100%; margin: 25px 0 0 0; max-height: 80px; overflow: hidden;
				}
				.item-btn{
					float: left; width: 100%; height: 34px; margin-top: 16px; margin-left: -10px;
					.link-wishlist{
						float: left; width: 40px; height: 100%; position: relative;
						&:after{ content: ""; position: absolute; top: 8px; left: 10px; 
							width: 22px; height: 22px; background: url('@{base-url}edo.png') no-repeat -81px -62px;
						}	
						&:hover{
							&:after{ background: url('@{base-url}edo.png') no-repeat -108px -62px; }
						}
					}
					.link-compare{
						float: left; width: 40px; height: 100%; position: relative;
						&:after{ content: ""; position: absolute; top: 7px; left: 10px; 
							width: 22px; height: 22px; background: url('@{base-url}edo.png') no-repeat -137px -62px;
						}
						&:hover{
							&:after{ background: url('@{base-url}edo.png') no-repeat -166px -61px; }
						}
					}
					.btn-cart,.btn-pro-config{ 
						float: left; position: relative;  border: 1px solid @borderColor;  
						padding: 1px;  min-height: 34px; background: #fff;  line-height: 30px;
						padding-left: 40px; padding-right: 20px; margin: 0; 
						color: @text6;	.border-radius(17px); 
						&:hover{ color: @activeColor; .transition(); 
							.border-radius(0px); 
							>span{
								&:before{ .border-radius(0px); .transition();  }
							}
							cursor: pointer;
						}
						> span{ display: block;  .transition(); 
							&:before{ content: ""; width: 28px; height: 28px; background: @activeColor; .border-radius(50%); 
							position: absolute; top: 2px; left: 2px; .transition(); 
							}
							&:after{ content: ""; position: absolute; top: 9px; left: 9px;
								width: 20px; height: 20px; background: url('@{base-url}edo.png') no-repeat 0 0;
							}										
						}
					}
				}/* end item-btn */
			} /* end product info*/
			
		}
	}
}