/*.category-products{
	.products-grid{
		.item{		
			.inner{ margin-bottom: 0px; overflow: hidden; }
		}
	}
}*/
.cms-home{
	.category-products{
		.products-grid{
			.item{		
				.inner{ margin-bottom: 20px; overflow: hidden; }
			}
		}
	}
}
.cms-home02,.block-hot-deals{
	.products-grid{
		.item{ padding: 0 10px; }
	}
}
.catalog-category-view,.catalogsearch-result-index{
	.category-products{
		.products-grid{
			.item{	padding-bottom: 30px;
				.item-image{ 
					img{ width: 100%; }
				}
				.wrap-new-sale{ left: 26px; top: 11px; }
			}
		}
	}
}
.products-grid{
	.item{ float: left; overflow: hidden; 
		.wrap-content{
			float: left; width: 100%; padding: 10px 10px 26px 10px;
			.border-radius(5px); .shadow1(); border-top: 1px solid @borderColor; border-left: 1px solid @borderColor;
			.inner{
				overflow: hidden;
			}
		}
		.inner{ display: inline-block; margin-bottom: -4px; 			
			.item-image{ float: left; width: 100%; margin-bottom: 2px; position: relative;
				.product-image{ float: left; width: 100%; position: relative;
					&:before{ content: ""; width: 100%; height: 100%; position: absolute; top: 0; left: 0;
					background: rgba(0, 0, 0, 0.2); .opacity(0); .scale(0);  .transition();
					}
					//img{ width: 100%; }
				}
				.vt_quickview_handler{  .opacity(0); .scale(0);  .transition(); position: absolute; top: 36%; left: 50%;
					&:before{ content: ""; width: 26px; height: 18px; position: absolute; top: 13px; left: 8px;
					background: url('@{base-url}edo.png') no-repeat -45px -67px; text-indent: 0;
					}
					margin-left: -21px; margin-top: -21px; text-indent: -9999em;
					background: @activeColor; width: 42px; height: 42px; .border-radius(50%);
				}
			}
			.product-info{ float: left; width: 100%; padding-left: 10px; padding-top: 14px; margin-bottom: -62px; 
				position: relative; background: rgba(255, 255, 255, 0.9); .transition();
				.product-name{ line-height: 100%; float: left; width: 100%; margin-bottom: 6px; position: relative;
					a{ display: inline-block; line-height: 100%; color: @text3; font-weight: 400 !important;
						&:hover{ color: @activeColor; }
					}
					.configurable-swatch-list{ float: left; position: absolute; top: 0; right: 10px;
						li{ float: left; margin-left: 5px; }
					}
				}
				.price-box{ line-height: 100%;
					float: left; width: 100%;
				}
				.rating-links{ display: none; }
				.ratings{
					.amount{ display: none; }
				}
				.item-btn{
					float: left; width: 100%; height: 34px; margin-top: 8px;
					.link-wishlist{
						float: left; width: 40px; height: 100%; position: relative; margin-left: -10px;
						&:after{ content: ""; position: absolute; top: 8px; left: 10px; 
							width: 22px; height: 22px; background: url('@{base-url}edo.png') no-repeat -81px -62px;
						}	
						&:hover{
							&:after{ background: url('@{base-url}edo.png') no-repeat -108px -62px; }
						}
					}
					.link-compare{
						float: left; width: 40px; height: 100%; position: relative; margin-left: -10px;
						&:after{ content: ""; position: absolute; top: 7px; left: 10px; 
							width: 22px; height: 22px; background: url('@{base-url}edo.png') no-repeat -137px -62px;
						}
						&:hover{
							&:after{ background: url('@{base-url}edo.png') no-repeat -166px -61px; }
						}
					}
					.btn-cart,.btn-pro-config{ 
						float: left; position: relative;  border: 1px solid @borderColor;  
						padding: 1px;  min-height: 34px; background: #fff;  line-height: 30px;
						padding-left: 40px; padding-right: 20px; margin: 0; 
						color: @text6;	.border-radius(17px); 
						&:hover{ color: @activeColor; .transition(); cursor: pointer;
							.border-radius(0px); 
							>span{
								&:before{ .border-radius(0px); .transition();  }
							}
						}
						> span{ display: block;  .transition(); 
							&:before{ content: ""; width: 28px; height: 28px; background: @activeColor; .border-radius(50%); 
							position: absolute; top: 2px; left: 2px; .transition(); 
							}
							&:after{ content: ""; position: absolute; top: 9px; left: 9px;
								width: 20px; height: 20px; background: url('@{base-url}edo.png') no-repeat 0 0;
							}										
						}
					}
				}
				
			}

			&:hover{
				.item-image{
					.product-image{
						&:before{  .opacity(100); .scale(1);  .transition(); }
					}
					.vt_quickview_handler{  .opacity(100); .scale(1);  .transition(); }
				}
				.product-info{ margin-top: -62px; margin-bottom: 0; .transition(); }
			}
		}
	}
}