/*==============================header 01===============================*/
.wrapper{ overflow: hidden; min-height: 800px; }

@media (min-width: 768px) {
	.box_header_01{
		.phone,.policy{ .size1(); color: @text6; margin: 0; padding-left: 23px; position: relative; line-height: 34px; }
		.phone{ padding-left: 20px;
			&:before{ content: "\f095"; font-family: "FontAwesome"; font-size: 16px; color: @activeColor; 
			position: absolute; top: 0px; left: 0; }
		}
		.policy{ margin-left: -26px;
			&:before{ content: "\f0ec"; font-family: "FontAwesome"; font-size: 16px; color: @activeColor; 
			position: absolute; top: 0px; left: 0; }
		}
		.toplink{
			float: right;
			.inner{ float: left;
				.d-hide{ display: none; }
				.links{
					li{ float: left; &.first{ a{ &:before{ display: none; }}}
						a{ .size1(); padding: 0 20px; line-height: 34px; position: relative;
							&:before{ content: ""; width: 4px; height: 4px; background: @activeColor; .border-radius(50%);
							position: absolute; top: 7px; left: 0; color: @text6;
							}
							&:hover{ color: @activeColor; }
						}
					}
				}
			}
		}
	}
	.header01{
		.box_header_02{ 
			.wrap-block-cl{
				.block{
					.lg-cur{
						span{
							span{ display: none; }
						}
					}
				}
			}
		}
		.block-wrap-cart{
			.block-cart{
				.block-title{
					>p{ display: none; }
				}
			}
		}
	}
	.box_header_02{ 
		.inner{ background: @bgf9; border: 1px solid @borderColor; padding: 7px 0; float: left; width: 100%; 
			.border-radius(5px);
		}
		.advanced-search{
			float: right; position: relative;
			.dropdown-cate,.form-search,.button{ float: right; }
			.form-search{ position: relative; padding-left: 170px; padding-right: 22px;			
				#search{ width: 338px; height: 34px; border: 1px solid @borderColor; margin: 0; padding-left: 40px;
					color: #999;  padding-left: 20px; float: left;			
				}				
			}
			.button{ color: #fff; position: absolute; right: 0;  z-index: 9991; border: 1px solid @borderColor;  border-left: none;
				 padding: 1px;  min-height: 34px; min-width: 34px; background: #fff; margin: 0;
				.border-bottom-right-radius(17px); .border-top-right-radius(17px);
				> span{ display: block;  
					&:before{ content: ""; width: 28px; height: 28px; background: @activeColor; .border-radius(50%); 
					position: absolute; top: 2px; left: 2px;
					}
					&:after{ content: "\f002"; position: absolute; top: 6px; left: 10px; 
						 font-family: "Fontawesome"; color: #fff; 
					}
					>span{ display: none; }
				}
			}
			.dropdown-cate{ position: absolute; z-index: 999; left: 0;
				padding: 0 0px 2px 20px; background: #fff; border: 1px solid @borderColor; 
				.border-top-left-radius(17px); 
				.border-bottom-left-radius(17px); 
				
				.cat-search{ display: block; line-height: 30px; color: @text6; 
					position: relative;
					width: 149px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
					&:before{ content: "\f107"; font-family: "FontAwesome"; position: absolute; top: 2px; 
						font-size: 14px; right: 20px; color: @text6;
					}
					&:hover{
				    	cursor: pointer;
				    }
				}
			}
			.scrollbar {		
				position: absolute;
				width:200px;
				background: #fff;
			}
			
			li{
				&:hover{ color: @activeColor !important; }
			}
			
			.wrap-scrollbar{ 
				position: absolute;
				top: 34px; left: 0;
				min-width: 200px;
				background: #fff;
				.shadow();
				padding: 15px 0 15px 15px;
				display: none;
				li{
					&.level-3{ padding-left: 15px; color: #888; }
					&.level-4{ padding-left: 30px; color: #aaa; }
					&:hover{ cursor: pointer; }
				}
			}
		}
		.wrap-block-cl{
			.inner-cl{ float: right; }
			.block{ float: left; margin: 0; position: relative; padding: 0 30px 0 15px; 
				border: 1px solid @borderColor; background: #fff;
				&:after{ color: @text6; content: "\f107"; font-family: "FontAwesome"; font-size: 15px; 
				position: absolute; top: 5px;  right: 14px; z-index: 9; }			   
				img{   }			
				span{ display: inline-block; text-transform: capitalize; 
				}
				&:hover{ cursor: pointer;}
				> div{ line-height: 32px; position: relative;  
					img{ margin-top: 10px;  }
					>span{ color: @text6; }
				}
				> ul{ 
					position: absolute; left: 0; top: 52px; padding: 10px; background: #fff;
					.shadow();
					.opacity(0); visibility: hidden;  z-index: 999;
					li{ background: @bgf9;
						a{ position: relative; white-space: nowrap; line-height: 30px; color: @text6; font-size: 85.71%;
							padding-left: 12px; display: block;
							img{ margin-right: 8px; margin-top: 10px; }
							.cur_icon{ margin-right: 6px; }
							&:hover{ 
								color: #fff; background: @activeColor; 
							} 
						}
					}
				}
				&:hover{
					> ul{ margin-top: 0; top:33px; .opacity(100); visibility: visible; .transition(all 0.3s ease-out 0s); }
					
				}
				&.block-language{		
					.border-top-left-radius(17px); 
					.border-bottom-left-radius(17px); 		
					> ul{					
						min-width: 132px;					
					}
				}
				&.block-currency{	border-left: none;
					.border-top-right-radius(17px); 
					.border-bottom-right-radius(17px); 	
					>ul{
						
						min-width: 114px;
					}
				}
			}

		}
		.block-cart{ float: right; position: relative;			
			.block-title{  text-align: left;		
				a{ 
					line-height: 32px; float: left; border: 1px solid @borderColor;
					min-width: 150px; .border-radius(17px);  background: #fff;
					text-align: left;	color: @text6; padding-left: 20px;
					&:hover{ color: @activeColor; }		
					position: relative;		
					&:before{ content: ""; width: 28px; height: 28px; background: @activeColor; .border-radius(50%); 
						position: absolute; top: 2px; right: 2px;
					}
					&:after{ content: ""; position: absolute; top: 10px; right: 3px; 
						width: 20px; height: 20px; background: url('@{base-url}edo.png') no-repeat 0 0;
					}
				}				
			}
			&:hover{
				
				.block-content{
					.opacity(100); margin-top: 0; visibility: visible; .transition(all 0.3s ease-out 0s);
				}
			}
			.block-content{ float: left; width: 300px; position: absolute; top: 38px; margin: 0;  right: 0; 
				z-index: 99; .shadow(); .opacity(0); margin-top: 30px; visibility: hidden; 
				.transition(all 0.3s ease-out 0s);
				.inner{ background: #fff; float: left; width: 100%; padding: 15px 20px; 
					.block-subtitle{
						text-transform: uppercase; font-size: 100%;
					} 
					.truncated{ display: none; }
					#cart-sidebar{
						li{	padding: 15px 0 25px 25px; border-bottom: 1px solid @borderColor; position: relative;
							.btn-remove{ position: absolute; top: 18px; font-size: 14px; left: 0; width: 15px; height: 15px; text-indent: -9999em;
								&:before{ content: "\f014"; font-family: "FontAwesome"; position: absolute; top: 0; left: 0;
								text-indent: 0;
								}
							}
							.btn-edit{	position: absolute; top: 42px; font-size: 14px; left: 0; width: 15px; height: 15px; text-indent: -9999em;
								&:before{ content: "\f040"; font-family: "FontAwesome"; position: absolute; top: 0; left: 0;
								text-indent: 0;
								}
							}
							.product-image{ float: left; margin-right: 10px; overflow: hidden;
								img{ border: 1px solid transparent; }
								&:hover{
									img{  border: 1px solid @activeColor; .transition(all 0.3s ease-out 0s); }
								}
							}
							.product-name{ font-size: 100%; 
								a{ display: inline-block; width: 132px; overflow: hidden;
								text-overflow: ellipsis; white-space: nowrap; text-transform: capitalize; }
							}
							.product-details{ float: left;
								> strong{ float: left; min-width: 98px; border: 1px solid @borderColor;
									a{ float: left; min-width: 19px; min-height: 28px; float: left; margin: 0; 
										&.flycart-qty-change-left{
											background: url('@{base-url}minus.png') no-repeat 0 0 #999;
										}
										&.flycart-qty-change-right{
											background: url('@{base-url}plus.png') no-repeat 0 0 #999;
										}
										&:hover{
											&.flycart-qty-change-left,
											&.flycart-qty-change-right{
												background-color: @activeColor;
											}
										}
									}
									input{ margin: 0; border: none; height: 28px; min-width: 58px;
										border-right: 1px solid @borderColor;
										border-left: 1px solid @borderColor;
									}
								}
								.price{ color: @textff;
									 line-height: 100%; width: 100%; margin: 0 0 12px; display: inline-block;
								}
							}
						}
					}
					.summary{ float: left; width: 100%; margin-bottom: 8px;
						p{ margin: 0; width: 100%; 
							.label{ text-transform: uppercase; font-size: 100%; font-weight: normal;
								padding: 0; margin: 15px 0 0; display: inline-block; color: @text3;
							}
							.price{ float: right; font-size: 142.85%; margin-top: 6px; color: @text6; }						}
					}
					.actions{ float: left; width: 100%; text-align: center;
						.a-inner{  
							a{ color: #fff; text-transform: uppercase; font-size: 100%; position: relative;
								padding: 10px 14px 10px 37px; display: inline-block; background: @text3;
								&:hover{ text-decoration: underline; } 
								&.btn-mycart{ position: relative; z-index: 9; background: @activeColor;
									padding-left: 16px; padding-right: 6px; margin-right:-8px;
									&:before{ 
										border-color: @activeColor rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
									    border-style: solid;
									    border-width: 40px 40px 0 0;
									    content: "";
									    height: 0;
									    line-height: 0;
									    position: absolute;
									    right: -40px;
									    top: 0;
									    width: 0;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.box_header_03{
		.plr{ padding: 0; }
		.logo{
			float: left; margin: 25px 0;
		}
		.box-banner{ margin-top: 16px;
			a{ float: left; width: 100%; position: relative;
				img{ width: 100%; .border-radius(3px);}			
				-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
				-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
				box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
				.effect();
				.border-radius(3px);
				border: none;
			}
			.b1{ padding-right: 5px; }
			.b2{ padding-left: 5px; }
		}	
	}
	.box_header_04{ 
		background: @bgf9; border-top: 1px solid @borderColor; border-bottom: 1px solid @borderColor;
	}
}
/*===========================block01=====================================*/
.wrap01{ margin-top: 30px; }
.cms-home{	
	.wrap-slideshow{
		margin-top: 20px; position: relative; float: left; width: 100%; 
		.shadow1(); 
		&.slideshow1{ margin-top: 0; 
			.tp-rightarrow,.tp-leftarrow{
				&:before{ top: -8px; }
			}
		}
		.border-radius(7px);
		border-top: 1px solid @borderColor;
		border-left: 1px solid @borderColor;
	}
}
.cms-home,.cms-home02{
	.wrap-slideshow{
		.tp-rightarrow,.tp-leftarrow{
			&:before{font-size: 20px; left: 10px; top: 1px !important; }
		}
		.tp-rightarrow{
			&:before{ left: 13px !important; }
		}
	}
}
.cms-home02{
	.slide-wrap{ float: left; width: 100%; padding: 15px; margin-top: 20px;
		.border-radius(5px); .shadow1();
		border-top: 1px solid @borderColor;
		border-left: 1px solid @borderColor;
		.wrap-slideshow{
			margin-top: 0;
			position: relative; float: left; width: 100%; 
			li{ .border-radius(0px) !important; }
			.tp-leftarrow{ left: -32px !important; }
			.tp-rightarrow{ right: -32px !important; }		
		}
	}
}
.wrap-slideshow{
	
	li{ .border-radius(7px) !important; }
	
	.tp-rightarrow,.tp-leftarrow{
		background: #fff; z-index: 99 !important;
		width: 32px; height: 32px; border: 1px solid @borderColor; .border-radius(50%); .transition();
		&:before{ content: ""; font-family: "FontAwesome"; font-size: 30px; width: 100%; height: 100%;  position: absolute; top: -7px; left: 0; color: @text3; }
		&:hover{ cursor: pointer; background: @activeColor; border-color: @activeColor; .transition(); &:before{ color: #fff;} }
	}
	.tp-rightarrow{
		&:before{ content: "\f105"; left: 11px; }
	}
	.tp-leftarrow{
		&:before{ content: "\f104"; left: 7px;  }
	}
	//.tp-bannertimer{ margin-left: 5px; }
}
.block-cate-gua{ float: left; width: 100%; height: 360px; 
	.shadow1(); .border-radius(5px);
	border-top: 1px solid @borderColor; border-left: 1px solid @borderColor;
	.tab-item{ padding: 16px 0px; background: @bgf9; float: left; width: 100%; text-align: center;
		border-bottom: 1px solid @borderColor; .border-top-left-radius(5px);.border-top-right-radius(5px); 
		ul{ display: inline-block; margin-bottom: -4px;
			li{
				float: left;
				&:first-child{ margin-right: 1px; }
				a{ 
					float: left; position: relative; display: block !important;
					padding: 4px 17px;			
					.border-radius(17px);
					-moz-box-shadow: 0 -1px 0 #d9d9d9;
					-webkit-box-shadow: 0 -1px 0 #d9d9d9;
					box-shadow: 0 -1px 0 #d9d9d9;						
					background: url('@{base-url}bg-tab.png') repeat-x 0 -1px; 		
					color:@text3; font-weight: 600 !important; text-transform: uppercase;
					&:hover{						
						position: relative;
						color: #fff;							
						background: @activeColor;						
					}
				}
				&.active{
					a{
						position: relative;
						color: #fff;							
						background: @activeColor;	
					}
				}
			}
		}
	}
	.tab-content{
		.block-categories{
			.parent-categories{ display: none; }
			ul{float: left; width: 100%; margin-top: 12px;
				li{ float: left; width: 100%; 
					a{ display: block; color: @text3; position: relative;
						&:before{ content: "\f178"; font-family: "FontAwesome"; font-size: 14px; color: @activeColor; 
						position: absolute; top: 6px; left: 20px; z-index: 9;  }
						
						&:hover{ color: @activeColor; span{ color: @activeColor; } 
							&:before{ color: #fff; }
							&:after{ content: "";  position: absolute; top: 32px; left: -11px; 							
								width: 0; 
								height: 0; 
								border-top: 10px solid #000; 
								border-left: 10px solid transparent; 
							}
							.text{ background: @activeColor; color: #fff;
								&:before{ content: "";  position: absolute; top: 0px; right: -16px; 
								   width: 0;
								   height: 0;
								   border-left: 16px solid @activeColor;
								   border-top: 16px solid transparent;
								   border-bottom: 16px solid transparent;
								}
								&:after{ content: ""; width: 11px; height: 32px; position: absolute; top: 0px; left: -11px; 
									background: @activeColor;
								}
							}
						}
						span{ padding: 5px 0; }
						.text{ display: inline-block; position: relative; padding: 6px 15px 6px 50px; min-width: 175px; }
						.text1{ color: @text9; .size1(); float: right; margin-right: 20px;  padding: 7px 0;  }
					}
				}
			}
		}
		.block-guarantee{ 
			float: left; width: 100%;
			h3{	float: left; padding-left: 23px; font-size: 100%; line-height: 100%; margin: 15px 0 20px 0;
				span{  text-transform: uppercase;
					&.p1{ font-style: italic; color: @text3; }
					&.p2{ color: @activeColor; float: left; margin-top: 4px;
						font-weight: 600 !important;
					}
				}
			}
			ul{ float: left; width: 100%; 
				li{ float: left; width: 100%; 
					a{ display: block; padding:9px 0 9px 66px; position: relative; color: @text6;
						&:hover{ color: @activeColor; }
						&:before{ content: "\f046"; font-family: "FontAwesome"; font-size: 22px; color: @activeColor; 
						position: absolute; top: 5px; left: 31px;  }
					}
				}
			}
			.button{
				position: relative;  z-index: 9; border: 1px solid @borderColor;  
				padding: 1px;  min-height: 34px; background: #fff; float: left; line-height: 30px;
				padding-left: 40px; padding-right: 20px; margin: 0; margin-top: 15px; margin-left: 20px; color: @text6;
				.border-radius(17px); 
				&:hover{ color: @activeColor; }
				> span{ display: block;  
					&:before{ content: ""; width: 28px; height: 28px; background: @activeColor; .border-radius(50%); 
					position: absolute; top: 2px; left: 2px;
					}
					&:after{ content: "\f105"; position: absolute; top: 1px; left: 14px; 
						 font-family: "Fontawesome"; color: #fff; 
					}											
				}
			}
		}
	}
}
/*================================block 02===============================*/
.block-shop-features{ float: left; height: 396px; width: 100%; margin-top: 30px;
	.shadow1(); .border-radius(5px);
	border-top: 1px solid @borderColor; border-left: 1px solid @borderColor;
	.bock-title{ padding:8px 0 8px 85px; position: relative; border-bottom: 1px solid @borderColor; background: @bgf9;
		.border-top-left-radius(5px); .border-top-right-radius(5px);
		&:before{ content: ""; width: 50px; height: 50px; position: absolute; top: 5px; left: 20px; 
		background: url('@{base-url}edo.png') no-repeat -28px 7px;
		}
		h2{ line-height: 100%; margin: 0; text-transform: uppercase; color: @text3;
			&.p1{ .size2(); font-style: italic; }
			&.p2{ .size3(); font-weight: 600 !important; }
		}
	}
	.inner{ float: left; width: 100%; padding: 20px 20px;
		a{ float: left; width: 100%; position: relative; margin-bottom: 10px;
			&.last{ margin-bottom: 0; }
			img{ width: 100%; }						
			.effect();
		}
	}
}
.cms-home .category-products .block-offer .products-grid .item .inner{
	margin-bottom: 0;
}
.block-offer{
	float: left; height: 396px; width: 100%; .shadow1(); .border-radius(5px); margin-top: 30px;
	border-top: 1px solid @borderColor; border-left: 1px solid @borderColor;
	.block-title{ padding:8px 0 8px 85px; position: relative; border-bottom: 1px solid @borderColor; background: @bgf9;
		.border-top-left-radius(5px); .border-top-right-radius(5px);
		&:before{ content: ""; width: 50px; height: 50px; position: absolute; top: 8px; left: 20px; 
		background: url('@{base-url}edo.png') no-repeat -94px 0;
		}
		h2{ line-height: 100%; margin: 0; text-transform: uppercase; color: @text3;
			&.p1{ .size2(); font-style: italic;}
			&.p2{ .size3(); font-weight: 600 !important; }
		}
	}
	.navslider{ position: absolute; top: 20px; right: 20px;
		a{
			float: left; width: 20px; height: 20px; border: 1px solid @borderColor; position: relative; .border-radius(50%);
			text-indent: -9999em; background: #fff;
			&:before{ content: ""; text-indent: 0; color: @text3; font-family: "FontAwesome"; font-size: 14px; position: absolute; top: -1px; }
			&:hover{
				background: @activeColor; border-color: @activeColor;
				&:before{ color: #fff; }
			}
			&.prev{
				&:before{ content: "\f104"; left: 6px; }
			}
			&.next{
				&:before{ content: "\f105"; left: 7px; }
			}
		}
	}
	.slider-inner{ overflow: hidden; }
	.container-slider{  
		.products-grid{
			.item{ float: left; padding: 0px 20px; margin-top: 20px; border-right: 1px solid @borderColor; overflow: hidden;
				.wrap-new-sale{
					top: 20px; left: 20px;
				}
				.inner{ display: inline-block; margin-bottom: -4px;
					img{ width: 100%; }
				}
			}
		}
	}
}



.block-topseller{
	float: left; height: 396px; width: 100%; .shadow1(); .border-radius(5px);	
	border-top: 1px solid @borderColor; border-left: 1px solid @borderColor; margin-top: 30px;
	.block-title{ padding:8px 0 8px 85px; position: relative;  border-bottom: 1px solid @borderColor; background: @bgf9;
		.border-top-left-radius(5px); .border-top-right-radius(5px);
		&:before{ content: ""; width: 50px; height: 50px; position: absolute; top: 8px; left: 20px; 
		background: url('@{base-url}edo.png') no-repeat -154px 0;
		}
		h2{ line-height: 100%; margin: 0; text-transform: uppercase; color: @text3;
			&.p1{ .size2(); font-style: italic; }
			&.p2{ .size3(); font-weight: 600 !important; }
		}
	}
	.navslider{ position: absolute; top: 20px; right: 20px;
		a{
			float: left; width: 20px; height: 20px; border: 1px solid @borderColor; position: relative; .border-radius(50%);
			text-indent: -9999em;  background: #fff;
			&:before{ content: ""; text-indent: 0; color: @text3; font-family: "FontAwesome"; font-size: 14px; position: absolute; top: -1px; }
			&:hover{
				background: @activeColor; border-color: @activeColor;
				&:before{ color: #fff; }
			}
			&.prev{
				&:before{ content: "\f104"; left: 6px; }
			}
			&.next{
				&:before{ content: "\f105"; left: 7px; }
			}
		}
	}
	.products-grid .item{
		padding: 20px 20px 0 20px;
		.wrap-new-sale{ top: 20px; left: 20px; }
	}
}
.block-hot-deals{
	float: left; width: 100%; .shadow1(); .border-radius(5px);	
	border-top: 1px solid @borderColor; border-left: 1px solid @borderColor; margin-top: 30px;
	.block-title{ padding:8px 0 8px 85px; position: relative;  border-bottom: 1px solid @borderColor; background: @bgf9;
		.border-top-left-radius(5px); .border-top-right-radius(5px);
		&:before{ content: ""; width: 50px; height: 50px; position: absolute; top: 8px; left: 20px; 
		background: url('@{base-url}edo.png') no-repeat -216px 0;
		}
		h2{ line-height: 100%; margin: 0; text-transform: uppercase; color: @text3;
			&.p1{ .size2(); font-style: italic; }
			&.p2{ .size3(); font-weight: 600 !important;  }
		}
		.countdown-row{ position: absolute; top: 9px; right: 20px;
			&:before{ content: ""; position: absolute; top: 0; left: 0; float: left; width: 100%; height: 40px; background: url('@{base-url}bg-count-down.png') no-repeat top left; }
			.countdown-section{ float: left; width: 52px; height: 40px; background: @activeColor;
				span{ width: 100%; line-height: 100%; float: left; .size1(); margin-top: 2px; text-align: center; color: #fff;
					&.countdown-amount{ font-weight: 600 !important; margin-top: 8px; }
				}
			}
		}
	}
	.container-slider{
		position: relative;
		padding: 0 10px;
		.products-grid .item{ float: left; 
			.wrap-new-sale{ top: 20px; }
			 padding-top: 20px;
			 img{ width: 100%; }
		}
	}
	.navslider{ 
		a{
			float: left; width: 20px; height: 20px; border: 1px solid @borderColor; position: absolute; 
			text-indent: -9999em;  background: #fff; .border-radius(50%); top: 50%; margin-top: -10px; z-index: 9;
			&:before{ content: ""; text-indent: 0; color: @text3; font-family: "FontAwesome"; font-size: 14px; position: absolute; top: -1px; }
			&:hover{
				background: @activeColor; border-color: @activeColor; cursor: pointer;
				&:before{ color: #fff; }
			}
			&.prev{
				left: 0;
				&:before{ content: "\f104"; left: 6px; }
			}
			&.next{
				right: 0;
				&:before{ content: "\f105"; left: 7px; }
			}
		}
	}
}
.banner{
	float: left; width: 100%; position: relative; margin-top: 30px;		
	img{ width: 100%; 
		.border-radius(3px);
	}						
	.effect();
	.shadow1();
	border-top: 1px solid @borderColor;
	border-left: 1px solid @borderColor;
	.border-radius(3px);
}

.block-popular{
	.title{ position: relative; margin: 30px 0 0px 0; 
		&:before{ content: ""; width: 100%; height: 5px; border: 1px solid @borderColor; background: @bgf9; position: absolute; top: 14px; left: 0; }
		> span{ line-height: 100%; font-weight: 500 !important; color: @text3; padding-right: 32px;  background: #fff; text-transform: uppercase; .size2(); position: relative; font-weight: 600 !important; }
		.navslider{ position: absolute; top: 4px; right: 0px; background: #fff; padding-left: 30px;
			a{
				float: left; width: 20px; height: 20px; border: 1px solid @borderColor; position: relative; .border-radius(50%);
				text-indent: -9999em;  background: #fff;
				&:before{ content: ""; text-indent: 0; color: @text3; font-family: "FontAwesome"; font-size: 14px; position: absolute; top: 2px; }
				&:hover{
					background: @activeColor; border-color: @activeColor;
					&:before{ color: #fff; }
				}
				&.prev{ margin-right: 1px;
					&:before{ content: "\f104"; left: 6px; }
				}
				&.next{
					&:before{ content: "\f105"; left: 8px; }
				}
			}
		}
	}
	.wrap_item{
		.item{ float: left; 
			.wrap-img{ float: left; width: 100%; padding: 0 30px; margin-bottom: 23px; margin-top: 21px;
				.banner1{ /*.effect();*/ float: left; width: 100%; img{ width: 100%; } }
			}
			&.first-item{
				.inner{ border: none; }
			}	
			.inner{ float: left; width: 100%; padding: 0 30px;  border-left: 1px solid @borderColor;
				
				.parent-categories{					
					.p-title{
						text-transform: uppercase; color: @text3; font-weight: 500 !important;
						display: block; padding: 0 0 7px 0; line-height: 100%; 
						&:hover{ color: @activeColor; 

						}
					}
				}
				.sub-categories{
					li{
						a{
							position: relative;
							&:before{ content: "\f178"; font-family: "FontAwesome"; font-size: 14px; color: @activeColor; 
							position: absolute; top: 7px; left: 0px; z-index: 9;  }
							display: block; padding: 6px 0 6px 25px; color: @text6;
							&:hover{
								color: @activeColor;
							}
							span{
								display: none;
							}
						}
					}
				}
			}	

		}
	}
}
/*=========================================================footer==============================================================*/
.footer{
	.footer-top{
		float: left; width: 100%; margin-top: 30px; padding: 30px 0; background: @bgf9; 
		border-top: 1px solid @borderColor;
		border-bottom: 1px solid @borderColor;
		.block{ float: left; width: 100%; height: 200px; padding: 12px 20px 20px;  background: #fff; 
			.shadow1();
			border-top: 1px solid @borderColor;
			border-left: 1px solid @borderColor;
			.border-radius(5px);
			.block-title{ position: relative; padding-left: 66px !important;
				.block-title();
				&:before{ height: 45px; left: 0; }
				h2.p1{ font-size: 100%; }
				h2.p2{ .size2(); margin-top: 2px; font-weight: 600 !important;}
			}
			&.block-store{
				.block-title{
					&:before{ background: url('@{base-url}edo.png') no-repeat -285px 0; }
				}
			}
			&.block-mail{
				.block-title{
					&:before{ background: url('@{base-url}edo.png') no-repeat -355px 0; }
				}
			}
			&.block-banner-footer{
				.block-title{
					&:before{ background: url('@{base-url}edo.png') no-repeat 0 -49px; }
					margin-bottom: 22px;
				}
				.navslider{ position: absolute; top: 20px; right: 0px;
					a{
						float: left; width: 20px; height: 20px; border: 1px solid @borderColor; position: relative; .border-radius(50%);
						text-indent: -9999em;  background: #fff;
						&:before{ content: ""; text-indent: 0; color: @text3; font-family: "FontAwesome"; font-size: 14px; position: absolute; top: -1px; }
						&:hover{
							background: @activeColor; border-color: @activeColor;
							&:before{ color: #fff; }
						}
						&.prev{ margin-right: 1px;
							&:before{ content: "\f104"; left: 6px; }
						}
						&.next{
							&:before{ content: "\f105"; left: 7px; }
						}
					}
				}
				.wrap_item{
					.item{
						.effect();
						display: inline-block; 
						img{ width: 100%; }
					}
				}
			}
			.info{ color: @text6; .size1(); margin: 22px 0; }
			.input-box{ float: left; width: 100%; padding: 1px; border: 1px solid @borderColor; position: relative;
				.border-radius(17px);
				.button{ background: @activeColor; position: absolute; top: 1px; right: 1px; padding: 5px 20px 5px 15px;
					.border-radius(17px); 
					&:before{ content: "\f105"; font-family: "FontAwesome"; color: #fff; position: absolute; top: 5px; right: 10px;  }
					span{ text-transform: uppercase; color: #fff; }
					&:hover{
						background: @text3;
					}
				}
				input{ width: 100%; height: 30px; border: none; .border-radius(17px); margin: 0;
					padding: 6px 64px 5px 20px; color: @text9;
				 }
			}
		}
	}/*--------------------end footer-top------------------*/
	.footer-middle{	float: left; width: 100%;
		.col-lg-2{ padding: 0 !important; }
		.block{ padding: 15px; border-right: 1px solid @borderColor;  float: left; width: 100%;
			&.block-international{ border: none; }
			.block-title{ float: left; width: 100%; 
				span{ text-transform: uppercase; color: @text3; font-weight: 500 !important; padding: 10px 0; float: left; width: 100%; }
				.block-service{ padding-top: 6px; padding-bottom: 6px; }
			}
			ul{
				li{
					a{
						display: block; padding: 5px 0; .size1(); color: @text6;
						&:hover{ color: @activeColor; }
					}
				}
			}
			
			&.block-international{
				.block-title{ float: left; margin-bottom: 5px; }
				ul{
					li{
						a{ img{ float: left; margin-right: 7px; } padding: 10px 0; }
					}
				}
			}
		}
		.tmp{ float: left; width: 100%; height: 1px; padding: 0; 
			span{ text-indent: -9999em; float: left; width: 100%; background: @borderColor; height: 1px;  }
		}
	
		.block-social{ float: left; margin: 17px 0;
			li{ float: left; margin-right: 5px; 
				a{ float: left; width: 34px; height: 34px; border: 1px solid @borderColor; .border-radius(50%);  .transition(); position: relative; text-indent: -9999em;
					&:before{ content: ""; font-family: "Fontawesome"; text-indent: 0; width: 18px; height: 20px; font-size: 19px; color: #635d5d; position: absolute; top: 50%; left: 50%; margin-top: -13px; margin-left: -8px; }
					&:hover{ background: @activeColor; border-color: @activeColor; .transition();
						&:before{ color: #fff; }
					}
					&.s1{
						&:before{ content: "\f09a"; margin-left: -6px; }
					}
					&.s2{
						&:before{ content: "\f099"; }
					}
					&.s3{
						&:before{ content: "\f0d5"; }
					}
					&.s4{
						&:before{ content: "\f0d2"; }
					}
					&.s5{
						&:before{ content: "\f0e1"; }
					}
					&.s6{
						&:before{ content: "\f194"; }
					}
					&.s7{
						&:before{ content: "\f1a7"; }
					}
					&.s8{
						&:before{ content: "\f17e"; }
					}
				}
			}
		}
		.block-payment{ float: right; margin: 17px 0; padding-top: 2px;
			li{ float: left; margin-left: 20px; 
				&:first-child{ margin-left: 0; }
				a{ display: inline-block; }
			}
		}
	}
	.footer-bottom{ float: left; width: 100%; padding: 25px 0 35px;
		.col-left{ .size1(); line-height: 100%; color: @text6; a{ color: @text6; &:hover{ color: @activeColor; } } }
		.col-right{ text-align: right; .size1(); line-height: 100%;
			span{ font-size: 116.66%; font-weight: 700 !important; color: @text6; margin-left: 5px; }
		}
	}
	#vt-totop{ position: fixed;  bottom: 152px; right: 10px;  width: 30px; height: 30px; background: @activeColor; z-index: 99;
		&:before{ content: "\f062"; font-family: "FontAwesome"; position: absolute; top: 5px; left: 9px; color: #fff; }
		span{ display: none; }
	}

}
/*-- Block in content ---*/
.col1-layout{
	.block-layered-nav{
		.block-title{ display: none; }
	}
	// Shop by
	.block-layered-nav{				
		
		#narrow-by-list{
			float: left; width: 100%; .border-radius(5px); background: @bgf9;
			.shadow1(); border-top: 1px solid @borderColor; border-left: 1px solid @borderColor;
			dt{ float: left; width: 16% !important; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; padding-left: 20px; padding-right: 20px; min-height: 40px; line-height: 40px;   text-transform: uppercase; 
				font-weight: 500 !important;  color: @text3;  clear: both;
				&.first,&#first{ padding-top: 10px; }
				//&.last{ padding-bottom: 15px; }
			}
			dd{ float: left; width: 84%; min-height: 40px; background: #fff; border-left: 1px solid @borderColor;
				&.first,&#first{ padding-top: 12px; .border-top-right-radius(5px); }
				&.last{ padding-bottom: 15px; }
				&.currently{ padding-left: 0; padding-bottom: 0;		
					ol{ 
						li{
							&:first-child{ margin-left: 0; }
							.label{ color: #666; font-size: 100%; padding: 0; margin-bottom: 10px; text-transform: uppercase; float: left; 
								width: 100%; text-align: left; font-weight: 600 !important;
							}
							.wrap{ float: left; width: 100%; padding-left: 20px;
								span.value{						
								    float: left; 	   
								   	font-size: 100%;			
								   	color: @text6;			   
								}
								.btn-remove{
									float: left; text-indent: -9999em;											
									width: 23px; height: 23px;
									position: relative;
									&:before{
										content: "";
										position: absolute;
										top: 2px; left: 7px;
										text-indent: 0;
										width: 15px; height: 15px;
										background: url('@{base-url}gen_i_remove.png') no-repeat;
									}
								}
							}
						}
					}
					.actions{
						float: left; width: 100%; 
						a{ display: inline-block;  padding-left: 20px; font-weight: 600 !important;  text-transform: capitalize; font-size: 100%; 
							&:hover{ color: @activeColor; }
						}
					}
				}
				&.block-color{ padding-left: 20px;
					ol{ 
						li{ float: left; margin:0  0  0 10px;
							&:first-child{ margin-left: 0; margin-right: 0;  }
							a{
								float: left;
								&:before{ display: none; }
								&.icolor{
									width: 36px; height: 16px; 
									text-indent: -9999em;
									position: relative;
									border: 1px solid #eaeaea;
									padding: 1px; margin: 7px 10px 0 0; 
									&:hover{
										&:after{
											content: ""; width: 10px; height: 10px; position: absolute; top: -7px; left: 15px;
											background: url('@{base-url}edo.png') no-repeat -196px -73px;
										}
									}
								}
								&.text{
									float: left;
								}
								.swatch-label{ float: left; position: relative; 
									border: 1px solid #eaeaea;
									padding: 1px;
									background: #fff;
									width: auto !important; height: auto !important;
									img{ float: left;  }
									&:hover{
										&:after{
											content: ""; width: 10px; height: 10px; position: absolute; top: -7px; left: 17px;
											background: url('@{base-url}edo.png') no-repeat -196px -73px;
										}
									}
								}
								.count{ display: none;}
							}
							
						}
					}
					

				}
				
				&.block-size{ padding-left: 20px;
					ol{
						li{ float: left; margin: 0 5px; 
							&:first-child{ margin-left: 0; margin-right: 5px; }
							a{ float: left;
								&:before{ display: none; }
								.swatch-label{ 
									width: 40px; height: 20px; float: left; text-align: center;
									line-height: 20px; border: 1px solid @borderColor;
									&:hover{
										border-color: @activeColor;
									}
								}
								.count{ display:  none; }
							}

						}
					}
				}
				
				ol{
					li{ float: left; margin: 0 19px; padding: 9px 0; 
						&:first-child{ margin: 0 19px 0 16px; }
						> a{  float: left; }
						span{ color: @text6; }
						&:hover{
							span{ color: @activeColor; }
						}
						.count{ display: none; }
					}
				}
				.price{ position: relative; z-index: 1; float: left; width: 100%; margin-top: 5px; padding-left: 24px;
					.text-box{  position: relative; float: left; min-width: 300px; margin: 0 0 0 30px;			
						.price-from{
							#minPrice{  }
						}
						.price-to{ margin-left: 10px; 
							input{  margin: 0 0 0 10px!important; }
						}
						> *{ float: left; }
						.price-separator{width: 5px; position: relative; text-indent: -999em; margin: 0 10px;
							&:before{height: 1px; width: 100%; top: 14px; left: 0px;
								position: absolute;content: "";
							}
						}
						input{  margin: 0 0 0 5px!important;
							border: 1px solid @borderColor; width: 58px; text-align: center; background: #fff;
							height: 30px; line-height: 30px; .border-radius(0px); padding: 0 5px;
							&:focus{ border-color: #999; }
							color: #666; .border-radius(17px);
						}
						.go{ position: relative;
							color: #fff; text-transform: uppercase;
							background: @activeColor;			
							text-align: center;
							height: 30px;	
							line-height: 30px;
							padding: 0 20px; 
							float: left; 
							margin-left: 10px;
							.border-radius(17px); 
							&:hover{
								background: @text3;
							}
						}
					}
					p{
						input#amount{.box-shadow(none); margin: 0 0;
							&:focus{.box-shadow(none);}
						}
					}
					.range-wrap{  float: left; width: 256px; position: relative; margin-top: 16px;
						#slider-range{ border:none; .border-radius(0);
							background:@activeColor; height: 1px; 
							.ui-slider-range{ height: 1px; position: absolute;
								top: 0px; background: @borderColor; 
							}
							.ui-slider-handle{ height: 10px; width: 10px;  position: absolute;
								background: @text6; .border-radius(50%);
								top: -5px; margin-left: -8px;
								&:hover{ background: @activeColor; }								
							}
						}
					}
				}
			}
		}	
	}
}
.block{ 	
		
	&.block-reorder{
		float: left; width: 100%;
	}
	&.block-account{
		ul{list-style: none;margin: 0; border: 1px solid #ccc; border-top: none;
			li{	margin: 3px 0; .transition(all 0.2s ease-out);
				line-height: 30px; border-top: 1px solid #ccc;
				padding-left: 20px;
				strong{color: @activeColor;}
				&:hover{padding-left: 30px;}
			}

		}
	}
	&.block-reorder{
		ol{list-style: none; margin:0 0;
			li input{float: left; margin: 0 8px 0 0}
		}
		.actions{margin: 10px 0 0;
			.btn-cart{margin-right: 10px;}
		}
	}
	&.block-progress{
		dl{ margin: 0 0;
			> div,
			> dt{margin: 0 0; padding: 8px 0; border-top: 1px solid #d4d4d4;
				&:first-child{border-top: none;}
			}
		}
	}
	
}		



/*---------product-shop--------------*/
#product-shop,.product-shop{
	.btn-group{ margin-left: 0 !important; }
	.group-pro{ margin-left: 82px !important; }
	#super-product-table { 
		margin-bottom: 10px; margin-top: 30px;
		td{
			line-height: 30px;
			.price-box{
				.old-price{
					&:before{ margin-top: 0; }
					.price{ margin-right: 0; }
				}
			}
			.price-box .price{ font-size: 128.57% !important; }
			input.input-text{ margin: 0; width: 40px; text-align: center; }
		}
	}
	.required em{ color: #f00; margin-right: 2px;}
	#downloadable-links-list .s-input{ float: left; }
	#downloadable-links-list  .s-label{ float: left; line-height: 25px; margin-left: 10px;}
}


#confirmbox {
	.btn-cart:hover{
		background: @activeColor !important;
	}
	dl{
		dt{
			float: left; margin-right: 10px;
			min-width: 54px;
		}
		.group-item{
			float: left; width: 100%; margin: 5px 0;
		}
	}
	.input-box{
		.options-list{
			> li{ float: left; position: relative; width: 26px; height: 26px; margin-right: 5px;
				border: 1px solid #eaeaea; .border-radius(3px);
				input.radio{ width: 26px; height: 26px; .opacity(0); margin: 0;}
				&:first-child{
					span{ label{ font-size: 9px; font-weight: normal; }}
				}
				&:hover{ background: #828282; border: transparent;
					label{ color: #fff; }
				}
				&.selected{ background: #828282; border: transparent;
					label{ color: #fff; }
				}
				span.label{ position: absolute; top: 0; left: 0; font-size: 100%;
					line-height: 23px; padding: 0; text-align: center; display: inline-block; width: 100%;
				}
				.price-notice{ display: none;}
			}
		}
	}
	.option-color{
		.input-box{
			li{ border: transparent; position: relative;
				&:first-child{ border: 1px solid #eaeaea; 
					span.label{ /*display: block!important;*/ }
					span{ label{ font-size: 9px; font-weight: normal; }}
					&:hover{ border: transparent !important;}
				}
				span.label{ display: none !important;  }
				&:before{ content: ""; width: 9px; height: 9px; position: absolute; top: 8px; left: 8px;
					background: url('@{base-url}gen_icon_del_shopby.png') no-repeat 0 0; display: none;
				}
				&.selected{
					&:first-child{ border: transparent;
						&:before{ display: none;}
						
					}
					&:before{ display: block;}
				}
			}
		}
	}
}
/*--- Theme Style ----------------------------------*/
/*---box-header-01---*/
#box-wrapper{ overflow: hidden; }


.box-header-mobile-01{ display: none; height: 30px; line-height: 30px; 
	border: 1px solid #e9e9e9; border-top: none;
	.wrap-link{ float: left; position: relative;
		.btn-account{ width: 40px; height: 30px; padding: 0; float: left; background: none; text-indent: -9999em; position: relative;
			&:before{ content: "\f007"; font-family: "FontAwesome"; font-size: 12px; color: #666 !important;
			position: absolute; top: -1px; left: 12px; width: 15px; height: 15px; text-indent: 0; }
		}
		ul.links{ position: absolute; left: -1px; font-size: 12px; top: 30px; border: 1px solid #e9e9e9; border-top: none;
			float: left; min-width: 100px; background: #fff; z-index: 9999;
			padding: 10px;
			li{ line-height: 25px; width: 100%; float: left; }
		}
	}
	.btn-addtocart{ border-left: 1px solid #e9e9e9; border-right: 1px solid #e9e9e9;
		width: 40px; height: 30px; float: left; padding: 0;  background: none; 
	}
	.wrap-block-cl{ float: right; 
		.block{ float: left; padding: 0 10px; border-left: 1px solid #e9e9e9; font-size: 12px; position: relative;
			img{ display: none; }
			&.block-currency{ 
				span{ display: none; }
			}
			ul{ position: absolute; background: #fff; padding: 10px; left: -1px; border: 1px solid #e9e9e9;
				float: left; width: 100%;
				border-top: none; z-index: 9994;
				li{ line-height: 20px; 
					a.selected{ color: @activeColor; }
				}
			}
		}
	}
}

.wrap-block-cl(){ 
	float: right; 
	.block{ float: right; margin: 0;  position: relative; padding: 0 27px 0 15px; border-left: 1px solid @borderColor;
		img{ position: absolute; top: 0; margin-top: 11px; left: 0;  }
		span{ display: inline-block; }
		> div{  line-height: 32px; position: relative; text-transform: capitalize;
			img{ margin-top: 11px; top: 0; }
			&:after{  content: "\f107"; font-family: "FontAwesome"; width: 10px; height: 10px; 
					 top: 2px; right: -16px;  position: absolute; z-index: 9994; }
		}
		> ul{ position: absolute; right: 100px; top: 32px; 
			background: #fafafa; border-top: 1px solid @borderColor;
			
			
			-webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
			-moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
			box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
			
			 .opacity(0); visibility: hidden; padding: 10px 20px; z-index: 9994;
			li{ 
				a{ position: relative; white-space: nowrap; 
					&.selected{ color: @activeColor; }
					&:hover{ color: @activeColor; }
				}
			}
		}
		&:hover{ cursor: pointer;
			> ul{ margin-top: 0; .opacity(100); visibility: visible; right: 0; .transition(all 0.2s ease-out 0s); }
			
		}
		&.block-language{
			> div{ padding-left: 20px; }
			> ul{
				li{
					a{  padding-left: 20px; }
				}
			}
		}
		&.block-currency{
			> div{ span{ font-weight: 600 !important; }}
		}
	}
	
}

/* ----- confirm cart ----------*/
#flycart_confirm_window{
	border: 5px solid rgba(255, 255, 255, 0.1);
	.inner{ padding: 20px;
		background: #fbfbfb;
		.flycart_msg_title{ position: relative;
			color: #858785; font-size: 14px; margin: 60px 0 45px; 
			&:before{ content: "\f0a1"; font-family: "FontAwesome"; font-size: 30px; position: absolute; top: -45px; 
			left: 50%; width: 35px; height: 32px;  color: #858785;}
		}
		/* Buttons */
		button.flycart_msg_bnt::-moz-focus-inner,#flycart_configurable_add_to_cart button.btn-cart{ 
			padding:0; border:0; 
		} /* FF Fix */
		button.flycart_msg_bnt,
		#flycart_configurable_add_to_cart button.btn-cart{ -webkit-border-fit:lines; } 
		button.flycart_msg_bnt,
		#flycart_configurable_add_to_cart button.btn-cart{
			overflow:visible; width:auto; border:0; padding:0; margin:0; cursor:pointer;
			background: #858785; padding: 6px 15px; .border-radius(0);
		}

		button.flycart_msg_bnt span,#flycart_configurable_add_to_cart button.btn-cart span{ 
			display:block;  border:0; font-size: 14px; 
			text-align:center;color:#fbfbfb; 
		}
		button.flycart_msg_bnt_ptc{
			background: #fe983d; margin-left: 5px;
		}
		button.flycart_msg_bnt span span,
		#flycart_configurable_add_to_cart button.btn-cart span span{ 
			
		}
		.flycart_confirm_window_actions{ margin-bottom: 35px; }
	}
}

/* ----------breadcrumbs-----------*/
.catalog-category-view .col2-left-layout{
	.breadcrumbs{ padding: 0 15px; }
}
.breadcrumbs{ float: left; width: 100%; 
	ul{ .border-radius(5px); float: left; width: 100%;
		border-top: 1px solid @borderColor; border-left: 1px solid @borderColor; 
	.border-radius(5px); .shadow1(); margin-top: 20px; margin-bottom: 30px;
		li{	float: left; line-height: 100%; 
			&.home{
				a{
					text-indent: -9999em; position: relative; min-width: 36px;
					&:before{ content: '\f015'; font-family: "FontAwesome"; font-size: 16px; color: @text6; 
					position: absolute; top: 12px; left: 16px; text-indent: 0; }
				}
			}
			a{  .size1(); float: left; line-height: 100%; padding: 12px 0; color: @text6; text-transform: capitalize; 
				&:hover{ color: @activeColor; &:before{ color: @activeColor; } }
			}
			> span{ position: relative; float: left; width: 30px; text-indent: -9999em; height: 100%;
				background: url('@{base-url}bg-breadcrumbs.png') no-repeat 0 0;	padding: 12px 5px;	
			}
			> strong{ font-weight: normal; .size1(); color: @text6; padding: 12px 5px; text-transform: capitalize; float: left; line-height: 100%;  }
		}
	}
}

#box-left{
	.block{
		.block-title{ font-size: 128.57%;  padding-left: 20px;
			background: @activeColor; color: #fff; line-height: 40px;
		}
		float: left; width: 100%; 
	}
	.block-cate{
		.block-content{ margin-top: 15px;
			li{ margin-top: 10px;
				a{ font-size: 100%; line-height: 25px; 
					img{ float: left; margin-right: 20px; margin-top: 6px; }
					span{ color: @activeColor; }
				}
			}
		}
	}
	.block-cart{ float: left;
		.block-title{
			a{ color: @activeColor; font-weight: 600 !important; }
		}
		.block-content{ float: left;
			.inner{ background: #fff; float: left; width: 100%; 
				.block-subtitle{
					text-transform: uppercase; font-size: 100%;
				} 
				#cart-sidebar{
					li{	padding: 15px 0 25px 30px; border-bottom: 1px solid @borderColor; position: relative;
						.btn-remove{ position: absolute; top: 18px; font-size: 14px; left: 0; width: 15px; height: 15px; text-indent: -9999em;
							&:before{ content: "\f014"; font-family: "FontAwesome"; position: absolute; top: 0; left: 0;
							text-indent: 0;
							}
						}
						.btn-edit{	position: absolute; top: 42px; font-size: 14px; left: 0; width: 15px; height: 15px; text-indent: -9999em;
							&:before{ content: "\f040"; font-family: "FontAwesome"; position: absolute; top: 0; left: 0;
							text-indent: 0;
							}
						}
						.product-image{ float: left; margin-right: 18px; overflow: hidden;
							&:hover{
								img{ .opacity(80); .scale(1.2); .transition(all 0.3s ease-out 0s); }
							}
						}
						.product-name{ font-size: 100%; 
							a{ display: inline-block; width: 150px; overflow: hidden;
							text-overflow: ellipsis; white-space: nowrap; }
						}
						.product-details{
							> strong{ float: left; min-width: 98px; border: 1px solid @borderColor;
								a{ float: left; min-width: 19px; min-height: 28px; float: left; margin: 0; 
									&.flycart-qty-change-left{
										background: url('@{base-url}minus.png') no-repeat 0 0 #999;
									}
									&.flycart-qty-change-right{
										background: url('@{base-url}plus.png') no-repeat 0 0 #999;
									}
									&:hover{
										&.flycart-qty-change-left,
										&.flycart-qty-change-right{
											background-color: @activeColor;
										}
									}
								}
								input{ margin: 0; border: none; height: 28px; min-width: 58px;
									border-right: 1px solid @borderColor;
									border-left: 1px solid @borderColor;
								}
							}
							.price{
								font-size: 128.57%; line-height: 100%; margin: 0 0 15px; display: inline-block;
							}
						}
					}
				}
				.summary{ float: left; width: 100%; margin-bottom: 12px;
					p{ margin: 0; width: 100%; 
						.label{ text-transform: uppercase; font-size: 100%; font-weight: normal;
							padding: 0; margin: 15px 0 0; display: inline-block; 
						}
						.price{ float: right; font-size: 214.28%; }
					}
				}
				.actions{ float: left; width: 100%; text-align: center;
					.a-inner{ display: inline-block; background: #353535;
						a{ color: #fff; text-transform: uppercase; font-size: 100%; position: relative;
							padding: 10px 36px 10px 37px; display: inline-block; 
							&:hover{ text-decoration: underline; } 
							&.btn-mycart{ position: relative; z-index: 9; background: @activeColor;
								padding-left: 32px; padding-right: 0;
								&:before{ 
									border-color: @activeColor rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
								    border-style: solid;
								    border-width: 40px 40px 0 0;
								    content: "";
								    height: 0;
								    line-height: 0;
								    position: absolute;
								    right: -40px;
								    top: 0;
								    width: 0;
								}
							}
						}
					}
				}
			}
		}
		.box-right{
			.amount{ margin: 0; }
		}
	}
	.block-blog{		
		.menu-recent{
			margin-bottom: 30px;
		}
		.block-content{ margin-top: 0; 
			.block-title{
				strong{ background: none !important; padding: 0 !important; }
			}
			ul{  padding: 15px; border: 1px solid @borderColor; 
				li{ line-height: 22px; padding-left: 20px; position: relative; margin-top: 5px;
					&:before{						
					    content: "\f105";
					    font-family: "FontAwesome";
					    font-size: 14px;
					    left: 5px;
					    position: absolute;
					    top: 0;
					}
					&:hover{ cursor: pointer;
						&:before{ color: @activeColor;	}
						a{ color: @activeColor; }
					}
				}
			}
		}
	}
}


#messages_product_view{ float: left; width: 100%; }
#flycart_configurable_add_to_cart{
	background: #fff;
	border-color: #ccc;
	#product-options-wrapper{ margin-bottom: 0 !important; padding-bottom: 0!important; 
		dl{ margin-bottom: 0 !important; }
	}
	.product-options-bottom{ float: left; width: 100%; 
		.price-box{ padding: 0; width: auto; }
		.add-to-cart{ 
			input{ width: 60px !important; text-align: center; margin: 0 !important; padding: 0 !important;}
			.button{ margin-left: 10px; 
				font-size: 116.66%; padding: 6px 10px; &:hover{ background: @activeColor; }
			}
		}
	}
	#super-product-table{
		margin-top: 10px;
		th{	background: none !important; border-right: 1px solid #ccc;
		}
		td{ background: #fff; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc;}
		input{ text-align: center; }
		.price-box{ 
			.price{ background: none; padding: 0; color: #666;
				&:before{ display: none; }
			}
		}
	}
	#downloadable-links-list{
		input{ float: left; margin: 0; }
		.label{ float: left; margin-left: 10px !important; }
	}
}
#fancybox-loading{
	width: 252px; height: 282px;
	margin-left: -126px !important;
	margin-top: -100px !important;
	.opacity(100) !important;
	background: url('@{base-url}loading_1.gif') no-repeat 0 0 !important;
	span,div{ background: none !important;}
}

.category-title{
	margin: -4px 0 18px; float: left; width: 100%;
	h1{ .size3(); font-weight: 600 !important; text-transform: uppercase; margin: 0; }
}
.block-banner-category{  float: left; width: 100%; margin-bottom: 30px; 
	.inner{	position: relative;
	float: left; width: 100%; padding: 10px; .shadow1();
	border-top: 1px solid @borderColor;
	border-left: 1px solid @borderColor;
	.border-radius(5px);
	}
	.item{ .border-radius(5px);
		img{ width: 100%; .border-radius(5px); }
	}
	.navslider{ 
		a{
			float: left; width: 20px; height: 20px; border: 1px solid @borderColor; position: absolute; 
			text-indent: -9999em;  background: #fff; .border-radius(50%); top: 50%; margin-top: -10px;
			&:before{ content: ""; text-indent: 0; color: @text3; font-family: "FontAwesome"; font-size: 14px; position: absolute; top: -1px; }
			&:hover{
				background: @activeColor; border-color: @activeColor;
				&:before{ color: #fff; }
			}
			&.prev{
				left: 0;
				&:before{ content: "\f104"; left: 6px; }
			}
			&.next{
				right: 0;
				&:before{ content: "\f105"; left: 7px; }
			}
		}
	}
}
.col-left{
	.block-title{ padding: 16px 0; background: @bgf9; border-bottom: 1px solid @borderColor;
		.border-top-left-radius(5px);
		.border-top-right-radius(5px);
		strong{ 
			span{ text-transform: uppercase; font-weight: 600 !important; margin-left: 20px }
		}
	}
	.block-topseller { margin-top: 0;
		.block-title{ padding: 8px 0 8px 85px !important; }
	}
	.block{
		float: left; width: 100%;
		.shadow1();
		border-top: 1px solid @borderColor;
		border-left: 1px solid @borderColor;
		.border-radius(5px);
		margin-bottom: 30px;
	}
	.block-categories{ 		
		a{
			&:hover{ color: @activeColor; }
		}
		.inner{
			float: left; width: 100%; padding: 10px 0 15px;
		}
		.parent-categories{ float: left; width:  100%; padding: 6px 20px; position: relative;
			a{ float: left; width: 100%;  font-weight: 600 !important; text-transform: capitalize; }
			span{ float: right; text-indent: -9999em; position: absolute; width: 30px; height: 30px; top: -1px; right: 15px;
				&:before{ content: ""; width: 15px; height: 15px; position: absolute; top: 0; left: 0; }
				&.open{					
					&:before{ height: 5px; top: 15px; left: 15px; background: url('@{base-url}edo.png') no-repeat -325px -77px; }
					&:hover{ cursor: pointer;
						&:before{ height: 5px; top: 15px; left: 15px; background: url('@{base-url}edo.png') no-repeat -325px -67px; }
					}
				}
				&.close{ .opacity(100); 
					&:before{ top: 10px; left: 16px; background: url('@{base-url}edo.png') no-repeat -352px -66px; }
					&:hover{ cursor: pointer;
						&:before{ background: url('@{base-url}edo.png') no-repeat -375px -66px; }
					}
				}
			}
		}
		ul{float: left; width: 100%; padding-left: 45px;
			li{ float: left; width: 100%; 
				a{ display: block; color: @text3; position: relative; padding: 6px 0;
					&:before{ content: "\f178"; font-family: "FontAwesome"; font-size: 14px; color: @activeColor; 
					position: absolute; top: 6px; left: -25px; z-index: 9;  }				
				}
			}
		}
	}
	// Shop by
	.block-layered-nav{
		.block-title{ border-bottom: none; }
		.block-content{ float: left; width: 100%; }			
		
		#narrow-by-list{
			float: left; width: 100%; margin-bottom: 0;	


			dt{ float: left; width: 100%; padding: 15px 0 8px 20px;  border-top: 1px solid @borderColor;
				text-transform: capitalize; font-weight: 600 !important; color: @text6;
				&.first{ border: none; }
			}
			dd{ float: left; width: 100%; 	padding-left: 45px; padding-bottom: 15px;						
				ol{
					li{ color: @text6;
						> a{ padding: 5px 0; display: inline-block; position: relative;
							&:before{ content: ""; position: absolute; left: -25px; top: 8px; width: 15px; height: 15px; 
							border: 1px solid #eaeaea;
							}
							&:hover{
								&:before{ content: "x"; background: @activeColor; line-height: 10px; padding-left: 3px; color: #fff; 
								border-color: @activeColor;
								}
							}
						}
					}
				}
				&.currently{ padding-left: 0; padding-bottom: 0;		
					ol{ 
						li{

							.label{ color: #666; font-size: 100%; padding: 0; margin-bottom: 10px; text-transform: uppercase; float: left; 
								width: 100%; text-align: left; font-weight: 600 !important;
							}
							.wrap{ float: left; width: 100%; padding-left: 20px;
								span.value{						
								    float: left; 	   
								   	font-size: 100%;			
								   	color: @text6;			   
								}
								.btn-remove{
									float: left; text-indent: -9999em;											
									width: 23px; height: 23px;
									position: relative;
									&:before{
										content: "";
										position: absolute;
										top: 2px; left: 7px;
										text-indent: 0;
										width: 15px; height: 15px;
										background: url('@{base-url}gen_i_remove.png') no-repeat;
									}
								}
							}
						}
					}
					.actions{
						float: left; width: 100%; margin: 10px 0;
						a{ display: inline-block; line-height: 30px; padding-left: 20px; font-weight: 600 !important;  text-transform: capitalize; font-size: 100%; 
							&:hover{ color: @activeColor; }
						}
					}
				}
				&.block-price{
					padding: 0 20px;
				}
				&.block-color{ padding-left: 20px;
					ol{ 
						li{ float: left; margin-left: 10px;
							a{
								float: left;
								&:before{ display: none; }
								&.icolor{
									width: 36px; height: 16px; 
									text-indent: -9999em;
									position: relative;
									border: 1px solid #eaeaea;
									padding: 1px; margin: 7px 10px 0 0; 
									&:hover{
										&:after{
											content: ""; width: 10px; height: 10px; position: absolute; top: -7px; left: 15px;
											background: url('@{base-url}edo.png') no-repeat -196px -73px;
										}
									}
								}
								&.text{
									float: left;
								}
								.swatch-label{ float: left; position: relative;
									border: 1px solid #eaeaea;
									padding: 1px;
									background: #fff;
									width: auto !important; height: auto !important;
									img{ float: left;  }
									&:hover{
										&:after{
											content: ""; width: 10px; height: 10px; position: absolute; top: -7px; left: 17px;
											background: url('@{base-url}edo.png') no-repeat -196px -73px;
										}
									}
								}
								.count{ display: none;}
							}
						}
					}
					

				}
				
				&.block-size{ padding-left: 20px;
					ol{
						li{ float: left; margin-left: 10px;
							a{ float: left;
								&:before{ display: none; }
								.swatch-label{
									width: 40px; height: 20px; float: left; text-align: center;
									line-height: 18px; border: 1px solid @borderColor;
									&:hover{
										border-color: @activeColor;
									}
								}
								.count{ display: none;}
							}
						}
					}
				}
				.price{ position: relative; z-index: 1; float: left; width: 100%; margin-top: 5px;
					.text-box{  position: relative; float: left; width: 100%; margin: 20px 0;		
						.price-from{
							#minPrice{  }
						}
						.price-to{ margin-left: 10px; 
							input{  margin: 0 0 0 10px!important; }
						}
						> *{ float: left; }
						.price-separator{width: 5px; position: relative; text-indent: -999em; margin: 0 10px;
							&:before{height: 1px; width: 100%; top: 14px; left: 0px;
								position: absolute;content: "";
							}
						}
						input{  margin: 0 0 0 5px!important;
							border: 1px solid @borderColor; width: 56px; text-align: center; background: #fff;
							height: 30px; line-height: 30px; .border-radius(0px); padding: 0 5px;
							&:focus{ border-color: #999; }
							color: #666; .border-radius(17px);
						}
						.go{ position: relative;
							color: #fff; text-transform: uppercase;
							background: @activeColor;			
							text-align: center;
							height: 30px;	
							line-height: 30px;
							padding: 0 20px 0 15px; 
							float: left; 
							margin-left: 10px;
							.border-radius(17px); 
							&:before {
							    color: #fff;
							    content: "\f105";
							    font-family: "FontAwesome";
							    position: absolute;
							    right: 10px;
							    top: 0;
							}
							&:hover{
								background: @text3;
							}
						}
					}
					p{
						input#amount{.box-shadow(none); margin: 0 0;
							&:focus{.box-shadow(none);}
						}
					}
					.range-wrap{  float: left; width: 205px; position: relative; margin: 8px 0 0 10px;
						#slider-range{ border:none; .border-radius(0);
							background:@activeColor; height: 1px; 
							.ui-slider-range{ height: 1px; position: absolute;
								top: 0px; background: @borderColor; 
							}
							.ui-slider-handle{ height: 10px; width: 10px;  position: absolute;
								background: @text6; .border-radius(50%);
								top: -5px; margin-left: -8px;
								&:hover{ background: @activeColor; }								
							}
						}
					}
				}
			}
		}	
	}
	.block-special{ margin-bottom: 0;
		.block-title{ position: relative;
			.navslider{ position: absolute; top: 20px; right: 20px;
				a{
					float: left; width: 20px; height: 20px; border: 1px solid @borderColor; position: relative; .border-radius(50%);
					text-indent: -9999em;  background: #fff;
					&:before{ content: ""; text-indent: 0; color: @text3; font-family: "FontAwesome"; font-size: 14px; position: absolute; top: -1px; }
					&:hover{
						background: @activeColor; border-color: @activeColor;
						&:before{ color: #fff; }
					}
					&.prev{
						&:before{ content: "\f104"; left: 6px; }
					}
					&.next{
						&:before{ content: "\f105"; left: 7px; }
					}
				}
			}
		}
		.slider-inner{
			.container-slider{ float: left; width: 100%; padding: 0 20px 20px 20px; 
				.wrap-item{ float: left; width: 100%;
					.item{ float: left; width: 100%; margin-top: 20px;
						.item-image{ float: left; 
							a{ float: left; border: 1px solid #eaeaea; margin-right: 15px;
								img{ width: 100%; }
								&:hover{
									border-color: @activeColor;
								}
							}
							.vt_quickview_handler{ display: none; }
						}
						.product-info{
							float: left; width: 106px;
							.product-name{ line-height: 24px; margin: -5px 0 5px 0; }
							.price-box{
								.special-price{ margin-right: 18px; }
								.old-price{ margin-left: 0; }
							}
						}
					}
				}
				> p{ border-top: 1px solid @borderColor; margin-top: 20px; float: left; width: 100%; 
					.button-style();
				}
			}
			
		}
	}
}
.category-about-us{
	.page-title{ display: none; }
}
.wrap-about{ float: left; width: 100%; 
	.wrap-header-specials{
		> h1{ float: left; width: 100%; margin: 0; font-size: 214.28%; text-transform: uppercase;
			margin: 10px 0 16px 0; line-height: 100%;  font-weight: 500 !important; 
		}
		> p{ margin: 0; 
		
		}
	}
	.box-1{ float: left; width: 100%; padding: 20px 0;
		.item{ float: left; width: 33.3333%; 
			> a{ display: block; 
				&.title{ margin: 22px 0 10px; text-transform: uppercase; font-weight: 500 !important;
					color: @text3;
					&:hover{ color:@activeColor; }
				}
			}
			
		}
	}
	.box-2{ float: left; width: 100%; padding: 0px 0 40px;		
		h2{ font-size: 128.57%; text-transform: uppercase; font-weight: 500 !important;
			span{ color: @activeColor; }
		}
	}
	.box-3{ float: left; width: 100%; margin-top: 30px;
		#accordion{ float: left; width: 50%; 
			.panel{ border-top: 1px solid #ccc; background: none; margin-top: 0;
				.border-radius(0);
				-moz-box-shadow:none;
				-webkit-box-shadow:none;
				box-shadow:none;
				.panel-title{ font-weight: normal !important;  font-size: 114.28%;
					margin: 0; line-height: 38px; text-transform: uppercase;
					a{ font-size: 100%; display: block; position: relative; 
						&:before{content: ""; width: 15px; height: 15px; position: absolute; right: 0; top: 14px; }
					}
					
				}
				.accordion-close{
					a{
						&:before{ 
							background: url('@{base-url}plus-minus.png') no-repeat 0 0;
						}
					}
				}
				.accordion-open{
					 a{
						&:before{ top: 11px;
							background: url('@{base-url}plus-minus.png') no-repeat 0 -14px;
						}
					}
				}
				.panel-collapse{
					.panel-body{						
							border-top: 1px solid #ccc;
					}
					.tmp{ display: none; }
					
				}
				&.last{ border-bottom: 1px solid #ccc; }
			}					
		}
		.box-img{
			float: left; width: 50%; text-align: right;
		}
	}
	.box-4{ float: left; margin-top: 20px; margin-bottom: 30px; width: 100%; 
		.box-content{
			margin: 45px -15px 0 -15px; padding: 0;
		}
		.item{ float: left; width: 25%;  
			.inner{ padding: 0 5%; }
			>a{ float: left; width: 100%; 
				
			}
			.img{overflow: hidden;
				img{ width: 100%; .opacity(100); .scale(1); .transition(all 0.2s ease-out 0s); }
				position: relative; display: block;
				&:before{ position: absolute; top: 0; left: 0; .opacity(0);
					content: ""; width: 100%; height: 100%; border: 1px solid @activeColor;
				}
				&:hover{ 
					&:before{.opacity(100); .transition(all 0.2s ease-out 0s);}  
					img{ .opacity(50); .scale(1.2); .transition(all 0.2s ease-out 0s); }
				}
			}
			.title{ margin: 10px 0 10px 0; text-transform: uppercase; font-weight: 500 !important; display: inline-block;
				color: @text3;
				&:hover{
					color: @activeColor;
				}
			}
			.pos{ 
				color: #999999;
			    float: left;
			    margin: 2px 0 12px;
			    width: 100%;
			}
			.button-style();
			.button{ margin-top: 9px; }
			ul.s-item{ margin: 8px 0 0; display: inline-block; padding: 0;
				li{float: left; list-style: none; margin-right: 5px; width: 37px; height: 36px; 
					background: rgba(255, 255, 255, 0.5);
					a{ display: block; position: relative; color: #ccc; text-indent: -9999em; height: 100%; }
					&:hover{ background: @activeColor; .transition(all 0.2s ease-out 0s);
						a{
							&:before{ color: #fff; }
						}
					}
					&.s-item-1{
						a{
							&:before{content: "\f09a"; width: 20px; height: 21px; position: absolute; top: 6px; left: 14px; 
								font-family: "FontAwesome"; font-size: 20px; text-indent: 0; 
							}
						}						
					}
					&.s-item-2{
						a{
							&:before{content: "\f099"; width: 20px; height: 21px; position: absolute; top: 5px; left: 10px; 
								font-family: "FontAwesome"; font-size: 20px; text-indent: 0;
							}
						}						
					}
					&.s-item-3{
						a{
							&:before{content: "\f0e1"; width: 20px; height: 21px; position: absolute; top: 4px; left: 8px; 
								font-family: "FontAwesome"; font-size: 20px; text-indent: 0;
							}
						}
						
					}
					&.s-item-4{
						a{
							&:before{content: "\f0d5"; width: 20px; height: 21px; position: absolute; top: 5px; left: 10px; 
								font-family: "FontAwesome"; font-size: 20px; text-indent: 0;
							}
						}						
					}
					&.s-item-5{
						a{
							&:before{content: "\f0d2"; width: 20px; height: 21px; position: absolute; top: 5px; left: 10px; 
								font-family: "FontAwesome"; font-size: 20px; text-indent: 0;
							}
						}						
					}
					
				}
			}
		}		
	}
}

.cms-contact-page{
	.page-title{ display: none; }
}
.contact-page{ float: left; width: 100%; padding-bottom: 30px; 
	.wrap-map{ padding-bottom: 70px; margin-top: -10px; float: left;
		.wrap-header-specials{		
			
			> h1{ float: left; width: 100%; margin: 0; font-size: 214.28%; font-weight: bold; text-transform: uppercase;
				margin: 20px 0 16px 0; line-height: 100%;  font-weight: 500 !important; 
			}
			> p{ margin: 0 0 40px; float: left;				
			}
		}
		.box-map{float: left; width: 100%; }
	}
	.col-left,.col-right{
		float: left; width: 50%;
	}
	.col-left{ 
		.inner{ padding-right: 15px; 
			>h2{ font-size: 128.57%; font-weight: 500 !important; text-transform: uppercase; margin: -15px 0 10px 0; }
			.form-list{ padding-left: 0; }
		}
	}
	.col-right{ 
		.content{
			padding-left: 15px; 
			h2{ font-size: 128.57%; margin: -15px 0 0 0; text-transform: uppercase; font-weight: 500 !important;  }
			>p{ margin: 10px 0 45px;  }
			#accordion{ float: left; width: 100%; 
			.panel{ border-top: 1px solid #ccc; background: none; margin-top: 0;
				.border-radius(0);
				-moz-box-shadow:none;
				-webkit-box-shadow:none;
				box-shadow:none;
				.panel-title{ font-weight: normal !important; font-size: 114.28%;
					margin: 0; line-height: 38px; text-transform: uppercase;
					a{ font-size: 100%; display: block; position: relative; 
						&:before{content: ""; width: 15px; height: 15px; position: absolute; right: 0; top: 14px; }
					}
					
				}
				.accordion-close{
					a{
						&:before{ 
							background: url('@{base-url}plus-minus.png') no-repeat 0 0;
						}
					}
				}
				.accordion-open{
					 a{
						&:before{ top: 11px;
							background: url('@{base-url}plus-minus.png') no-repeat 0 -14px;
						}
					}
				}
				.panel-collapse{
					.panel-body{						
							border-top: 1px solid #ccc;
					}
					.tmp{ display: none; }
					
				}
				&.last{ border-bottom: 1px solid #ccc; }
			}					
		}
		}
	}
	#contactForm{ 
		.form-list{ margin: 0;
			li{ width: 100%; float: left; list-style: none;
				.field{ width: 100%; }
				.input-box{ width: 100%; 
					.input-text,#comment{ width: 100%; height: 38px; 
						-moz-box-sizing: border-box;
						-webkit-box-sizing: border-box;
						box-sizing: border-box;
					}
					.input-text{ margin-bottom: 20px; color: #666; }
					#comment{ height: 190px; margin-bottom: 25px; }
					label{ color: @text3;
						em{ color: #f00; }
					}
				}
			}
		}
		.buttons-set{
			.button{ float: left; margin-left: 0; 
				text-transform: uppercase;
			
			}
		}
	}
}
.catalog-category-view{
	.block-compare{ float: right; position: relative; 
		.block-title{
			strong{
				position: relative; right: 0;  z-index: 999; border: 1px solid @borderColor;  
				padding: 1px;  min-height: 34px; background: #fff; margin: 0 0 -30px !important; float: left; line-height: 30px;
				padding-left: 50px; padding-right: 20px; color: @text6;
				.border-radius(17px); .transition();
				&:hover{ color: @activeColor; cursor: pointer;
					.border-radius(0px); .transition();
					> span{ &:before{ .border-radius(0px); .transition(); } } 
				}
				> span{ display: block;  
					&:before{ content: ""; width: 28px; height: 28px; background: @activeColor; .border-radius(50%); 
						position: absolute; top: 2px; left: 2px; .transition();
					}
					&:after{ content: "\f105"; position: absolute; top: 1px; left: 14px; 
					 	font-family: "Fontawesome"; color: #fff; 
					}                     
				}
			}
		}
		.block-content{ float: left; padding: 20px; .opacity(0); .transition(all 0.3s ease-out 0s); 
			position: absolute; top: 50px; right: 0; background: #fff; .border-radius(5px); .shadow1();
			border-top: 1px solid @borderColor; border-left: 1px solid @borderColor; z-index: 99; width: 300px;
			ol{
				li{ position: relative;
					.btn-remove{ position: absolute; top: 0; right: 0; width: 10px; height: 10px;
						text-indent: -9999em;
						&:before{ content: "x"; position: absolute; top: 0; right: 0; text-indent: 0; }
					}
					.product-name{ margin: 5px 0; }
				}
			}
			.actions{ margin-top: 20px;
				.button-style();
				.button{
					margin: 0 20px 0 0 ;
				}
				> a{ line-height: 34px; }
			}
		}
		&:hover{
			.block-content{ .opacity(100); top: 33px; .transition(all 0.3s ease-out 0s); }
		}
	}
}