.toolbar-bottom{
	float: left;    
    width: 100%;    
}
.toolbar{
	float: left; width: 100%; margin-bottom: 20px; padding: 0; 
	label{ display: none; }
	.view-mode, .sort-by{ float: left; } 	
	.view-mode{ margin: 0; padding-left: 0;
		strong,a{
			width: 30px; height: 30px;
			border: 1px solid @borderColor;
			float: left; text-indent: -9999em; position: relative;
		}
		strong.grid,a.grid{
			&:before{
				content: "";
				position: absolute;
				top: 8px; left: 7px;					
				width: 16px; height: 16px;
				background: url('@{base-url}edo.png') no-repeat -222px -67px;
			}				
		}
		strong.grid{
			border: 1px solid @activeColor; background: @activeColor;
		}
		a.grid{
			&:before{ background: url('@{base-url}edo.png') no-repeat -247px -67px; 
		}
			&:hover{ background: @activeColor; border: 1px solid @activeColor;
				&:before{
					background: url('@{base-url}edo.png') no-repeat -222px -67px;
				}
			}				
		}
		a.list,strong.list{ margin-right: 0; 
			&:before{
				content: "";
				position: absolute;
				top: 8px; left: 7px;					
				width: 16px; height: 16px;
				background: url('@{base-url}edo.png') no-repeat -300px -68px;
			}
			
		}
		a.list{
			&:hover{ border: 1px solid @activeColor; background: @activeColor;
				&:before{ 
					background: url('@{base-url}edo.png') no-repeat -273px -68px;
				}
			}
		}
		strong.list{				
			border: 1px solid @activeColor; background: @activeColor;
			&:before{
				background: url('@{base-url}edo.png') no-repeat -273px -68px;
			}
		}
	}
	.block-right{ text-align: right; padding-right: 0;
		.inner{ display: inline-block; margin-bottom: -4px; }
	}
	.sort-by{ text-align: left;
		label{ float: left; margin: 3px 10px 0 0px; line-height: 36px; }
		a.asc, a.desc{
			width: 30px;
			height: 30px;
			line-height: 26px;
			background: #fafafa;
			float: left; margin: 0px;
			border: 1px solid @borderColor;
			border-left: none;
			position: relative;
			&:before{
				content: "\f15d"; font-size: 14px;
				color: #666; font-family: "Fontawesome";
				position: absolute;
				top: 2px; left: 7px;					
				width: 10px; height: 10px;
			}
			&:hover{				
				&:before{ color: @activeColor; }
			}
		}
		a.desc{
			&:before{	
				content: "\f15e"; 
			}	
		}
		.wrap-sb{
			width: 105px;  line-height: 28px;  float: left;
			position: relative; 
			.selected-order{ position: relative;
				border: 1px solid @borderColor;
				padding-left: 12px; font-size: 100%;
				color: @text6;
				&:before{
					content: "\f0d7"; font-size: 14px;
					color: #666; font-family: "Fontawesome";
					position: absolute;
					top: 0px; right: 9px;					
					width: 10px; height: 10px;
				}
			}
			&:hover{					
				.selected-order{ color: @activeColor;  &:before{ color: @activeColor; } }
			}
			.select-order{
				position: absolute; 
				z-index: 9999;
				border: 1px solid @borderColor;
				background: #fff;
				float: left; width: 100%; 
				padding-left: 10px; 
				padding-bottom: 5px;
				top: 1px;					
				top: 29px;
				.opacity(0);
				visibility: hidden;
				a{ display: block; color: #666; font-size: 100%;
					&:hover{ color: @activeColor; }
				}
				
			}	
			&:hover{
				cursor: pointer;					
			}		 		
			.current-item{
				.opacity(100);
				visibility: visible;
			}
		}
	}
	.limiter{ float: left; border: 1px solid @borderColor; height: 30px; line-height: 28px; margin-left: 30px;
		.limiter-inner{
			span{ float: left; color: @text6; padding-left: 12px; }
			.wrap-show{ 
				width: 60px;  float: left;
				position: relative; text-align: left; 			
				.selected-limiter{ position: relative; 
					
					padding-left: 10px; 
					color: #666;
					
					&:hover{ color: @activeColor; }
					&:before{
						content: "\f0d7"; font-size: 14px;
						color: #666; font-family: "Fontawesome";
						position: absolute;
						top: 0px; right: 9px;					
						width: 10px; height: 10px;
					}
				}
				&:hover{
					.selected-limiter{ border-color: @activeColor; color: @activeColor;
						&:before{ color: @activeColor; }
					}
				}
				.select-limiter{ 
					position: absolute;
					z-index: 9999;
					border: 1px solid @borderColor;
					background: #fff;
					float: left; width: 62px; 
					padding-left: 9px; 
					padding-bottom: 5px;
					top: 28px;
					left: -1px;
					.opacity(0);
					visibility: hidden;
					a{ display: block; font-size: 100%;
						border: none;	
						.border-radius(0);
						padding: 0; color: #666;
						&:hover{ color: @activeColor; }
					}					
				}	
				&:hover{
					cursor: pointer;
				}			
				.current-item{
					visibility: visible;
					.opacity(100);
				}
			}/* end wrap show */
		}
	}
	
	.pager { 
		float: left; margin: 0 0 0 30px;
		.amount{ display: none; }
		.pages{
			float: right; 
			> strong{ float: left; font-weight: normal;  line-height: 26px; font-size: 100%;
				margin-right: 5px; display: none;
			}
			ol{ float: left; }
			li{
				float: left; border: 1px solid @borderColor; border-left: none;
				height: 30px; line-height: 28px;
				> a, > span,&.current{ float: left;					
					line-height: 28px; min-width: 30px;
					padding: 0; text-align: center;
					border-radius: 0;
					display: inline-block;
					background: none;
					border: none;
					font-size: 85.71%;
					color: @text6;
				}
				&:first-child{ border-left: 1px solid @borderColor; }
				&.current{ border: 1px solid @activeColor; background: @activeColor; color: #fff; }
				> a{
					&:hover{
						color: #fff; background: @activeColor;
					}
					&.next{ padding: 0 25px 0 15px; text-transform: uppercase;
						position: relative;
						img{ display: none; }
						&:before{ content: "\f101"; font-family: "FontAwesome" !important;  position: absolute; top: 0px; right: 5px;
						min-width: 27px; text-align: center; float: left; font-size: 15px; 
						}
					}
					&.previous{	 padding: 0 15px 0 26px; text-transform: uppercase;					
						position: relative; 
						img{ display: none; }
						&:before{ content: "\f100"; font-family: "FontAwesome" !important; position: absolute; top: 0px; left: 5px;
						min-width: 27px; text-align: center; float: left; font-size: 15px; 
						}
					}
				}
				&:hover{
					border-color: @activeColor;
					background: @activeColor;
				}
			}
			
		} 
		
	}
}