
@import "vt-mixins.less";
@import "color/default.less";
/*
@media (max-width: 321px)
@media (max-width: 361px) 
@media (max-width: 481px) 
@media (max-width: 641px) 
@media (max-width: 979px) 
@media (min-width: 768px) and (max-width: 979px) 
@media (min-width: 980px) and (max-width: 1024px)
@media (min-width: 1136px)  

@media (min-width: 1200px) 
@media (min-width: 992px) and (max-width: 1199px) 
@media (min-width: 768px) and (max-width: 991px) 
@media (max-width: 767px) 
*/


@media (min-width: 1200px) {		
	.layoutfb2{
		width: 1200px;
		margin: 0 auto;		
		background: url('@{base-url}bg-boxed.jpg') no-repeat top center;
		background-attachment: fixed;
	}
	.layoutfb2 .wrapper{
		background: #fff;
	}
	.hide-des{ display: none; }
	.block-offer{ 
		.products-grid .item .inner .item-image .product-image{ height: 230px; overflow: hidden;
			text-align: center; 
		} 
	}
	.block-slidebar{ display: none; }
	.products-grid .item .inner{
		.product-info{ 
			.product-name{ 
				a{
					width: 200px; float: left; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; 
					line-height: 20px;
				}
			}
		}
	}
}
@media (max-width: 1200px) {
	.products-grid .item .inner	.item-image .product-image img{ width: 100% !important; }
	.products-grid .item .inner{
		.product-info{ margin-bottom: 0; }
		&:hover{
			.product-info{ margin-top: 0; }
		}
		.item-image .product-image::before{ display: none; }
	} 
	.products-list .item .inner .item-image .product-image::before{ display: none; }
	.vt_quickview_handler{ display: none; }
}
//s992
@media (min-width: 992px) and (max-width: 1199px) {	
	body.cms-home-04 .wrap-slideshow .tp-bgimg.defaultimg {
  background-size: cover!important;
	}
		.home-04-p4 {
	  padding-top: 40px;
	}
 	body.cms-home-04{
		  .wrap-slideshow{

		 		 .tp-bullets.round{
		 		 bottom:-40px!important;
		 		 .opacity(100)!important;
		 		 	.bullet{
		 		 	background:none;
		 		 	width:14px;
		 		 	height:14px;
		 		 	border-radius:100%;
		 		 	background-color:#fff;
		 		 	}
		 		 	.bullet.selected{
		 		 	background:none;
		 		 	width:15px;
		 		 	height:15px;
		 		 	border-radius:100%;
		 		 	background-color:#1bd172;
		 		 	}
		 		 }
		  }
	}
	.header04 .block-smml-item .advanced-search{
	width:440px;
	}
	.home-04-p3 a{
	min-width:193px;
	}
	.header03 .box_header_03 #banner-left .carousel-control.left {
	  margin-right: 130px;
	}
	.products-grid .item .inner .item-image .product-image img {
	  width: 160px !important;
	}
	.header03 .block-smml-item{
		.inner-cl{width:47%;}
		.advanced-search{
		width:50%;
		}
		.block-cart{top:30px;}
	} 
	.home-03-p3 .home-03-right .other-product{
	    height:390px;
		.vt-slider{width:510px;}
		.sub-cate{width:200px;}

	}
	.cms-home02{
		.hot-deals .block-hot-deals .dateCountdown01, .hot-deals .block-hot-deals .dateCountdown02, .hot-deals .block-hot-deals .dateCountdown03, .hot-deals .block-hot-deals .dateCountdown04{
			left: -235px;
		}
	}
	/*==============================================home1===================================*/
	.header01{
		.phone{ display: block; }
		.box_header_01 .policy{ margin-left: -85px;}
		.wrap-block-cl{ padding-left: 0; }
		.hide-des{ position: relative;
			#mobile-nav{
				display: block;
				position: absolute; top: 43px; left: 18px;
				.btn-sidebar{ line-height: 31px; }
			}
		}
		.box_header_03 .box-banner a{ height: auto;}
	}
	.wrap01{ margin-top: 0; }
	.block-cate-gua {
		.tab-item ul li a{
			padding: 4px 10px;			
		}
		.tab-content .block-categories ul li a {
			&:before{ left: 16px; }
			.text{ min-width: 160px; 
				padding: 6px 15px 6px 40px !important;
			}
		}
	}	
	.block-topseller .block-title{
		padding: 8px 0 8px 66px;
		&:before{ left: 15px; }
	}
	.block-topseller .navslider{ right: 14px; }
	.cms-home .wrap-slideshow{
		height: 360px;
	}
	.block-offer{ height: auto; 
		.container-slider .products-grid .item{
			margin-bottom: 20px;
		}
	}
	
	.block-shop-features,.block-topseller{
		height: 420px;
	}

	.cart .cart-collaterals #crosssell-products-list .product-details .price-box{
		min-width: 136px;
	}
	#cpanel_btn{
		display: none;
	}
	#settings-box{ display: none; }	
	
	.hidden-item{ display: none; }
	.col2-left-layout{
		.breadcrumbs ul{ margin-top: 0; }
		.products-list .item .inner .product-info{
			float: left; width: 59%;
		}
		.col-left .block-layered-nav #narrow-by-list dd.block-color{
			padding-left: 5px;
		}
		.col-left .block-layered-nav #narrow-by-list dd .price .range-wrap{
			width: 180px;
		}
		.col-left .block-layered-nav #narrow-by-list dd .price .text-box input{
			width: 45px;
		}
		.col-left .block-layered-nav #narrow-by-list dd .price .text-box .go{ position: absolute; right: 0; }
		.col-left .block-layered-nav #narrow-by-list dd.block-size{ padding-left: 5px; }
		.col-left .block-topseller .block-title{
			padding: 8px 0 8px 68px !important;
		}
		.col-left .block-special .slider-inner .container-slider .wrap-item .item .product-info{
			width: 85px;
		}
		.col-left .block-special .slider-inner .container-slider .wrap-item .item .item-image{
			width: 90px;
		}	
		.col-left .block-layered-nav #narrow-by-list dd.block-price{
			padding: 0 10px;
		}
		.block-topseller .products-grid .item{
			padding: 20px 10px 0;
		}
	}
	/*==============================header======================================*/
	.phone{ display: none; }
	.vt_menu,.hide-menu{ display: none; }
	.hide-des{ position: relative;
		#mobile-nav{ display: block; position: absolute; top: 127px; left: 0px; padding: 0; width: auto; z-index: 999; 
			.btn-sidebar{ line-height: 33px; }
		}
	}	
		.header02 .box_header_03 .advanced-search{ width: 85%; }
		.box_header_03 .box-banner a{ height: 190px; }
		.header02 .box_header_03 .wrap-block-cl .block.block-currency{ width: 143px; }
	/*==========================end header======================================*/
	.best-selling,.save-big,.new-arrivals{
		.bock-title{
			.col-md-9{ padding: 0; }
			ul li > a{
			 	padding: 4px 22px;
				 &:after{
				 	left: 12px;
				 }
			}
		}
	}
	.block-popular-categories .block-popular {
		.block-title {
			.title{ margin: 10px 0 0 15px; }
			.navslider{ top: 35px; }
		}
	}
	.block-banner-03 .box-left::before{ height: 102%; }
	.block-banner-03 .box-right{ padding: 0;}
	.products-grid .item .inner .product-info .product-name {
		.configurable-swatch-list{ top: 28px; }
		a{
			line-height: 20px; overflow: hidden; text-overflow: ellipsis; width: 180px; white-space: nowrap;
		}
	}
	.products-list .item {
		width: 100%;
	}
	.price-box .old-price{ margin-left: 7px; }
	.product-view {
		.more-views .inner .navslider {
			a.prev{ left: 0; }
			a.next{ right: 0; }
		}	
		.box-right,.box-tag{ display: none; }
	}
	.footer {
		.footer-top .block{ height: 210px; }
		.footer-middle .block{ padding: 9px; }
	}
}

//s768
@media (min-width: 768px) and (max-width: 991px){
	body.cms-home-04 .wrap-slideshow .tp-bgimg.defaultimg {
  background-size: cover!important;
	}
		.home-04-p4 {
	  padding-top: 40px;
	}
	.home-04-p3 a{
	min-width:186px;
	}
   
	.products-grid .item .inner .item-image .product-image img {
	  width: 120px !important;
	}
	.home-03-p1 .home-03-newarivals .banner-avantage{
	padding:0 100px;
	}
	.header03,.header04
	{    
	.hide-des #mobile-nav{
	top:90px;
	}
		 .shop-menu-h4{
		 display:none;
		 }
		.box_header_03 
		{
			#banner-left{
			   height:330px;
				.sub-item {
			  	padding: 10px 20px;
			  	}
			  	.carousel-control.left,.carousel-control.right{
			  	top:280px;
			  	}
			} 
		}
		.block-smml-item{
			padding:25px 15px 25px 30px;
			.inner-cl{width:100%;
			margin-right:0;
			margin-top:10px;

			}
			.advanced-search{
			width:100%;
			}
			.block-cart{top:80px;  right: 20px;}
		} 
	} 
	.home-03-p3 
	{
		.tags #tags{
		height:205px;
		}
		.home-03-right .other-product{
		    height:390px;
			.vt-slider{width:340px;}
			.sub-cate{width:200px;}
			

		}
	}
	.cms-home02{
		.hot-deals .block-hot-deals .dateCountdown01, .hot-deals .block-hot-deals .dateCountdown02, .hot-deals .block-hot-deals .dateCountdown03, .hot-deals .block-hot-deals .dateCountdown04{
			left: -185px;
		}
		.hot-deals .tab-item ul li a{
			padding: 20px 0 20px 106px;
		}
		.hot-deals .block-hot-deals .container-slider{ margin: 0 -15px 0 0; }
	}	
	/*================================home02=======================*/

	.header01{
		.phone{ display: block; }
		.box_header_01 .col-sm-6{
			padding: 0;
		}
		.box_header_03{
			.box-banner{ float: left; width: 100%;
				.b2{ display: none; }
				.b1{ width: 100%; float: left;
					a{ width: auto; float: right; 
						img{ width: auto;}
					}
				}
				a{ height: auto; }
			}
			.box-cate{
				margin-top: 30px;
			}
		}
		.box_header_02 {
			.advanced-search{ float: right; margin-right: -69px;
				.dropdown-cate{ padding: 0 15px 2px 10px; left: 145px;
					&:before{ right: 10px; }
					.cat-search{ width: 80px; }
				}
				.form-search #search{ width: 282px; padding-left: 90px; padding-right: 20px; }
			}
			.inner-cl{ margin-right: 35px; }
		} 
		.hide-des{	
			#mobile-nav{
				z-index:999;
				display: block;
				position: absolute; top: 41px !important; left: 16px !important;
			}
		}
		//.hide-des #mobile-nav
	}

	.col2-left-layout{
		.category-products{
			.products-grid{
				.item{
					width: 50%; float: left;
				}
			}
			.toolbar .block-right{ padding: 0; }
		}
		.block-topseller{
			height: auto;
		}
		.block-special .slider-inner .container-slider{
			padding: 0 15px 20px;
		}
		.col-left .block-special .slider-inner .container-slider .wrap-item .item .product-info{
			width: 80px;
		}
		.block-layered-nav #narrow-by-list dd.block-color{
			padding-left: 10px; 
		}
		.col-left .block-layered-nav #narrow-by-list dd.block-price{
			padding: 0 5px;
		}
		.col-left .block-layered-nav #narrow-by-list dd .price .text-box .go{
			position: absolute; right: 5px;
		}
		.col-left .block-layered-nav #narrow-by-list dd.block-size{
			padding-left: 10px;
		}
		.col-left .block-topseller .block-title{
			padding: 8px 0 8px 72px !important;
			&:before{ left: 15px; }
		}
		.col-left .products-grid .item .inner .product-info{ margin-bottom: 20px; }

	}

	.wrap01{ margin-top: 10px; }
	.block-cate-gua{
		margin-top: 30px; height: 414px;
		.tab-item{
			ul{
				li{
					a{ padding: 4px 10px !important; }
				}
			}
		}
	}
	.box-features,.box-top-seller{
		position: absolute; top: 513px; left: 259px;
	}
	.box-top-seller{
		left: auto; right: -5px;
		.block-topseller{ height: auto; margin-top: 22px; }
		.block-title{
			padding: 8px 0 8px 70px;
			&:before{ left: 15px; }
		}
		.navslider{
			right: 10px; top: 18px;
		}
	}
	.block-shop-features{
		height: 414px; margin-top: 22px;
	}

	.block-offer{ height: auto; 
		.container-slider .products-grid .item{
			margin-bottom: 20px;
		}
	}
	.block-popular .wrap_item .item .inner{
		padding: 0 15px; 
	}
	/*==========================header======================================*/
		.phone{ display: none; }
		.block-right-item {
			.toplink .links {
				li{
					padding-left: 34px; padding-right: 10px; 
					 a::before{ left: -21px; }
				}
			}
			.block-cart .block-title{
				padding-left: 34px; padding-right: 10px; 
				&:before{ left: 11px; }
			}
		}
		.vt_menu,.hide-menu{ display: none; }
		.hide-des{ position: relative;
			#mobile-nav{ display: block; position: absolute; top: 127px; left: 0px; padding: 0; width: auto; z-index: 999; 
				.btn-sidebar{ line-height: 33px; }
			}
		}
		.header02 .box_header_03 .advanced-search{ width: 83%;
			.form-search{ padding-left: 140px; }
			.dropdown-cate{
				&:before{ right: 15px; }
				.cat-search{ width: 86px; }
			}
		}
		.header02 .box_header_03 .wrap-block-cl {
			.block{
				
				&.block-language{
					width: 117px;
					> div img{ margin-left: 15px; }
					&:after{
						right: 20px; 
					}
				}
				&.block-currency{
					.border-top-right-radius(12px);
					&:after{
						right: 30px; 
					}
				}
			}	
		}
		.box_header_03 .box-banner a{ height: 145px; }
	/*==========================end header======================================*/
	/*====================================content==============================*/
	.new-arrivals,.best-selling {
		.bock-title { height: auto;
			ul li{
				margin-top: 2px; margin-bottom: 2px;
			}
		}
	}
	.block-banner-03{
		.box-left
		{ 
			h2{
				margin-top: 0;
			}
			&:before{ height: 115%; }
		}
		.box-right{ padding: 0; }
	}
	.block-popular-categories .block-popular {
		.block-title {
			.title{ margin: 10px 0 0 15px; }
			.navslider{ top: 40px; }
		}
	}
	.products-list .item {
		width: 100%; 
	}
	
	.products-grid .item .inner .product-info .product-name {
		.configurable-swatch-list{ top: 28px; }
		a{
			line-height: 20px; overflow: hidden; text-overflow: ellipsis; width: 180px; white-space: nowrap;
		}
	}
	.product-view {
		.more-views .inner .navslider {
			a.prev{ left: 0; }
			a.next{ right: 0; }
		}	
		.box-right,.box-tag{ display: none; }
	}
	/*===================================end content===========================================*/
	/*===================================end footer===========================================*/
	.footer {
		.footer-top .block{ height: 210px; 
			padding: 12px 15px 20px;
			.block-title h2.p2{ font-size: 100%; }
		}
	}
	/*===================================end footer===========================================*/
	#settings-box{ display: none; }
	.hidden-item{ display: none; }
	
	.cart .cart-collaterals #crosssell-products-list .product-image{
		margin: 4px 10px 15px 0;
	}
	.cart .cart-collaterals #crosssell-products-list .product-details .price-box{
		min-width: 0;
	}
	.cart .crosssell .button{
		clear: both;
	}
	.cart .col-del{ border-right: 1px solid #ccc; }	
	.my-account{
		.form-list{
			.field{ width: 100%; 
			}
			input.input-text{  width: 100%; }
			.input-box select{
				height: 32px; padding: 6px !important; width: 100%;
			}
		}
	}
	
	#my-orders-table{
		thead tr td, thead tr th{
			padding: 10px 0; text-align: center; text-transform: capitalize;
		}
		.data-table tbody td{ padding: 5px; }
		.link-reorder{ clear: both; display: block;}
	}

	
	#cpanel_btn{ display: none;}	
	
	#vt-responsivemenu .btn.btn-navbar,.menu-selectbox{ margin-left: 0!important; }
	#vt_wrapper{ left: 0; }
	
	
	#vt_menu{ display: none; }
	
	
	.products-grid .item .item-wrap .item-image .vt_quickview_handler{ display: none; }

	.wrap-about{
		.box-content{ margin-top: 15px; }
		.item{ padding: 0 30px; 
			br{ display: none;}
		}
		.box-3 .box-img{
			text-align: center;
			img{ width: 280px; }
		}
		.box-4{
			.item{ width: 50%; margin-bottom: 30px; }
		}
	}
	
}
//s767
@media (max-width: 767px){	
	.home-04-p4{
	padding-top:70px;
	}
	
	.home-04-p3 a{
	width:100%;
	}
	body.cms-home-04{
		  .wrap-slideshow{
		 		 .tp-bullets.round{
		 		 bottom:-40px!important;
		 		 .opacity(100)!important;
		 		 	.bullet{
		 		 	background:none;
		 		 	width:14px;
		 		 	height:14px;
		 		 	border-radius:100%;
		 		 	background-color:#333;
		 		 	margin-right:10px;
		 		 	}
		 		 	.bullet.selected{
		 		 	background:none;
		 		 	width:15px;
		 		 	height:15px;
		 		 	border-radius:100%;
		 		 	background-color:#1bd172;
		 		 	}
		 		 }
		  }
	}
	.header04{
		.shop-menu-h4{display:none;}
	}
    .home-03-p3 .home-03-right .other-product .navslider {
	  right: 0;
	  left: auto;
	  top: -24px;
	}
    .cms-home-03 .block-popular-categories .block-popular .block-title .navslider {
	  left: auto;
	  top: -10px;
	}
	.home-03-p3 .home-03-right .other-product {
		.vt-slider {
		  width: 100%;
		  display:block;
		  position:relative;
		}
		.sub-cate{
			width: 100%;
			padding:20px;
			ul{height:auto;}
		}
	}
   .home-03-p1 .home-03-newarivals .banner-avantage{padding:0 30px;
   img{width:100%;}
   }
	.cms-home-03{
		.carousel-control.left,.carousel-control.right{top:-70px;}
	} 
	.home-03-p1 .home-03-newarivals,.home-03-p2 .home-03-hotdeals,.home-03-p2 .home03-special,.home-03-p3 .home-03-right .banner-home3{
	position:relative;
	margin-top:30px;
	display:block;
	}
	.home-03-p2{
	padding-top:0;
	}
	#banner-left{
	height:80px;.shadow1(); padding:1px ;border: 1px solid @borderColor;
	margin-top:30px;
	margin-bottom:30px;
	.sub-item{
		padding: 15px 20px;
		float:left;
		width:25%;
		img{
		    width:100%;
			&:hover{
		  	.opacity(70);
		  	}
		}
	}
	.carousel-control.left{
	  top: 15px;
  	left: -9px;
	}
	.carousel-control.right{
	  top: 15px;
 	 right: -9px;
 	 margin-right: 0;
	}
}
	.cms-home02 {
		.hot-deals .block-hot-deals .dateCountdown01{
			left: 20px; top: -346px;
		}
		.hot-deals .block-hot-deals .container-slider{
			float: none; width: auto; 
		}
	}
	/*==================================header01==================================*/
	.wrap-slideshow .tp-rightarrow, .wrap-slideshow .tp-leftarrow{
		top: 50% !important;
	}
	.wrap01{
		margin-top: 20px;
	}
	.header01{
		.policy{ display: none; }
		.block-wrap-search{ padding: 0;
			.advanced-search{ margin-bottom: 20px; margin-top: 90px; }
		}
		.box-banner{
			float: left; width: 100%; overflow: hidden; margin-top: 20px; 
			> div{ padding: 0 0 10px 0; }
		}
		.block-wrap-cart{ width: auto; padding: 0; margin-top: 4px;
			.block-cart{ margin-left: 42px; }
		}
		.box_header_01{
			> .container{ position: relative;
				.col-xs-12{ position: static;  }
				.toplink{
					position: absolute; top: 150px; left: 0; z-index: 99;
				}
			}
		}
		.box_header_03{
			> .container{
				.col-xs-12{ position: static; padding-left: 0; padding-right: 0; }
			}
			.logo{
				position: absolute; top: 0;
			}
		}
	}
	.cms-home{
		.box-cate{ margin-top: 30px; }
		.block-shop-features{ height: auto; }
		.block-hot-deals .block-title .countdown-row{
			right: 10px;
		}
		.block-hot-deals .block-title::before{ 
			left: 10px;
		}
		.block-topseller,.block-offer{
			height: auto;
		}
		.block-offer{
			.products-grid .item .inner .product-info{ margin-bottom: 20px; }
		}
		.block-popular .title > span{ line-height: 30px;}
		.block-popular .title .navslider a::before{ top: 1px;}
	}
	.block-cart .block-content{
		display: none;
	}
	.wrapper{ padding: 0 15px; }
	/* header*/
	.box_header_04,.box_header_03 .wrap-menu,.phone{ display: none; }
	.block-right-item{ position: absolute; top: 150px; left: 15px; padding: 0; width: auto; float: left; z-index: 9999; }
	.toplink{ float: left; width: 32px; height: 32px; border: 1px solid @borderColor; position: relative; .border-radius(5px); 
		&:hover{ cursor: pointer; }
		.inner{
			.d-hide{ text-indent: -9999em; float: left; width: 32px; height: 32px; 
				&:before{ content: "\f007"; color: @activeColor; font-family: "FontAwesome"; 
					position: absolute; top: 6px; left: 9px; text-indent: 0; 
				}
			}
			.links{ .shadow1(); .border-radius(5px); border-top: 1px solid @borderColor;  border-left: 1px solid @borderColor; 
				float: left; width: 100px; padding: 10px; background: #fff; position: absolute; top: 32px; left: 0;
			}
		}
	}
	.block-cart{
		float: left; width: 32px; margin-left: 10px; height: 32px; border: 1px solid @borderColor; position: relative;
		.border-radius(5px);
		&:before{ content: "\f07a"; color: @activeColor; font-family: "FontAwesome"; 
			position: absolute; top: 6px; left: 7px; text-indent: 0; 
		}
		&:hover{ cursor: pointer; }
		.block-title{
			display: none;
		}
		.block-content{ float: left; width: 300px; position: absolute; top: 32px; margin: 0;  left: -48px; 
			z-index: 99; .shadow(); 
			
			.inner{ background: #fff; float: left; width: 100%; padding: 15px 20px; 
				.block-subtitle{
					text-transform: uppercase; font-size: 100%;
				} 
				.truncated{ display: none; }
				#cart-sidebar{
					li{	padding: 15px 0 25px 30px; border-bottom: 1px solid @borderColor; position: relative;
						.btn-remove{ position: absolute; top: 18px; font-size: 14px; left: 0; width: 15px; height: 15px; text-indent: -9999em;
							&:before{ content: "\f014"; font-family: "FontAwesome"; position: absolute; top: 0; left: 0;
							text-indent: 0;
							}
						}
						.btn-edit{	position: absolute; top: 42px; font-size: 14px; left: 0; width: 15px; height: 15px; text-indent: -9999em;
							&:before{ content: "\f040"; font-family: "FontAwesome"; position: absolute; top: 0; left: 0;
							text-indent: 0;
							}
						}
						.product-image{ float: left; margin-right: 10px; overflow: hidden;
							&:hover{
								img{ .opacity(80); .scale(1.2); .transition(all 0.3s ease-out 0s); }
							}
						}
						.product-name{ font-size: 100%; 
							a{ display: inline-block; width: 132px; overflow: hidden;
							text-overflow: ellipsis; white-space: nowrap; text-transform: capitalize; }
						}
						.product-details{ float: left;
							> strong{ float: left; min-width: 98px; border: 1px solid @borderColor;
								a{ float: left; min-width: 19px; min-height: 28px; float: left; margin: 0; 
									&.flycart-qty-change-left{
										background: url('@{base-url}minus.png') no-repeat 0 0 #999;
									}
									&.flycart-qty-change-right{
										background: url('@{base-url}plus.png') no-repeat 0 0 #999;
									}
									&:hover{
										&.flycart-qty-change-left,
										&.flycart-qty-change-right{
											background-color: @activeColor;
										}
									}
								}
								input{ margin: 0; border: none; height: 28px; min-width: 58px;
									border-right: 1px solid @borderColor;
									border-left: 1px solid @borderColor;
								}
							}
							.price{ color: @textff;
								 line-height: 100%; width: 100%; margin: 0 0 12px; display: inline-block;
							}
						}
					}
				}
				.summary{ float: left; width: 100%; margin-bottom: 8px;
					p{ margin: 0; width: 100%; 
						.label{ text-transform: uppercase; font-size: 100%; font-weight: normal;
							padding: 0; margin: 15px 0 0; display: inline-block; color: @text3;
						}
						.price{ float: right; font-size: 142.85%; margin-top: 6px; }						}
				}
				.actions{ float: left; width: 100%; text-align: center;
					.a-inner{  background: @text3;
						a{ color: #fff; text-transform: uppercase; font-size: 100%; position: relative;
							padding: 10px 28px 10px 37px; display: inline-block; 
							&:hover{ text-decoration: underline; } 
							&.btn-mycart{ position: relative; z-index: 9; background: @activeColor;
								padding-left: 28px; padding-right: 0;
								&:before{ 
									border-color: @activeColor rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
								    border-style: solid;
								    border-width: 40px 40px 0 0;
								    content: "";
								    height: 0;
								    line-height: 0;
								    position: absolute;
								    right: -40px;
								    top: 0;
								    width: 0;
								}
							}
						}
					}
				}
			}
		}
	}
	.logo{ position: relative; display: block; left: 50%; margin: 20px 0 20px -65px; }
	.advanced-search{ float: left; width: 100%; position: relative; margin-bottom: 75px;
		.inner-box{ padding: 0 0 0 32px ; }
		.dropdown-cate{
			position: absolute; top: 0; left: 0;
			&:hover{ cursor: pointer; }
			.cat-search{ float: left; width: 32px; height: 32px; text-indent: -9999em; 
				.border-top-left-radius(17px); .border-bottom-left-radius(17px);
				border: 1px solid @borderColor; position: relative; border-right: none;
				&:before{ content: "\f107"; font-family: "FontAwesome"; position: absolute; top: 6px; left: 12px; text-indent: 0; }
			}
			.wrap-scrollbar{ position: absolute; top: 32px; left: 0; background: #fff; width: 230px;
				.shadow1(); .border-radius(5px); border-top: 1px solid @borderColor;  border-left: 1px solid @borderColor;
				 background: #fff; z-index: 9999; padding: 15px 0 15px 15px;
				li{
					&.level-3{ padding-left: 15px; color: #888; }
					&.level-4{ padding-left: 30px; color: #aaa; }
					&:hover{ cursor: pointer; }
				}
			}
		}
		#search{ border-color: @borderColor; width: 100%; height: 32px;  margin: 0; padding: 6px 35px 6px 6px; .border-bottom-right-radius(17px); .border-top-right-radius(17px); }
		
		.button{ position: absolute; top: 0; right: 3px; float: left; width: 30px; height: 30px;
			 padding: 1px;  background: none; margin: 0;
			
			> span{ display: block;  
				&:before{ content: ""; width: 28px; height: 28px; background: @activeColor; .border-radius(50%); 
				position: absolute; top: 2px; left: 2px;
				}
				&:after{ content: "\f002"; position: absolute; top: 6px; left: 10px; 
					 font-family: "Fontawesome"; color: #fff; 
				}
				>span{ display: none; }
			}
		}
	}
	.wrap-slideshow{ margin-top: 0px !important; }
	.header03,.header04{
	.inner-cl{ position: absolute; top: 60px; left: 15px; z-index: 999;
			.lg-cur{margin-left:10px;margin-right:10px;}
			.block{ position: relative; float: left;
				&:hover{ cursor: pointer; }
				> div{ .border-radius(5px);
					float: left; width: 32px; height: 32px; border: 1px solid @borderColor; position: relative;
					> span {
						img{ margin-top: 10px; margin-left: 8px;   }
						> span{ display: none; }
					}
					&.item-cur span{ font-size: 10px; float: left; margin-top: 8px; margin-left: 6px; }
				}
				> ul{
					.shadow1(); .border-radius(5px); border-top: 1px solid @borderColor;  border-left: 1px solid @borderColor; 
					float: left; width: 100px; padding: 10px; background: #fff; position: absolute; top: 32px; left: 0;
					li{
						a{
							img{ margin-top: 5px; }
						}
					}
				}
			}
		}
	}
	.wrap-block-cl{ position: static;
		.inner-cl{ position: absolute; top: 150px; left: 98px; z-index: 999;
			.block{ position: relative; float: left; margin-right: 10px; 
				&:hover{ cursor: pointer; }
				> div{ .border-radius(5px);
					float: left; width: 32px; height: 32px; border: 1px solid @borderColor; position: relative;
					> span {
						img{ margin-top: 10px; margin-left: 8px;   }
						> span{ display: none; }
					}
					&.item-cur span{ font-size: 10px; float: left; margin-top: 8px; margin-left: 6px; }
				}
				> ul{
					.shadow1(); .border-radius(5px); border-top: 1px solid @borderColor;  border-left: 1px solid @borderColor; 
					float: left; width: 100px; padding: 10px; background: #fff; position: absolute; top: 32px; left: 0;
					li{
						a{
							img{ margin-top: 5px; }
						}
					}
				}
			}
		}
	}
	.box-banner{ margin-top: 15px; }
	.hide-des{ position: relative;
		#mobile-nav{
		    z-index:9999;
			position: absolute; top: 150px; left: 168px;
		}
	}
	.breadcrumbs ul{
		margin-bottom: 20px; margin-top: 0;
	}
	.col2-left-layout{
		.breadcrumbs ul{
			margin-top: 20px;
		}
		.col-left{
			.block-layered-nav #narrow-by-list dd.block-color,.block-layered-nav #narrow-by-list dd.block-size{ padding-left: 6px; }
			.block-topseller{ height: auto; 
				.products-grid .item .inner .product-info{ margin-bottom: 20px; }
			}
		}
		.block-banner-category{ margin-top: 30px; }
	}
	/*end header*/
	/* content */
	.best-selling .bock-title{
		height: auto;
		h3{ margin-bottom: 20px; }
	}
	.new-arrivals .bock-title{
		height: auto;
		h3{ margin-bottom: 20px; }
	}
	.save-big {
		.bock-title{ height: auto;
			h3{ margin-bottom: 30px; }
		} 
		.save-big-inner{ margin-bottom: 5px; }
	}
	.block-banner-03{
		.box-left {
			padding: 30px 15px;
			h2{ margin-top: 0; }
			.block-banner-content{
				margin-bottom: 30px; 
			}
		}
		.box-right{ padding: 0; }
	}
	.block-popular-categories {
		.inner{ padding: 0 0 20px !important; }
		.block-popular .block-title { margin-bottom: 20px;
			.navslider{
				left: auto; top: 18px; right: 30px;
			}
		}
	}
	.contact-page{ padding-bottom: 0; 
		.col-left{
			float: left; width: 100%; margin-bottom: 50px;
		}
		.col-right{
			float: left; width: 100%; 
			.panel-heading{ padding: 10px 0; }
			.content{ padding-left: 0; }
		}
	} 
	.wrap-about{
		.box-1{
			.item{ width: 100%; margin-top: 10px; }
		}
		.box-3{
			.panel-group{ width: 100% !important; margin-bottom: 50px; }
			.box-img{ width: 100%; 
				img{ width: 100%; }
			}
			.panel-heading{ padding: 0; }
		}
		.box-4{
			.box-content{ float: left; margin: 0 -15px; }
			.item{ width: 100%; margin-top: 30px; }
		}
	}
	.product-view {
		.product-img-box {
			.product-image-gallery {
				img{ height: auto !important; }
			}
		}
		.more-views .inner .navslider{
			a{
				&.prev{ left: 0; }
				&.next{ right: 0; }
			}
		}
		.product-shop .box-right{
			padding: 0; margin-top: 10px; 
		}
		.product-shop .box-left label{ min-width: 50px; width: 50px; }
	}	
	.product-view .product-shop .box-left #product-options-wrapper {
		dt label{
			margin-top: 5px;
		}
		 ul li{ margin-top: 5px; margin-bottom: 5px; }
	}
	/* end content*/
	/* left */
	.col1-layout{
		.block-layered-nav {
			#narrow-by-list {
				dt,dd{ width: 100% !important; }
				dd .price .text-box{
					margin: 20px 0 20px;
				}
				dd .price { padding-left: 18px; }
				dd{
					ol{
						li{ margin: 0 10px !important; }
					}
				}
			}
		}
	}
	/* end left*/
	/* product */
	.catalog-category-view{
		.products-grid .item {
			.inner { width: 100%; 
				.item-image .product-image { text-align: center;
					//img{ width: auto; }
				}
			}
		}
	}
	.products-grid .item .inner {
		.item-image .product-image::before{ display: none; }
		.item-image .product-image img{ width: 100%; }
		.product-info{
			margin-bottom: 0;
		}
		&:hover{
			.product-info{
				margin-top: 0;
			}
		}
	}
	.product-view #product-tabs .inner > ul li{
		margin-bottom: 5px; margin-top: 5px;
	}
	.tag4,.tag8{ border-right: 1px solid @borderColor; }
	.tag9{  border-top: none !important; }
	.tag5{ border-right: none !important; }
	/* end product */
	/* toolbar */
	.toolbar{
		position: relative;
		.block-right{
			position: absolute; top: 0; right: 0; width: auto;
		}
	}
	/* end toolbar*/
	/* footer */
	.footer{
		.footer-top{
			.block{
				margin-top: 20px; height: auto;
				&.block-store{ margin-top: 0; }
			}
		}
		.footer-middle{
			.block-social{
				.s8{ display: none; }
			}
			.block-payment{ float: left; }
		}
		.footer-bottom {
			.col-left{
				line-height: 20px;
			}
			.col-right{ text-align: left; }
		}
	}
	/* end footer*/
	#settings-box{ display: none;}
	
	.cart-collaterals{ padding: 0 15px;
		.col2-set, .totals{ width: 100%; }
	}
	.col1-layout .col-main > .page-title{ padding: 0 15px; }	
	.cart{ 
		padding: 0 5px;
		tbody td{ 
			&.last{ border-right: none; }
		}
	}	
	.account-create{ padding: 0 15px; }
	.account-login{
		padding: 0 15px;
		#login-form{
			.col2-set .col-2{ width: 100%; float: left; margin-top: 30px; }
			.col2-set .col-1{ float: left; width: 100%; }
		}
	}	
	#billing-buttons-container{
		padding-right: 15px;
	}
	.block-about-us .block-wel .w-left-content img{
		width: 100%;
	}
	.block-account{
		margin-top: -20px;
	}
	.block-minicartpro{
		margin-top: 0; padding-top: 4px;
	}
	.mini-cartpro .block-content{
		width: 315px; right: -28px;
		z-index: 999997;
	}
	
	.checkout-onepage-index .page-title{
		margin-top: -15px;
	}
	
	
	.cart #shopping-cart-table tbody td.last,
	.cart #shopping-cart-table thead tr th.col-del{
		border-right: none !important;
	}
	#checkoutSteps
	{
		 #checkout-step-login{
			.col-1, .col-2{
				width: 100%;
			}
			.col-2.mobile{ margin-top: 15px; padding-top: 15px; border-top: 1px solid #ccc;}
			.col2-set h4{ margin: 5px 0; }
			.control input{ margin: 0px 5px 0 0 !important; }
			.form-list {
				margin-bottom: 10px;
				li{ margin-bottom: 5px;}
			}	
			.show-m{ display: block; }
		}
		#checkout-step-billing{
			.input-box select{
				height: 34px; padding: 7px !important;
			}
		}
		input[type="radio"]{ margin: 0px 5px 0 0 !important;}
	}
	
	.cart{ 
		padding: 0 5px;
		h1{ line-height: 40px; }
		#shopping-cart-table{ width: 100%; margin: 0 auto;
			tbody td{ padding: 7px 5px; border-right: 1px solid #ccc; }
			thead tr th{ padding: 10px 0px; text-transform: capitalize; 
				border-right: 1px solid #ccc;
			}
			.button{ width: 100%; 
				&#empty_cart_button{ margin-bottom: 0; } 
			}
		}
		.cart-collaterals{
			padding: 0; 
			.col-1, .col-2{ width: 100%; }
		}
		
		.cart-collaterals #crosssell-products-list .product-details .price-box{  min-width: 175px; }
	}
	
	#my-orders-table{
		margin-bottom: 10px;
		thead tr td, thead tr th{
			border-top: none;
			float: left; width: 100%;
		}
		thead tr th{ text-align: center !important; }
		thead tr{ width: 102.5% !important; float: left; }
		tbody {
			tr{ float: left; width: 103% !important}
			td{
				float: left; width: 100%; 
			}
		}	
		tfoot{
			tr{ float: left; width: 103% !important}
			td{
				float: left; width: 100%; 
				border-top: none;
			}
		}
	}
	.sales-order-view{ 
		.my-account > .page-title  h1{ width: 100%; margin-bottom: 5px; }
	}
	.my-wishlist .input-text{
		width: 35px;
	}
	.my-wishlist .button{
		width: auto !important;
	}
	#wishlist-table .price-box p.price-to{
		margin-left: 0 !important;
	}
	#confirmbox{
		margin-left: 4px;
	}
	
	
	#confirmbox{
		width: 290px; margin-left: 15px;
	}
	
	.my-wishlist{
		#wishlist-table{
			thead tr td, thead tr th{
				padding: 10px 6px; text-transform: capitalize;
			}
			td{
				padding: 8px 3px;
			}			
		}
		.button{ width: 100%; margin-bottom: 5px; }
	}
	#checkout-step-review{
		padding: 2px 2px 5px 2px !important;
		#checkout-review-table{
			width: auto;
			margin-bottom: 5px;
			tbody td{ padding: 4px; }
			thead tr td, thead tr th{ text-transform: capitalize; padding: 10px 3px; }
		}
	}
	#my-downloadable-products-table{
		tbody td{ padding: 4px; }
	}
	#checkout-progress-wrapper{ margin-top: 25px; }
	.cart{ #shopping-cart-table{ width: 96%; } }	
	#vt_menu{ display: none; }
	#mobile-nav,.box-header-mobile-01{ display: block; }
	#mobile-nav{ padding: 0; }
	.vt_quickview_handler{ display: none;}
}

@media (max-width: 480px){
   .home-03-p1 .home03-special .products-grid .item {
	  padding: 0;
	  padding: 0 10px;
	}
	.home-03-p2 .home-03-hotdeals .view-all a{
	color:transparent;
	}
	.home-03-p3 .home-03-right .other-product .nav-tabs{
	margin-top:0;
	height:auto;
		>li{float: none;
 		 margin-bottom: -1px;
  		border-bottom: 1px solid #ccc;}
	}
	.cms-home-03,.cms-home-04 {
		.products-grid{
		clear:both;
		}
		.nav-tabs {
		  height: 50px;
		  clear: both;
		  float: left;
		  width: 100%;
		  border-top: 1px solid #eaeaea;
		  margin-top: -20px;
		  margin-bottom:20px;
		  >li{
		  float:left;
		  	a{padding: 14px 5px 13px 5px;}
		  }
		}
	}
	#banner-left{
	height:auto;.shadow1(); padding:1px ;border: 1px solid @borderColor;
	margin-top:30px;
	margin-bottom:30px;
	.sub-item{
		padding: 5px;
		float:left;
		width:25%;
		img{
		    width:100%;
			&:hover{
		  	.opacity(70);
		  	}
		}
	}
	.carousel-control.left{
	  top: -7px;
  	left: -9px;
	}
	.carousel-control.right{
	  top: -7px;
 	 right: -9px;
 	 margin-right: 0;
	}
}
	/* product */	
	.catalog-category-view{
		.products-list .item .inner{
			padding: 10px;
			.item-image{ margin-right: 0; width: 100%; }
			.product-info.col2{ width: 100%; margin-top: 10px; }
		}
	}
	.product-view .product-shop .box-tag .inner{ padding: 30px; }
	.tag3,.tag7,.tag9{ border-right: 1px solid @borderColor; }
	.tag9{ border-bottom: 1px solid @borderColor; position: relative; border-top: none !important;
		&:before{ content: ""; width: 100%; height: 1px; background: @borderColor; position: absolute; top: -1px; left: 0;}
	 }
	.tag8{ border-top: none !important; }
	.tag3{ position: relative;
		&:before{ content: ""; width: 100%; height: 1px; background: @borderColor; position: absolute; bottom: -1px; left: 0;}
	}
	.block-hot-deals {
		.block-title { float: left; width: 100%; 
			.defaultCountdown{ float: left; margin-top: 10px; }
			.countdown-row{
				position: static;
				margin: 10px 0;
			}
		}
		.container-slider{ float: left; width: 100%; }
	}	
}
@media (max-width: 360px){
	.toolbar{
		position: relative;
		.block-right{
			position: static; text-align: left; padding: 0;
			.sort-by{ position: absolute; top: 0; left: 70px; }
			.limiter{ position: absolute; top: 0; left: 185px; }
			.pager{ margin: 10px 0 0 0; }
		}
	}
	/* product */
	.catalog-category-view{
		.products-grid .item {
			.inner { width: 100%; 
				.item-image .product-image { text-align: center;
					img{ width: 100%; }
				}
			}
		}
	}
	/* end product */	
	.catalog-category-view .block-compare .block-title strong{
		margin: 0 0 20px !important;
	}
	.tag2,.tag3,.tag7,.tag8{ border-right: 1px solid @borderColor; }
	.tag9{ border-bottom: 1px solid @borderColor; border-top: none !important; }
	.tag8{ border-top: none !important; }
	.tag2{ position: relative;
		&:before{ content: ""; width: 100%; height: 1px; background: @borderColor; position: absolute; bottom: -1px; left: 0;}
	}

}

@media (max-width: 321px){
	.tag2,.tag3,.tag4,.tag5,.tag7,.tag8,.tag9{ border-right: 1px solid @borderColor; }
	.tag9{ border-bottom: 1px solid @borderColor; border-top: none !important; }
	.tag8{ border-top: none !important; }
	.tag2,.tag4{ position: relative;
		&:before{ content: ""; width: 100%; height: 1px; background: @borderColor; position: absolute; bottom: -1px; left: 0;}
	}
}
.block-slidebar{ background: #312c29; float: left; width: 230px; position: relative; padding: 30px 0px; 
	position: absolute; z-index: 9999; top: 0; left: -230px; .transition(all 0.5s ease-in-out 0s);
	ul{
		li{ line-height: 30px; 
			a{ color: #ccc; padding-left: 32px; position: relative; float: left; display: inline-block; width: 100%;
				&:before{ content: "\f111"; font-family: "FontAwesome"; font-size: 4px; color: #ccc;
				position: absolute; top: 0px; left: 20px;
				}				
			}			
			&.parent{ 
				ul{ padding-left: 15px; background: #4a423b; float: left; width: 100%; }
			}	
			&.active,&.selected{
				> a{ color: @activeColor;
					&:before{ color: @activeColor; }
				}
			}		
		}		
		&.nav-menu{ float: left; 
			> li{
				> a{
					&:before{ content: "\f0da"; font-size: 14px;}
				}
				> ul{
					padding-top: 10px; padding-bottom: 10px; margin: 10px 0;
				}
			}
		}
	}
	.close-menu{ position: absolute; top: 110px; right: -40px; visibility: hidden; .transition(all 0.5s ease-in-out 0s);
		width: 40px; height: 40px; padding: 0; .border-radius(0);
		&:before{
			content: "\f03b";  font-family: "FontAwesome"; font-size: 14px; color: #ccc;
			position: absolute; top: 10px; left: 12px;
		}
		&:hover{ background: #312c29; }
		span{ display: none; }
	}
	
}

.show-menu{
	.block-slidebar{  left: 0; .transition(all 0.5s ease-in-out 0s);

		.close-menu{ visibility: visible; }
	}
}
