<?php if($this->isEnabled): ?>
<script type="text/javascript">
	var data = "";
	var active = false;
	jQuery(function($){
		if($('body').find('#Vt_Ajaxfilter').attr('id') != 'Vt_Ajaxfilter'){
		$('body').prepend('<div id="Vt_Ajaxfilter" style="display:none"><div class="process"><img src="<?php echo $this->loadingImage ?>"><div><?php echo $this->loadingText ?></div></div><div class="bg"></div></div>');}

		<?php if($this->ajaxLayered): ?>
        $(document).on('click', '.block-layered-nav a', function(e){
            e.preventDefault();
            ajaxFilter($(this).attr('href'));
        });
        <?php endif; ?>
            
        <?php if($this->ajaxToolbar): ?>
        $(document).on('click', '.toolbar a', function(e){
            e.preventDefault();
            ajaxFilter($(this).attr('href'));
        });
        $('.toolbar select').removeAttr('onchange');
        $('.toolbar select').on('change',function(){
            //var url=$(this).val(); alert(url);
            e.preventDefault();
            ajaxFilter($(this).val());
        });
        <?php endif; ?>

	});

<?php if($this->ajaxPrice || $this->ajaxLayered): ?>
function ajaxFilter(url) {
    if (!active) {
        active = true;
        jQuery(function($) {
            oldUrl = url;
            $('#Vt_Ajaxfilter .bg').height('100%');
            $('#Vt_Ajaxfilter').fadeIn(300);
            try {
                $.ajax({
                    url: url,
                    dataType: 'json',
                    type: 'post',
                    data: data,
                    success: function(data) {
						//callback();                       
                        if (data.viewpanel) {
                            if ($('.block-layered-nav')) {
                                $('.block-layered-nav').empty();
                                $('.block-layered-nav').replaceWith(data.viewpanel)
                            }
                        }
                        if (data.productlist) {
                            $('.category-products').empty();
                            $('.category-products').replaceWith(data.productlist)
                        }
                        var hist = url.split('?');
                        if(window.history && window.history.pushState){
							window.history.pushState('GET', data.title, url);
						}
                        $('body').find('.toolbar select').removeAttr('onchange');
                        $('#Vt_Ajaxfilter .bg').height('100%');
                        $('#Vt_Ajaxfilter').fadeOut(300);
                    }
                })
            } catch (e) {}
        });
        active = false
    }
    return false
}
<?php endif; ?>

function callback(){
	// return;
}
</script>
<?php endif; ?>