<?php
$list = $this->_getList();
$helper = Mage::helper('categories/data');
$uniqued = rand() . time();
?>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div id="vt_slider<?php echo $uniqued; ?>" class="block-categories block-popular">
	<?php if($this->_getConfig('title')){ ?>
	<h2 class="title">
		<span><?php echo $this->_getConfig('title'); ?></span>
		<div class="navslider">
			<a class="prev" href="#">Prev</a>
			<a class="next" href="#">Next</a>
		</div>
	</h2>
	<?php }?>
	
	<div class="wrap_item">
	<?php 
	$i == 0;
	foreach ($list as $key => $items) {
		$i++;
		$cat_child = $items->child_cat;?>
		<div class="item <?php if ($i == 1) {
			echo "first-item";
		}?>">
			<div class="wrap-img">
				<?php if ($items->_image != ''){ ?>
					<a class="banner1" href="<?php echo $items->link; ?>">
						<img src="<?php echo $items->_image; ?>" alt="<?php echo $items->title; ?>" />
					</a>
				<?php }?>
			</div>
			<div class="inner">
				<?php if ($this->_getConfig('cat_title_display', 1)) { ?>
				<div class="parent-categories">
					
					<a class="p-title" title="<?php echo $items->title; ?>"
					   href="<?php echo $items->link; ?>">
						<?php echo $items->title; ?>
					</a>
				</div>
				<?php } ?>			
				<ul class="sub-categories">
					<?php
					if (!empty($items->child_cat)) {
						foreach ($items->child_cat as $key => $item) {
							?>
							<li>
								<a href="<?php echo $item->link; ?>" title="<?php echo $item->title; ?>">
									<?php echo $item->title; ?>
									<span><?php echo '(' . ($item->number_article) . ')'; ?></span>
								</a>
							</li>
						<?php } ?>
					<?php } else { ?>
						<p>
							<?php echo 'No sub-categories to show!'; ?>
						</p>
					<?php } ?>
				</ul>	
			</div>	
		</div>	
	<?php } ?>
	</div>
</div>
<script type="text/javascript">
//<![CDATA[
    jQuery(document).ready(function($) {		
        $('#vt_slider<?php echo $uniqued; ?> div.wrap_item').owlCarousel({
        	items: 4,
            itemsCustom: [ 
            	[0, 1], 
            	[480, 1], 
            	[768, 3], 
            	[992, 3], 
            	[1200, 3] 
            ],
            pagination: false,
            slideSpeed : 800,
            addClassActive: true,
            scrollPerPage: false,
            touchDrag: false,
			afterAction: function (e) {
			    if(this.$owlItems.length > this.options.items){
			        $('#vt_slider<?php echo $uniqued; ?> .navslider').show();
			    }else{
			        $('#vt_slider<?php echo $uniqued; ?> .navslider').hide();
			    }
			}
            //scrollPerPage: true,
        });
		$('#vt_slider<?php echo $uniqued; ?> .navslider .prev').on('click', function(e){
			e.preventDefault();
			$('#vt_slider<?php echo $uniqued; ?> div.wrap_item').trigger('owl.prev');
		});
		$('#vt_slider<?php echo $uniqued; ?> .navslider .next').on('click', function(e){
			e.preventDefault();
			$('#vt_slider<?php echo $uniqued; ?> div.wrap_item').trigger('owl.next');
		});
    });
//]]>
</script>
</div>