<?php
$list = $this->_getList();
$helper = Mage::helper('categories/data');
$uniqued = rand() . time();
?>
<div id="block-categories-<?php echo $uniqued; ?>" class="block block-categories">
	<div class="block-title">
        <strong><span>beauty & perfumes</span></strong>
    </div>
    <div class="inner">
	<?php $i = 0;
	foreach ($list as $key => $items) {
		$i++;
		$cat_child = $items->child_cat;?>
		<div class="item">
			<?php if ($this->_getConfig('cat_title_display', 1)) { ?>
			<div class="parent-categories">
				<?php /*if ($items->_image != ''){ ?>
				<a  href="<?php echo $items->link; ?>">
					<img src="<?php echo $items->_image; ?>" alt="<?php echo $items->title; ?>" />
				</a>
				<?php } */?>
				<a title="<?php echo $items->title; ?>"
				   href="<?php echo $items->link; ?>">
					<?php echo $items->title; ?> 
				</a>
				<span class="item-toggle <?php if($i==1){ echo "open"; }else{ echo "close"; } ?>">toggle</span>
			</div>
			<?php } ?>
			<ul class="sub-categories <?php if($i==1){ echo "first"; } ?>">
				<?php
				if (!empty($items->child_cat)) {
					foreach ($items->child_cat as $key => $item) {
						?>
						<li>
							<a href="<?php echo $item->link; ?>" title="<?php echo $item->title; ?>">
								<span class="text"><?php echo $item->title; ?></span>
								<?php /* <span class="text1"><?php echo '(' . ($item->number_article) . ')'; ?></span>*/ ?>
							</a>
						</li>
					<?php } ?>
				<?php } else { ?>
					<p>
						<?php echo 'No sub-categories to show!'; ?>
					</p>
				<?php } ?>
			</ul>		
		</div>	
	<?php } ?>
	</div>
</div>
<script type="text/javascript">                
	jQuery(document).ready(function($){
		$('.sub-categories').hide();
		$('.sub-categories.first').show();
		$('.parent-categories span').click(function(){
			if($(this).hasClass('close')){
				$(this).removeClass('close');
				$(this).addClass('open');
				
				$(this).parent().parent().find('.sub-categories').slideDown();
			}else{
				$(this).removeClass('open');
				$(this).addClass('close');
				$(this).parent().parent().find('.sub-categories').slideUp();
			}
		});		
	});
</script>