<?php
$list = $this->_getList();
$helper = Mage::helper('categories/data');
$uniqued = rand() . time();
?>
<div id="block-categories-<?php echo $uniqued; ?>" class="block-categories">
	<?php $i = 0;
	foreach ($list as $key => $items) {
		$i++;
		$cat_child = $items->child_cat;?>
		<div class="item">
			<?php /*if ($this->_getConfig('cat_title_display', 1)) { ?>
			<div class="parent-categories">
				<?php if ($items->_image != ''){ ?>
				<a  href="<?php echo $items->link; ?>">
					<img src="<?php echo $items->_image; ?>" alt="<?php echo $items->title; ?>" />
				</a>
				<?php }?>
				<a title="<?php echo $items->title; ?>"
				   href="<?php echo $items->link; ?>">
					<?php echo $items->title; ?>
				</a>
			</div>
			<?php } */ ?>			
			<ul class="sub-categories">
				<?php
				if (!empty($items->child_cat)) {
					foreach ($items->child_cat as $key => $item) {
						?>
						<li>
							<a href="<?php echo $item->link; ?>" title="<?php echo $item->title; ?>">
								<span class="text"><?php echo $item->title; ?></span>
								<span class="text1"><?php echo '(' . ($item->number_article) . ')'; ?></span>
							</a>
						</li>
					<?php } ?>
				<?php } else { ?>
					<p>
						<?php echo 'No sub-categories to show!'; ?>
					</p>
				<?php } ?>
			</ul>		
		</div>	
	<?php } ?>
</div>