<?php
/*------------------------------------------------------------------------
 # VT Products - Version 1.0
 * Copyright (C) 2013 The VT Theme. All Rights Reserved.
 * @license - GNU/GPL, http://www.gnu.org/licenses/gpl.html
 * Author: VT Theme
 * Websites: http://www.vttheme.com
-------------------------------------------------------------------------*/
$_productCollection = $this->getLoadedProductCollection();
$_helper = $this->helper('catalog/output');
$uniqued = rand().time();

$imgWidth = $this->product_image_width;
$imgHeight = $this->product_image_height;

if ($imgWidth <= 0 || $imgHeight <= 0){
	$this->product_image_disp = false;
}

?>
<?php if(!$_productCollection->count()): ?>
	<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>

<div id="vt_slider<?php echo $uniqued; ?>" class="block block-topseller vt-slider">
	<div class="slider-inner">
		<div class="block-title">
			<?php /*if($this->title!="") : ?>
				<h3><?php echo $this->title;?></h3>
			<?php endif;*/ ?>
			<h2 class="p1">top</h2>
			<h2 class="p2">sellers</h2>
			<?php if($this->pretext!="") : ?>
				<p class="pretext"><?php echo $this->pretext;?></p>
			<?php endif; ?>
			<div class="navslider">
				<a class="prev" href="#">Prev</a>
				<a class="next" href="#">Next</a>
			</div>
		</div>		    	
		<div class="container-slider">
			<div class="products-grid">
			<?php foreach($_productCollection as $_product) : ?>
				<?php
				$now = date("Y-m-d H:m:s");
				$newsFrom= $_product->getNewsFromDate();
				$newsTo=  $_product->getNewsToDate();
				$specialprice = Mage::getModel('catalog/product')->load($_product->getId())->getSpecialPrice(); 
				$special_from_date = $_product->getSpecialFromDate();
				$special_to_date = $_product->getSpecialToDate();
				?>
				<div class="item">
					<div class="wrap-new-sale">
						<?php   
						if($newsFrom != ''){                            
							if (($now>=$newsFrom && $now<=$newsTo)||($now>=$newsFrom && $newsTo =='')){  ?>
							<div class='new-item'><?php echo $this->__("new"); ?></div>
							<?php }
						}else{
							if(($newsTo != "") && $newsTo >= $now){ 
							?>
								<div class='new-item'><?php echo $this->__("new"); ?></div>
							<?php }
						}?>
						<?php 
						if (($specialprice && ($special_from_date <= $now) && ($special_to_date >= $now || $special_to_date =="" ))){?>
							<div class='sale-item'>
								<?php /*<span>
								<?php
									$saleof= abs(($specialprice/($_product->getPrice()))*100-100);
									print_r(floor($saleof));
								?>									
								</span>*/?>
								<?php echo $this->__("sale");?>
							</div>
						<?php } ?>  
					</div> 
					
					<div class="inner">
						
							<div class="item-image <?php echo $class; ?>">
								<?php if($this->product_image_disp): ?>
								<a class="product-image" href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>">
									<img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($imgWidth, $imgHeight); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"/>
								</a>
								<?php endif; ?>
							</div> <!--end item-image-->	

							<div class="product-info">
									
									<div class="product-name">
										<?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
										<?php
											if ( $this->product_title_max_length > 0){
												$_productNameTruncated = Mage::helper('core/string')->truncate($_productNameStripped, $this->product_title_max_length);
											}
										?>
										<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo isset($_productNameTruncated) ? $_productNameTruncated : $_helper->productAttribute($_product, $_product->getName() , 'name'); ?></a>
									</div>
									
									<?php if( $this->product_price_disp ): ?>
										<?php echo $this->getPriceHtml($_product, true) ?> 
									<?php endif; ?>
									
									<?php if( $this->product_rating_summary == 1 ): ?>
										<div class="rating">
											<?php echo $this->getReviewsSummaryHtml($_product, false, true)?>
										</div>
									<?php endif; ?>
									
									
									<div class="item-btn">	
										<?php if($this->product_addtowishlist || $this->product_addtocompare): ?>
											<?php if ($this->helper('wishlist')->isAllow() && $this->product_addtowishlist ) : ?>
												<a title="<?php echo $this->__('Add to Wishlist') ?>" href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist" data-toggle="tooltip" data-placement="left" data-original-title="<?php echo $this->__('Add to Wishlist') ?>"><?php //echo $this->__('Add to Wishlist') ?></a>
											<?php endif; ?>
											
											<?php if($this->getAddToCompareUrl($_product) && $this->product_addtocompare): ?>
												<a title="<?php echo $this->__('Add to Compare') ?>" href="<?php echo $this->getAddToCompareUrl($_product) ?>" class="link-compare" data-toggle="tooltip" data-placement="left" data-original-title="<?php echo $this->__('Add to Compare') ?>"><?php //echo $this->__('Add to Compare') ?></a>
											<?php endif; ?>
										<?php endif; ?>
										<?php if ($this->product_cart_or_status): ?>
											<?php if($_product->isSaleable()): ?>
												<?php if($_product->isConfigurable()){?>
												<button title="<?php echo $this->__('Add to Cart') ?>" class="btn-pro-config" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')" data-toggle="tooltip" data-placement="left" data-original-title="<?php echo $this->__('Add to Cart') ?>"><span><?php echo $this->__('Buy') ?></span></button>
												<?php }else{ ?>
												<button title="<?php echo $this->__('Add to Cart') ?>" class="btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')" data-toggle="tooltip" data-placement="left" data-original-title="<?php echo $this->__('Add to Cart') ?>"><span><?php echo $this->__('Buy') ?></span></button>
												<?php } ?>
											<?php else: ?>
												<span class="btn-cart out-of-stock" title="<?php echo $this->__('Out of stock') ?>" data-toggle="tooltip" data-placement="left" data-original-title="<?php echo $this->__('Out of stock') ?>"><span><?php echo $this->__('Out of stock') ?></span></span>
											<?php endif; ?>
										<?php endif; ?>      
									</div>
									
									
									<?php /*if( $this->product_description_disp == 1 ): ?>
										<div class="item-des">
											<?php
											$product_description_src = in_array($this->product_description_src, array('short_description', 'description')) ? $this->product_description_src : 'short_description';
											$product_description = $_helper->productAttribute($_product, $_product->$product_description_src, $product_description_src);
											if ( $this->product_description_strip_tags ){
												$allow_tags = $this->product_description_keep_tags ? $this->product_description_keep_tags : null;
												$product_description = $this->stripTags( $product_description,  $allow_tags, true);
											}
											if ( $this->product_description_max_length > 0){
												$product_description = Mage::helper('core/string')->truncate($product_description, (int)$this->product_description_max_length);
											}
											echo $product_description;
											?>
										</div>
									<?php endif; */ ?>

									
							   
							</div>
						
					</div><!--end inner-->
				</div>
			<?php endforeach; ?>
			</div>
		</div>
	</div>

<script type="text/javascript">
//<![CDATA[
    jQuery(document).ready(function($) {		
        $('#vt_slider<?php echo $uniqued; ?> div.products-grid').owlCarousel({
        	items: 4,
            itemsCustom: [ 
            	[0, <?php echo $this->screen_phone; ?>], 
            	[480, <?php echo $this->screen_xs; ?>], 
            	[768, <?php echo $this->screen_sm; ?>], 
            	[992, <?php echo $this->screen_md; ?>], 
            	[1200, <?php echo $this->screen_lg; ?>] 
            ],
            pagination: false,
            slideSpeed : 800,
            addClassActive: true,
            scrollPerPage: false,
            touchDrag: false,
			afterAction: function (e) {
			    if(this.$owlItems.length > this.options.items){
			        $('#vt_slider<?php echo $uniqued; ?> .navslider').show();
			    }else{
			        $('#vt_slider<?php echo $uniqued; ?> .navslider').hide();
			    }
			}
            //scrollPerPage: true,
        });
		$('#vt_slider<?php echo $uniqued; ?> .navslider .prev').on('click', function(e){
			e.preventDefault();
			$('#vt_slider<?php echo $uniqued; ?> div.products-grid').trigger('owl.prev');
		});
		$('#vt_slider<?php echo $uniqued; ?> .navslider .next').on('click', function(e){
			e.preventDefault();
			$('#vt_slider<?php echo $uniqued; ?> div.products-grid').trigger('owl.next');
		});
    });
//]]>
</script>
</div>
<?php endif; ?>
