<?php
/*------------------------------------------------------------------------
 # VT Products - Version 1.0
 * Copyright (C) 2013 The VT Theme. All Rights Reserved.
 * @license - GNU/GPL, http://www.gnu.org/licenses/gpl.html
 * Author: VT Theme
 * Websites: http://www.vttheme.com
-------------------------------------------------------------------------*/
$_productCollection = $this->getLoadedProductCollection();
$_helper = $this->helper('catalog/output');
$uniqued = rand().time();

$imgWidth = $this->product_image_width;
$imgHeight = $this->product_image_height;

if ($imgWidth <= 0 || $imgHeight <= 0){
	$this->product_image_disp = false;
}
$chekFilter = $this->product_filter_by;
?>
<?php if(!$_productCollection->count()): ?>
	<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
<div id="vt_slider<?php echo $uniqued; ?>" class="block vt-slider">
	<div class="slider-inner">
			    <div class="container-slider">
			    	<div class="navslider">
						<a class="prev" href="#">Prev</a>
						<a class="next" href="#">Next</a>
					</div>
				    <div class="products-grid">
				    <?php 
					$i=0;
					$j=0;
					foreach($_productCollection as $_product) : ?>
						<?php if($i%5==0): ?>
						<?php $j++;?>
				        <div class="item panel-group" id="accordion<?php echo $j ?>">	
						<?php endif;?>	
							<div class="inner panel panel-default">
									 <div class="product-info-home03">
									 		<span class="count <?php if($i+1==1):?>active<?php endif;?>">
											<?php echo $i+1;?>
											</span>
											<div class="product-name">
					                            <?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
					                            <?php
					                                if ( $this->product_title_max_length > 0){
					                                    $_productNameTruncated = Mage::helper('core/string')->truncate($_productNameStripped, $this->product_title_max_length);
					                                }
					                            ?>
					                            <a data-toggle="collapse" data-parent="#accordion<?php echo $j ?>" href="#collapse<?php echo $i?>"><?php echo isset($_productNameTruncated) ? $_productNameTruncated : $_helper->productAttribute($_product, $_product->getName() , 'name'); ?></a>
					          
					                        </div>	
				                    </div>
					                <div id="collapse<?php echo $i?>" class="item-image panel-collapse collapse <?php if($i==0):?>in<?php endif;?> <?php echo $class; ?>">
					                	<?php if( $this->product_price_disp ): ?>
						                        <?php echo $this->getPriceHtml($_product, true) ?> 
					                        <?php endif; ?>
											
											<?php if( $this->product_rating_summary == 1 ): ?>
					                            <div class="rating">
					                            	<?php echo $this->getReviewsSummaryHtml($_product, false, true)?>
					                            </div>
				                            <?php endif; ?>
				                        <?php if($this->product_image_disp): ?>
				                        <a class="product-image" href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>">
				                        	<img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($imgWidth, $imgHeight); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"/>
				                        </a>
				                        <?php endif; ?>
									</div> <!--end item-image-->
							</div><!--end inner-->
						<?php if(($i%5==4)||($i==$_productCollection->count())): ?>
				        </div>
				        <?php  endif;  $i++;?>	
				    <?php endforeach; ?>
				    </div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
//<![CDATA[
    jQuery(document).ready(function($) {
	jQuery('.product-info-home03').click(function(){
	jQuery('.product-info-home03 .count').removeClass('active');	
	jQuery(this).children('.count').addClass('active');
	});
    });
//]]>
</script>	
<script type="text/javascript">
//<![CDATA[
    jQuery(document).ready(function($) {		
        $('#vt_slider<?php echo $uniqued; ?> div.products-grid').owlCarousel({
        	items: 4,
            itemsCustom: [ 
            	[0,1], 
            	[480,2], 
            	[768, 1], 
            	[992, 1], 
            	[1200,1] 
            ],
            pagination: false,
            slideSpeed : 800,
            addClassActive: true,
            scrollPerPage: false,
            touchDrag: false,
			afterAction: function (e) {
			    if(this.$owlItems.length > this.options.items){
			        $('#vt_slider<?php echo $uniqued; ?> .navslider').show();
			    }else{
			        $('#vt_slider<?php echo $uniqued; ?> .navslider').hide();
			    }
			}
            //scrollPerPage: true,
        });
		$('#vt_slider<?php echo $uniqued; ?> .navslider .prev').on('click', function(e){
			e.preventDefault();
			$('#vt_slider<?php echo $uniqued; ?> div.products-grid').trigger('owl.prev');
		});
		$('#vt_slider<?php echo $uniqued; ?> .navslider .next').on('click', function(e){
			e.preventDefault();
			$('#vt_slider<?php echo $uniqued; ?> div.products-grid').trigger('owl.next');
		});
    });
//]]>
</script>
<?php endif; ?>