<?php

/*------------------------------------------------------------------------

 # VT Products - Version 1.0

 * Copyright (C) 2013 The VT Theme. All Rights Reserved.

 * @license - GNU/GPL, http://www.gnu.org/licenses/gpl.html

 * Author: VT Theme

 * Websites: http://www.vttheme.com

-------------------------------------------------------------------------*/

$_productCollection = $this->getLoadedProductCollection();
$total = count($_productCollection);
$_helper = $this->helper('catalog/output');
$uniqued = rand().time();
$imgWidth = $this->product_image_width;
$imgHeight = $this->product_image_height;
if ($imgWidth <= 0 || $imgHeight <= 0){
	$this->product_image_disp = false;
}
?>

<?php if(!$_productCollection->count()): ?>
	<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
<div id="vt_slider<?php echo $uniqued; ?>" class="vt-slider block block-special">
	<div class="slider-inner">
		    	<div class="block-title">
		    		<?php if($this->title!="") : ?>
		    			<h1><?php echo $this->title;?></h1>
					<?php endif; ?>
		    		<?php if($this->pretext!="") : ?>
		    			<p class="pretext"><?php echo $this->pretext;?></p>
					<?php endif; ?>
					<div class="navslider">
						<a class="prev" href="#">Prev</a>
						<a class="next" href="#">Next</a>
					</div>
		    	</div>
			    <div class="container-slider">
				    <div class="products-grid">
				    <?php 
				    	$i = -1;
				    	foreach($_productCollection as $_product) : ?>
				        <?php
				        $i ++;
				        $now = date("Y-m-d");
				        $newsFrom= substr($_product->getData('news_from_date'),0,10);
				        $newsTo=  substr($_product->getData('news_to_date'),0,10);
				        $price = $_product->getPrice();
				        $finalPrice = $_product->getFinalPrice();
				        $class = '';

				        if($now>=$newsFrom && $now<=$newsTo) $class .= ' have-iconew';
				        if( isset($price) && isset($finalPrice) && $finalPrice < $price) $class .= ' have-icosale';
				        ?>

				        <?php if($i%3==0){ ?>
				        <div class="item">
				        <?php }?>	

							<div class="item-inner <?php if($i%3 == 2 || $i==$total){ echo "last"; }?>">					
					                <div class="item-info">
				                        <?php if($this->product_image_disp): ?>
				                        <a class="product-image" href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>">
				                        	<span class="image-main">
				                            	<img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($imgWidth, $imgHeight); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"/>
				                        	</span>
				                        </a>
				                        <?php endif; ?>
				                        <div class="box-right"> 
		                        		<?php if( $this->product_price_disp ): ?>		
				                           <?php echo $this->getPriceHtml($_product, false, $uniqued) ?>
			                        	<?php endif; ?>
			                       
			                            <?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
			                            <?php
			                                if ( $this->product_title_max_length > 0){
			                                    $_productNameTruncated = Mage::helper('core/string')->truncate($_productNameStripped, $this->product_title_max_length);
			                                }
			                            ?>
			                            <a class="pro-name" href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo isset($_productNameTruncated) ? $_productNameTruncated : $_helper->productAttribute($_product, $_product->getName() , 'name'); ?></a>
			                            </div>
					                       
					                </div>
							</div>

						<?php if($i%3 == 2 || $i==$total){ ?>	

				        </div>

				    	<?php }?>

				    <?php endforeach; ?>

				    </div>

		</div>

	</div>

</div>



<script type="text/javascript">

//<![CDATA[

    jQuery(document).ready(function($) {

        $('#vt_slider<?php echo $uniqued; ?> div.products-grid').owlCarousel({

        	items: 1,

            itemsCustom: [ 

            	[0, <?php echo $this->screen_phone; ?>], 

            	[480, <?php echo $this->screen_xs; ?>], 

            	[768, <?php echo $this->screen_sm; ?>], 

            	[992, <?php echo $this->screen_md; ?>], 

            	[1200, <?php echo $this->screen_lg; ?>] 

            ],

            pagination: false,

            slideSpeed : 800,

            addClassActive: true,

            scrollPerPage: false,
            touchDrag: false,
			afterAction: function (e) {

			    if(this.$owlItems.length > this.options.items){

			        $('#vt_slider<?php echo $uniqued; ?> .navslider').show();

			    }else{

			        $('#vt_slider<?php echo $uniqued; ?> .navslider').hide();

			    }

			}

            //scrollPerPage: true,

        });

		$('#vt_slider<?php echo $uniqued; ?> .navslider .prev').on('click', function(e){

			e.preventDefault();

			$('#vt_slider<?php echo $uniqued; ?> div.products-grid').trigger('owl.prev');

		});

		$('#vt_slider<?php echo $uniqued; ?> .navslider .next').on('click', function(e){

			e.preventDefault();

			$('#vt_slider<?php echo $uniqued; ?> div.products-grid').trigger('owl.next');

		});

    });

//]]>

</script>

<?php endif; ?>