<?php
/**
 * Vt Inc.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End-user License Agreement
 * that is available through the world-wide-web at this URL:
 * http://wiki.vt.net/wiki/EULA
 * If you are unable to obtain it through the world-wide-web, please
 * send an email to support@vt.com so we can send you a copy immediately.
 *
 * @package     Vt_SocialLogin
 * @copyright   Copyright (c) 2014 Vt Inc. (http://www.vt.com)
 * @license     http://wiki.vt.net/wiki/EULA  End-user License Agreement
 */
?>

<span class="pslogin-welcome-msg">
	<?php if( ($image = $this->getPhotoPath()) && $this->photoEnabled() ) { ?>
	    <img src="<?php echo $image; ?>" />
	<?php } ?>

	<?php echo $this->getMessage(); ?>
</span>