<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento community edition
 * aheadWorks does not guarantee correct work of this extension
 * on any other Magento edition except Magento community edition.
 * aheadWorks does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Blog
 * @version    1.2.1
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?> 
<?php include_once 'helper.php'; ?>
<?php $posts = $this->getPosts(); ?>
<div class="container">
	<div class="row">
		<div id="messages_product_view">
		    <?php Mage::app()->getLayout()->getMessagesBlock()->setMessages(Mage::getSingleton('customer/session')->getMessages(true)); ?> 
		    <?php echo Mage::app()->getLayout()->getMessagesBlock()->getGroupedHtml(); ?> 
		</div>

		 <div class="title">
		 	<h1><?php echo $this->__('From the blog'); ?></h1> 	
		 </div>
		<div class="row">
			<div id="blog-list">
				<div class="navslider">
					<a class="prev" href="#">Prev</a>
					<a class="next" href="#">Next</a>
				</div>
				<ol class="products-list">	
				<?php $i=0;
				 foreach ($posts as $post):  	
				?>
				    <li class="postWrapper"> 	
				    	<div class="item">
							<div class="item-inner">			
								<?php                   
									$short_content = strip_tags($post->getShortContent());
									$images = ImageHelper::getInlineImages($post->getShortContent());
								?>
								<?php if(!empty($images)){ ?>
									<a class="image-item" href="<?php echo $post->getAddress(); ?>" title="<?php echo $post->getTitle(); ?>">
									<?php echo $images[0]; ?>    
									</a>
					            <?php } ?> 
					            <div class="title-blog"><a href="<?php echo $post->getAddress(); ?>" title="<?php echo $post->getTitle(); ?>"><?php 
										$str = strip_tags($post->getTitle()); 
										echo substr($str,0,10).'...';
										 ?></a></div>
								<div class="info-cat-blog">
									<div class="product-name">
										<h2><a class="title-blog-name" href="<?php echo $post->getAddress(); ?>" title="<?php echo $post->getTitle(); ?>"><?php 
										$str = strip_tags($post->getTitle()); 
										echo substr($str,0,10).'...';
										 ?></a></h2>
									</div>
									<span class="blog-date"><?php 
									//date_default_timezone_set("America/Los_Angeles");
									//print_r(date("Y-m-d H:i:s",strtotime($post->getCreatedTime())));
									//print_r(date("d M Y",strtotime($post->getCreatedTime())));
									//echo "<br>";
									//print_r(date("l, F j, Y H:i:s A",strtotime($post->getCreatedTime())));
									//echo '<br>'.$post->getCreatedTime();
									echo $post->getCreatedTime();
									?>					
									</span>
									<p>
									<?php if ($this->getCommentsEnabled()): ?>									
										<a class="link-comment" href="<?php echo $post->getAddress(); ?>#commentBox" >	
											<?php 
											$c = $post->getCommentCount();
											if($c<1){ 
												echo $this->__('0 Comment'); 
											}else if($c==1){
												echo $this->__('1 Comment');
											}else{
												echo $c.$this->__('Comments');
											}
											?></a>
									<?php endif; ?>
									 	<span class="pby">               
					                    <?php echo $this->__("Posted By"); ?> <?php echo $post->getUser(); ?>
					                    </span>
									</p>
									<div class="postContent">
										<?php 					
										$str = strip_tags($post->getPostContent()); 
										echo substr($str,0,185).'...';
										?>
									</div>
									<p class="link-rm"><a href="<?php echo $post->getAddress(); ?>"><?php echo $this->__('Read more');?></a></p>
								</div>		
								
							</div>
						</div>
				    </li>
				<?php 
				endforeach; ?>
				</ol>
			</div>
		</div>
		<script type="text/javascript">
		//<![CDATA[
		    jQuery(document).ready(function($) {

		        $('#blog-list .products-list').owlCarousel({
		        	items: 3,
		            itemsCustom: [ 
		            	[0, 1], 
		            	[480, 1], 
		            	[768, 3], 
		            	[992, 3], 
		            	[1200, 3] 
		            ],

		            pagination: false,
		            slideSpeed : 800,
		            addClassActive: true,
		            scrollPerPage: false,
					afterAction: function (e) {
					    if(this.$owlItems.length > this.options.items){
					        $('#blog-list .navslider').show();
					    }else{
					        $('#blog-list .navslider').hide();
					    }
					}
		        });

				$('#blog-list .navslider .prev').on('click', function(e){
					e.preventDefault();
					$('#blog-list .products-list').trigger('owl.prev');
				});

				$('#blog-list .navslider .next').on('click', function(e){
					e.preventDefault();
					$('#blog-list .products-list').trigger('owl.next');
				});
		    });
		//]]>
		</script>
	</div>
</div>