/*vt image slider*/
.vt_itemslide_wrap{
	overflow: hidden;
}
.vt_itemslide_wrap .pre-text,
.vt_itemslide_wrap .post-text{
	margin: 10px 0;
}
.vt_itemslide_wrap .title-itemslide{
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 15px;
}
.vt_itemslide .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.vt_itemslide .owl-animated-in {
  z-index: 0;
}
.vt_itemslide .owl-animated-out {
  z-index: 1;
}
.vt_itemslide .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* 
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/* 
 *  Core Owl Carousel CSS File
 */
.vt_itemslide {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
.vt_itemslide .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
.vt_itemslide .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.vt_itemslide .owl-stage-outer {
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.vt_itemslide .owl-controls .owl-nav .owl-prev,
.vt_itemslide .owl-controls .owl-nav .owl-next,
.vt_itemslide .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.vt_itemslide .owl-dots .owl-dot {
    display: inline-block;
}

.vt_itemslide.owl-loaded {
  display: block;
}
.vt_itemslide.owl-loading {
  opacity: 0;
  display: block;
}
.vt_itemslide.owl-hidden {
  opacity: 0;
}
.vt_itemslide .owl-refresh .owl-item {
  display: none;
}
.vt_itemslide .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.vt_itemslide .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}
.vt_itemslide.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.vt_itemslide .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.vt_itemslide.owl-rtl {
  direction: rtl;
}
.vt_itemslide.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .vt_itemslide {
  display: block;
}

/* 
 * 	Owl Carousel - Lazy Load Plugin
 */
.vt_itemslide .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.vt_itemslide .owl-item img {
  transform-style: preserve-3d;
}

.owl-theme .owl-controls {
    margin-top: 10px;
    text-align: center;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"] {
    background: none repeat scroll 0 0 #d6d6d6;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block !important;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
}
.vt_itemslide .owl-controls .owl-dot, 
.vt_itemslide .owl-controls .owl-nav .owl-next, 
.vt_itemslide .owl-controls .owl-nav .owl-prev {
    -moz-user-select: none;
    cursor: pointer;
}
.owl-theme .owl-dots .owl-dot {
    display: inline-block;
}

.owl-theme .owl-dots .owl-dot.active span, 
.owl-theme .owl-dots .owl-dot:hover span {
    background: none repeat scroll 0 0 #869791;
}
.owl-theme .owl-dots .owl-dot span {
    background: none repeat scroll 0 0 #d6d6d6;
    border-radius: 30px;
    display: block;
    height: 10px;
    margin: 5px 7px;
    transition: opacity 200ms ease 0s;
    width: 10px;
}
